<!DOCTYPE html>
<html>
<head>

	
	<title></title>
	
</head>
<body>

		<br>
		<table style="font-size:9px;width: 100%;" align="center" border="0">
		    <tr>
		        <td colspan="2"><p style="font-size:1.9em; text-align:center; "> <b>DECLARACION JURADA DE AUTORIZACION</b></p></td>
		    </tr>
		    <tr>
		        <td colspan="2" class="table-cuerpo" > 
		            <p>Yo, <b id="nombrePadre-declaracion-jurada">{{inscripcion[0]['nombrePadre']}}</b> <b id="apellidoPaterno-declaracion-jurada">{{inscripcion[0]['apellidoPaternoApoderado']}}</b> <b id="apellidoMaterno-declaracion-jurada">{{inscripcion[0]['apellidoMaternoApoderado']}}</b> identificado(a) con Documento Nacional de Identidad Nº <b id="dniPadre-declaracion-jurada" >{{inscripcion[0]['dniApoderado']}}</b>, padre/madre o apoderado
		                del (la) menor  <b id="nombreParticipante-declaracion-jurada" >{{inscripcion[0]['nombre']}}</b> <b id="apellidoPaternoParticipante-declaracion-jurada" >{{inscripcion[0]['apellidoPaterno']}}</b>  <b id="apellidoMaternoParticipante-declaracion-jurada" >{{inscripcion[0]['apellidoMaterno']}}</b> con Domicilio <b id="domicilio-declaracion-jurada" >{{inscripcion[0]['direccion']}}</b> , Distrito <b>{{inscripcion[0]['distrito']}}</b>
		                 y Teléfono <b>{{inscripcion[0]['telefono']}}</b>.</p>
		            <p>Formulo la presente Declaración Jurada de Autorización, en virtud del Principio de Presunción de Veracidad y el artículo 
		                42º de la Ley Nº 27444, "Ley del Procedimiento Administrativo General". <b class="importante">Para Autorizar, a mi menor hijo(a)/tutelado(a) </b> <b id="nombrePadre-declaracion-jurada">{{inscripcion[0]['nombre']}}</b> <b id="apellidoPaterno-declaracion-jurada">{{inscripcion[0]['apellidoPaterno']}}</b> <b id="apellidoMaterno-declaracion-jurada">{{inscripcion[0]['apellidoMaterno']}}</b>
		               , identificado(a) con DNI Nº <b class="dniParticipante-declaracion-jurada">{{inscripcion[0]['dni']}}</b>  <b class="importante"> a participar en el Programa "LA ACADEMIA"</b> 
		                que se realizará  en la infraestructura deportiva del IPD  ubicado en el Complejo Deportivo <b id="complejo-declaracion-jurada" >{{inscripcion[0]['nombreComplejo']}}</b> .</p>
		            <p>Es por ello, que me comprometo libre y voluntariamente, asumir las responsabilidades que se pudieran presentarse sobre la participación 
		                de mi menor hijo/tutelado durante el Programa Deporte para Todos, conforme se precisa a continuación:</p>
		            <ol style="margin-left:10px;" >
		                <li>Declaro que mi hijo(a)/tutelado(a) se encuentra apto física y mentalmente para realizar actividades físicas, deportivas y recreactivas en general, por lo que <b class="importante" >libero de toda responsabilidad</b > al IPD por cualquier eventualidad que pueda surgir por el normal transcurrir de las actividades del Programa Deporte para Todos.</li>
		                <li>Informaré al IPD sobre cualquier cambio en el estado físico o de salud de mi hijo(a)/tutelado(a) que se detecte o se desarrolle en cualquier etapa de su vida, después de la fecha en que se firme el presente documento.</li>
		                <li>Manifiesto que mi hijo(a)/tutelado(a), es responsable en todo momento por su comportamiento en el programa Deporte para Todos, por lo que libero de responsabilidad al Instituto Peruano del Deporte y a sus empleados por cualquier daño o gasto que resulte del comportamiento de mi menor hijo(a)/tutelado(a).</li>
		                <li>Comprendo que la participación de mi menor hijo(a)/tutelado(a) en estos deportes conlleva un riesgo, como es la producción de lesiones, en especial en la práctica de deportes de contacto, <b class="importante">por lo que expresamente demuestro mi conformidad con todos los riesgos que existen en el deporte en el cual mi hijo(a)/tutelado(a) participará.</b></li>
		                <li>Es mi responsabilidad como padre, madre y/o apoderado(a), que mi menor hijo(a)/tutelado(a) cuente con un seguro médico vigente, para atenderse ante cualquier emergencia y urgencia médica que se pueda presentar durante su participación en el Programa Deporte para Todos.</li>
		                <li>Los casos no mencionados en los párrafos anteriores, serán evaluados por los responsables del Programa Deporte para Todos de acuerdo a la gravedad de los hechos suscitados y si resultara infractor mi menor hijo(a)/tutelado(a) o mi persona, asumiré las responsabilidades que esto demanda sin perjucio alguno al IPD.</li>
		            </ol>
		            <p>En ese sentido, el Instituto Peruano del Deporte, tomará en cuenta la información consignada en este documento, reservándose el derecho de llevar a cabo las verificaciones correspondientes; 
		                así como solicitar la acreditación de la misma. En caso de detectarse de omitir, ocultar o consignar información falsa, se procederá con las acciones legales que corresponden.</p>
		            <p>Seguidamente, en caso de resultar falsa la información que proporciono, me sujeto a los alcances de lo establecido en el artículo 411º del Código Penal, 
		                concordante con el artículo 32º de la Ley Nº 27444, Ley del Procedimiento Administrativo General.</p>
		            <p>Por medio de la presente, eximo al IPD y a sus empleados de todo reclamo, demanda o actuación legal que estuviese de cualquier forma relacionada con la 
		                participación del menor de edad que se encuentra bajo mi cargo, durante el desarrollo del programa Deporte para Todos, excepto que tales reclamos se basen en la 
		                negligencia o en la conducta inapropiada intencional de los trabajadores del IPD, siempre y cuando estos mismos ocurran dentro de los horarios en los que se desarrolle las actividades del programa.
		            Por tal motivo y en constancia de lo expuesto, firmo el presente documento.</p>
		        </td>       
		    </tr>
		    <br/>
		    <tr >
		        <td style="width: 50%; text-align: center;">
					<br/>
		        </td>
		{#        <td style="width: 50%" align="center">&nbsp;</td>#}
		    </tr>
		     <tr>
		        <td colspan="2" style="text-align: right;">
		           <p style="font-size:10px;" > Lima, {{ "now"|date("d") }} de {{ "now"|date("m")|replace({
		                '01'  : 'Enero',
		                '02'  : 'Febrero',
		                '03'  : 'Marzo',
		                '04'  : 'Abril',
		                '05'  : 'Mayo',
		                '06'  : 'Junio',
		                '07'  : 'Julio',
		                '08'  : 'Agosto',
		                '09'  : 'Setiembre',
		                '10'  : 'Octubre',
		                '11'  : 'Noviembre',
		                '12'  : 'Diciembre'
		            }) }} del {{ "now"|date("Y") }}</p>
		        </td>
		    </tr>
		    <br/>
		    <br/>
		    <br/>
		    <br/>
		    <br/>
		    <br/>
		    <br/>
		    <br/>
		    <br/>    
		    <tr>
		        <td style="width: 50%" align="center">____________________________</td>
		        <td style="width: 50%" align="center">____________________________</td>
		    </tr>
		    <tr>
		        <td style="width: 50%"   align="center"><p style="font-size:12px;">HUELLA DACTILAR</p></td>
		        <td style="width: 50%"   align="center"><p style="font-size:12px;">FIRMA<br/></p></td>
		    </tr>	
		   
		</table>


</body>
</html>