<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>


    <div style="width: 85%; margin:0 auto; height: 100vh;">
        <div  class="pdfFichaInscripcion__header">
            
            <div class="container__logo" style=" border-radius: 10px;overflow: hidden; text-align:center; " >
                <img  height="70"  width="100" src="http://www.deportesperu.pe/wp-content/uploads/2014/01/logosipd-011.jpg" >
            </div>
            <p style="font-weight: bold;font-size:1.3em; text-align: center; padding-bottom:-20px;" >DIRECCION NACIONAL DE RECREACION Y PROMOCION DEL DEPORTE</p>
            <p style="text-align:center;">ACADEMIA IPD</p>
            <p style="text-align:center;">VERANO 2018</p>
            <p style="text-align: center;font-size:1.4em;font-weight: bold; ">FICHA DE INSCRIPCION</p>
        </div>

        <table>
             <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
            <tbody>
                 <tr>
                                    <td style="width:100px;    padding-bottom: 8px;"></td>
                                    <td style="width:60%;    padding-bottom: 8px;">DATOS PERSONALES</td>
                                    <td style="width:40%;    padding-bottom: 8px;"></td>
                  </tr>
                  <tr>
                                    <td style="width:100px;    padding-bottom: 8px;"></td>
                                    <td style="width:60%;    padding-bottom: 8px;"></td>
                                    <td style="width:40%;    padding-bottom: 8px;"></td>
                   </tr>
                                <br> 
                                <tr>
                                    <td style="width:100px;    padding-bottom: 8px;"></td>
                                    <td style="width:40%;    padding-bottom: 8px;"> Nombre:</td>
                                    <td style="width:40%;    padding-bottom: 8px;">{{inscripcion[0]['nombre']}}</td>
                                </tr>
                                <tr>
                                    <td style="width:100px;    padding-bottom: 8px;"></td>
                                    <td style="width:40%;    padding-bottom: 8px;"> Apellido Paterno:</td>
                                    <td style="width:40%;    padding-bottom: 8px;">{{inscripcion[0]['apellidoPaterno']}}</td>
                                </tr>
                                <tr>
                                    <td style="width:100px;    padding-bottom: 8px;"></td>
                                    <td style="width:40%;    padding-bottom: 8px;"> Apellido Materno:</td>
                                    <td style="width:40%;    padding-bottom: 8px;">{{inscripcion[0]['apellidoMaterno']}}</td>
                                </tr>
                                 <tr>
                                    <td style="width:100px;    padding-bottom: 8px;"></td>
                                    <td style="width:40%;    padding-bottom: 8px;"> Apellido Paterno:</td>
                                    <td style="width:40%;    padding-bottom: 8px;">{{inscripcion[0]['apellidoPaterno']}}</td>
                                </tr>
                                <tr>
                                    <td style="width:100px;    padding-bottom: 8px;"></td>
                                    <td style="width:40%;    padding-bottom: 8px;"> Distrito:</td>
                                    <td style="width:40%;    padding-bottom: 8px;">{{inscripcion[0]['distrito']}}</td>
                                </tr>
                                <tr>
                                    <td style="width:100px;    padding-bottom: 8px;"></td>
                                    <td style="width:40%;    padding-bottom: 8px;"> Domicilio:</td>
                                    <td style="width:40%;    padding-bottom: 8px;">{{inscripcion[0]['nombre']}}</td>
                                </tr>
                                <tr>
                                    <td style="width:100px;    padding-bottom: 8px;"></td>
                                    <td  style="width:40%;    padding-bottom: 8px;"> Fecha Nacimiento: </td>
                                    <td  style="width:40%;    padding-bottom: 8px;">{{inscripcion[0]['fechaNacimiento']}}</td>
                                </tr>
                                <tr>
                                    <td style="width:100px;    padding-bottom: 8px;"></td>
                                    <td  style="width:40%;    padding-bottom: 8px;"> Telefono: </td>
                                    <td   style="width:40%;    padding-bottom: 8px;">{{inscripcion[0]['telefono']}}</td>
                                </tr>
                                <tr>
                                    <td style="width:100px;    padding-bottom: 8px;"></td>
                                    <td  style="width:40%;    padding-bottom: 8px;"> DNI: </td>
                                    <td  style="width:40%;    padding-bottom: 8px;">{{inscripcion[0]['dni']}}</td>
                                </tr>

                                <tr>
                                    <td style="width:100px;    padding-bottom: 8px;"></td>
                                    <td  style="width:40%;    padding-bottom: 8px;"> Edad: </td>
                                    <td  style="width:40%;    padding-bottom: 8px;">{{inscripcion[0]['edad']}}</td>
                                </tr>

                                <tr>
                                    <td style="width:100px;    padding-bottom: 8px;"></td>
                                    <td  style="width:40%;    padding-bottom: 8px;"> Email:</td>
                                    <td  style="width:40%;    padding-bottom: 8px;"> {{inscripcion[0]['correo']}}</td>
                                </tr>
                                <tr>
                                    <td style="width:100px;    padding-bottom: 8px;"></td>
                                    <td  style="width:40%;    padding-bottom: 8px;"> COMPLEJO DEPORTIVO: </td>
                                    <td  style="width:40%;    padding-bottom: 8px;">{{inscripcion[0]['nombreComplejo']}}</td>
                                </tr>

                                <tr>
                                    <td style="width:100px;    padding-bottom: 8px;"></td>
                                    <td  style="width:40%;    padding-bottom: 8px;"> DISCIPLINA DEPORIVA:</td>
                                    <td  style="width:40%;    padding-bottom: 8px;"> {{inscripcion[0]['nombreDisciplina']}}</td>
                                </tr>

                                <tr>
                                    <td style="width:100px;    padding-bottom: 8px;"></td>
                                    <td  style="width:40%;    padding-bottom: 8px;"> HORARIOS : </td>
                                    <td  style="width:40%;    padding-bottom: 8px;">{{inscripcion[0]['horaInicio']}} a {{inscripcion[0]['horaFin']}} martes a viernes.</td>
                                </tr>
            </tbody>
        </table>

    </div>
</body>
</html>

    



