<!DOCTYPE html>
<html>
<head>
	<title></title>
	
	<style type="text/css">
{#


			.pdfFichaInscripcion__header> div > p{
				font-weight: bold;				
			}
			.pdfFichaInscripcion__header> div > p:first-child{

				font-size: 1.4em;
			}

	.container-datosPersonales{
		
			width: 100%;
			padding-bottom: 20px;

	}		

		.pdfFichaInscripcion__campos{
			
			width: 40%;

			font-weight: bold;
 			float: left;

			
		}

			.pdfFichaInscripcion__campos>p{
				font-size: 1.1em;
				
			}

		.pdfFichaInscripcion__valores{
			width: 60%;
			
			float: left;
			
		}
			.pdfFichaInscripcion__valores>p{
				font-size: 1.1em;
			}
	
	.container__disciplina-horario{
		width: 100%;
		
	}

		.container__disciplina-horario>div {
			

			font-weight: bold;
			font-size: 1.3em;
			

		}

	#fichaPdfComplejoDeportivo{
		font-weight: normal;
	}

	#fichaPdfDisciplinaDeporiva{
		font-weight: normal;
	}

	#fichaPdfHorario{
		font-weight: normal;
	}

	.parrafo__disciplina-horario{
		padding-right: 5px;
	}



	.container__logo>img{
		border:1px solid black;
	}
#}
	</style>

</head>
<body>


	<div style="width: 85%; margin:0 auto; height: 100vh; font-family: 'Open Sans'; sans-serif;">
		<div  class="pdfFichaInscripcion__header">
			
			<div class="container__logo" style=" border-radius: 10px;overflow: hidden; text-align:center; " >
				<img  height="70"  width="100" src="http://www.deportesperu.pe/wp-content/uploads/2014/01/logosipd-011.jpg" >
			</div>
			<p style="font-weight: bold;font-size:1.3em;font-family: 'Marcellus SC', serif;font-weight: bold; text-align: center; padding-bottom:-20px;" >DIRECCION NACIONAL DE RECREACION Y PROMOCION DEL DEPORTE</p>
			<p style="text-align:center;">ACADEMIA IPD</p>
			<p style="text-align:center;">VERANO 2018</p>
			<p style="text-align: center;font-size:1.4em;font-family: 'Marcellus SC', serif;font-weight: bold; ">FICHA DE INSCRIPCION</p>
		</div>

		<table>
			<tbody>
					<tr style="margin:4px;">
					<td colspan="1" ></td>
					<td colspan="1">DATOS PERSONALES:</td>
					<td colspan="1"></td>
				</tr>
				<tr style="margin:4px;">

					<td colspan="1" ></td>
					<td colspan="1">Nombre: {{inscripcion[0]['nombre']}}</td>
					<td colspan="1"></td>
				</tr>

				<tr style="margin:4px;">

					<td colspan="1" ></td>
					<td colspan="1">Apellido Paterno: {{inscripcion[0]['apellidoPaterno']}}</td>
					<td colspan="1"></td>
				</tr>

				<tr style="margin:4px;">

					<td colspan="1" ></td>
					<td colspan="1">Apellido Materno: {{inscripcion[0]['apellidoMaterno']}}</td>
					<td colspan="1"></td>
				</tr>
				<tr style="margin:4px;">

					<td colspan="1" ></td>
					<td colspan="1">Distrito: {{inscripcion[0]['distrito']}}</td>
					<td colspan="1"></td>
				</tr>

				<tr style="margin:4px;">

					<td colspan="1" ></td>
					<td colspan="1">Domicilio: {{inscripcion[0]['nombre']}}</td>
					<td colspan="1"></td>
				</tr>

				<tr style="margin:4px;">

					<td colspan="1" ></td>
					<td colspan="1">Fecha Nacimiento: {{inscripcion[0]['fechaNacimiento']}}</td>
					<td colspan="1"></td>
				</tr>

				<tr style="margin:4px;">

					<td colspan="1" ></td>
					<td colspan="1">Telefono: {{inscripcion[0]['telefono']}}</td>
					<td colspan="1"></td>
				</tr>

				<tr style="margin:4px;">

					<td colspan="1" ></td>
					<td colspan="1">Dni: {{inscripcion[0]['dni']}}</td>
					<td colspan="1"></td>
				</tr>

				<tr style="margin:4px;">

					<td colspan="1" ></td>
					<td colspan="1">Edad: {{inscripcion[0]['edad']}}</td>
					<td colspan="1"></td>
				</tr>

				<tr style="margin:4px;">

					<td colspan="1" ></td>
					<td colspan="1">Email: {{inscripcion[0]['correo']}}</td>
					<td colspan="1"></td>
				</tr>
				<tr style="margin:4px;">

					<td colspan="1" ></td>
					<td colspan="1">COMPLEJO DEPORTIVO: {{inscripcion[0]['nombreComplejo']}}</td>
					<td colspan="1"></td>
				</tr>

				<tr style="margin:4px;">

					<td colspan="1" ></td>
					<td colspan="1">DISCIPLINA DEPORIVA: {{inscripcion[0]['nombreDisciplina']}}</td>
					<td colspan="1"></td>
				</tr style="margin:4px;">

				<tr style="margin:4px;">

					<td colspan="1" ></td>
					<td colspan="1">HORARIOS: De {{inscripcion[0]['horaInicio']}} a {{inscripcion[0]['horaFin']}} martes a viernes.</td>
					<td colspan="1"></td>
				</tr>

			</tbody>
		</table>

	</div>
</body>
</html>

	



