<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>


    <div style="width: 85%; margin:0 auto; height: 100vh;">
        <div  class="pdfFichaInscripcion__header">
            
            <div class="container__logo" style=" border-radius: 10px;overflow: hidden; text-align:center; " >
                <img  height="70"  width="100" src="http://www.deportesperu.pe/wp-content/uploads/2014/01/logosipd-011.jpg" >
            </div>
            <p style="font-weight: bold;font-size:1.3em; text-align: center; padding-bottom:-15px;" >DIRECCIÓN NACIONAL DE RECREACIÓN Y PROMOCIÓN DEL DEPORTE</p>
            <p style="text-align:center;">ACADEMIA IPD</p>
             <p style="text-align:center;">VERANO 2018  </p>
            <p style="text-align: center;font-size:1.2em;font-weight: bold; ">FICHA DE INSCRIPCIÓN</p>
        </div>

        <table>
            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
            </thead>
            <tbody>
                    
                   <tr>
                                    <td style="width:100px;    padding-bottom: 8px;"></td>
                                    <td style="width:60%;    padding-bottom: 8px; font-weight:bold;">DATOS PERSONALES</td>
                                    <td style="width:40%;    padding-bottom: 8px;"></td>
                  </tr>
                                
                                <tr>
                                    <td style="width:100px;    padding-bottom: 8px;"></td>
                                    <td style="width:40%;    padding-bottom: 8px; font-weight:bold;"> Nombre:</td>
                                    <td style="width:40%;    padding-bottom: 8px;">{{inscripcion[0]['nombre']}}</td>
                                </tr>
                                <tr>
                                    <td style="width:100px;    padding-bottom: 8px;"></td>
                                    <td style="width:40%;    padding-bottom: 8px; font-weight:bold;"> Apellido Paterno:</td>
                                    <td style="width:40%;    padding-bottom: 8px;">{{inscripcion[0]['apellidoPaterno']}}</td>
                                </tr>
                                <tr>
                                    <td style="width:100px;    padding-bottom: 8px;"></td>
                                    <td style="width:40%;    padding-bottom: 8px; font-weight:bold;"> Apellido Materno:</td>
                                    <td style="width:40%;    padding-bottom: 8px;">{{inscripcion[0]['apellidoMaterno']}}</td>
                                </tr>
                            
                                <tr>
                                    <td style="width:100px;    padding-bottom: 8px;"></td>
                                    <td style="width:40%;    padding-bottom: 8px; font-weight:bold;"> Distrito:</td>
                                    <td style="width:40%;    padding-bottom: 8px;">{{inscripcion[0]['distrito']}}</td>
                                </tr>
                                <tr>
                                    <td style="width:100px;    padding-bottom: 8px;"></td>
                                    <td style="width:40%;    padding-bottom: 8px; font-weight:bold;"> Domicilio:</td>
                                    <td style="width:40%;    padding-bottom: 8px;">{{inscripcion[0]['direccion']}}</td>
                                </tr>
                                <tr>
                                    <td style="width:100px;    padding-bottom: 8px;"></td>
                                    <td style="width:40%;    padding-bottom: 8px; font-weight:bold;"> Fecha Nacimiento: </td>
                                    <td style="width:40%;    padding-bottom: 8px;">{{inscripcion[0]['fechaNacimiento']}}</td>
                                </tr>
                                <tr>
                                    <td style="width:100px;    padding-bottom: 8px;"></td>
                                    <td style="width:40%;    padding-bottom: 8px; font-weight:bold;"> Telefono: </td>
                                    <td style="width:40%;    padding-bottom: 8px;">{{inscripcion[0]['telefono']}}</td>
                                </tr>
                                <tr>
                                    <td style="width:100px;    padding-bottom: 8px;"></td>
                                    <td style="width:40%;    padding-bottom: 8px; font-weight:bold;"> DNI: </td>
                                    <td style="width:40%;    padding-bottom: 8px;">{{inscripcion[0]['dni']}}</td>
                                </tr>

                                <tr>
                                    <td style="width:100px;    padding-bottom: 8px;"></td>
                                    <td  style="width:40%;    padding-bottom: 8px; font-weight:bold;"> Edad: </td>
                                    <td  style="width:40%;    padding-bottom: 8px;">{{inscripcion[0]['edad']}} años</td>
                                </tr>

                                <tr>
                                    <td style="width:100px;    padding-bottom: 8px;"></td>
                                    <td  style="width:40%;    padding-bottom: 8px; font-weight:bold;"> Email:</td>
                                    <td  style="width:40%;    padding-bottom: 8px;"> {{inscripcion[0]['correo']}}</td>
                                </tr>
                                <tr>
                                    <td style="width:100px;    padding-bottom: 8px;"></td>
                                    <td  style="width:40%;    padding-bottom: 8px; font-weight:bold;"> Complejo Deportivo: </td>
                                    <td  style="width:40%;    padding-bottom: 8px;">{{inscripcion[0]['nombreComplejo']}}</td>
                                </tr>

                                <tr>
                                    <td style="width:100px;    padding-bottom: 8px;"></td>
                                    <td  style="width:40%;    padding-bottom: 8px; font-weight:bold;"> Disciplina deportiva:</td>
                                    <td  style="width:40%;    padding-bottom: 8px;"> {{inscripcion[0]['nombreDisciplina']}}</td>
                                </tr>

                                <tr>
                                    <td style="width:100px;    padding-bottom: 8px;"></td>
                                    <td  style="width:40%;    padding-bottom: 8px; font-weight:bold;"> Horarios : </td>
                                    <td  style="width:40%;    padding-bottom: 8px;">{{inscripcion[0]['horaInicio']}} a {{inscripcion[0]['horaFin']}} - {{inscripcion[0]['turno']}}.</td>
                                </tr> <br><br><br>
                                <tr>
                                    <td style="width:100px;"></td>
                                    <td style="width:40%;    padding-bottom: 2px;"></td>
                                    <td style="width:40%;    padding-bottom: 2px; color:#AF1313; font-weight:bold;">Código de Registro: {{inscripcion[0]['id']}}</td>
                                    
                                </tr>

            </tbody>
        </table>      
     
    </div>
    <footer>
         <p style="font-size:9px"><i>(*) Recuerde que esto es sólo una pre-inscripción. La inscripción finaliza en el mismo complejo con la entrega de los documentos solictados, por ello la ficha no confirma por sí misma la matrícula.</i></p>
    </footer>
</body>
</html>

    



