<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    
    <div style="width: 85%; margin:0 auto; height: 100vh;">
        <div  class="pdfFichaInscripcion__header">
            
            <div class="container__logo" style=" border-radius: 10px;overflow: hidden; text-align:center; " >
                <img  height="70"  width="100" src="http://www.deportesperu.pe/wp-content/uploads/2014/01/logosipd-011.jpg" >
            </div>
            <p style="font-weight: bold;font-size:1.1em; text-align: center; padding-bottom:-15px;" >DIRECCIÓN NACIONAL DE RECREACIÓN Y PROMOCIÓN DEL DEPORTE</p>
            <p style="text-align:center">ACADEMIA IPD - INVIERNO 2018 </p>         
            <p style="text-align: center;font-size:1.1em;font-weight: bold;"> FICHA DE PRE INSCRIPCIÓN </p>

        </div>

        <table>
            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
            </thead>
            <tbody>
                    
                   <tr>
                                    <td style="width:100px;  padding-bottom: 4px;"></td>
                                    <td style="width:60%;    padding-bottom: 4px; font-weight:bold;">DATOS PERSONALES</td>
                                    <td style="width:40%;    padding-bottom: 4px;"></td>
                  </tr>
                                
                                <tr>
                                    <td style="width:100px;  padding-bottom: 4px;"></td>
                                    <td style="width:40%;    padding-bottom: 4px; font-weight:bold;"> Nombre:</td>
                                    <td style="width:40%;    padding-bottom: 4px;">{{inscripcion[0]['pernombres']}}</td>
                                </tr>
                                <tr>
                                    <td style="width:100px;  padding-bottom: 4px;"></td>
                                    <td style="width:40%;    padding-bottom: 4px; font-weight:bold;"> Apellido Paterno:</td>
                                    <td style="width:40%;    padding-bottom: 4px;">{{inscripcion[0]['perapepaterno']}}</td>
                                </tr>
                                <tr>
                                    <td style="width:100px;  padding-bottom: 4px;"></td>
                                    <td style="width:40%;    padding-bottom: 4px; font-weight:bold;"> Apellido Materno:</td>
                                    <td style="width:40%;    padding-bottom: 4px;">{{inscripcion[0]['perapematerno']}}</td>
                                </tr>
                            
                                <tr>
                                    <td style="width:100px;  padding-bottom: 4px;"></td>
                                    <td style="width:40%;    padding-bottom: 4px; font-weight:bold;"> Distrito:</td>
                                    <td style="width:40%;    padding-bottom: 4px;">{{inscripcion[0]['distrito']}}</td>
                                </tr>
                                <tr>
                                    <td style="width:100px;    padding-bottom: 4px;"></td>
                                    <td style="width:40%;    padding-bottom: 4px; font-weight:bold;"> Domicilio:</td>
                                    <td style="width:40%;    padding-bottom: 4px;">{{inscripcion[0]['perdomdireccion']}}</td>
                                </tr>
                                <tr>
                                    <td style="width:100px;    padding-bottom: 4px;"></td>
                                    <td style="width:40%;    padding-bottom: 4px; font-weight:bold;"> Fecha Nacimiento: </td>
                                    <td style="width:40%;    padding-bottom: 4px;">{{inscripcion[0]['perfecnacimiento']}}</td>
                                </tr>
                                <tr>
                                    <td style="width:100px;    padding-bottom: 4px;"></td>
                                    <td style="width:40%;    padding-bottom: 4px; font-weight:bold;"> Telefono: </td>
                                    <td style="width:40%;    padding-bottom: 4px;">{{inscripcion[0]['pertelefono']}}</td>
                                </tr>
                                <tr>
                                    <td style="width:100px;    padding-bottom: 4px;"></td>
                                    <td style="width:40%;    padding-bottom: 4px; font-weight:bold;"> DNI: </td>
                                    <td style="width:40%;    padding-bottom: 4px;">{{inscripcion[0]['dni']}}</td>
                                </tr>

                                <tr>
                                    <td style="width:100px;    padding-bottom: 4px;"></td>
                                    <td  style="width:40%;    padding-bottom: 4px; font-weight:bold;"> Edad: </td>
                                    <td  style="width:40%;    padding-bottom: 4px;">{{inscripcion[0]['edad']}} años</td>
                                </tr>

                                <tr>
                                    <td style="width:100px;    padding-bottom: 4px;"></td>
                                    <td  style="width:40%;    padding-bottom: 4px; font-weight:bold;"> Email:</td>
                                    <td  style="width:40%;    padding-bottom: 4px;">{{inscripcion[0]['percorreo']}}</td>
                                </tr>
                                <tr>
                                    <td style="width:100px;    padding-bottom: 4px;"></td>
                                    <td  style="width:40%;    padding-bottom: 4px; font-weight:bold;"> Complejo Deportivo: </td>
                                    <td  style="width:40%;    padding-bottom: 4px;">{{inscripcion[0]['nombreComplejo']}}</td>
                                </tr>

                                <tr>
                                    <td style="width:100px;    padding-bottom: 4px;"></td>
                                    <td  style="width:40%;    padding-bottom: 4px; font-weight:bold;"> Disciplina deportiva:</td>
                                    <td  style="width:40%;    padding-bottom: 4px;">{{inscripcion[0]['nombreDisciplina']}}</td>
                                </tr>

                                 <tr>
                                    <td style="width:100px;    padding-bottom: 4px;"></td>
                                    <td  style="width:40%;    padding-bottom: 4px; font-weight:bold;"> Discapacidad:</td>
                                    
                                    {% if inscripcion[0]['discapacitados']  == 0 %}
                                        <td  style="width:40%;    padding-bottom: 4px;">No </td>
                                    {% else %}
                                        <td  style="width:40%;    padding-bottom: 4px;"> Si</td>
                                    {% endif %}

                                </tr>

                                <tr>
                                    <td style="width:100px;    padding-bottom: 4px;"></td>
                                    <td  style="width:40%;    padding-bottom: 4px; font-weight:bold;"> Horarios : </td>
                                    <td  style="width:40%;    padding-bottom: 4px;">{{inscripcion[0]['horaInicio']}} a {{inscripcion[0]['horaFin']}} - {{inscripcion[0]['turno']}}.</td>
                                </tr> <br><br><br>
                                <tr>
                                    <td style="width:120px;"></td>
                                    <td style="width:40%;    padding-bottom: 2px;"></td>
                                    <td style="width:40%;    padding-bottom: 2px; color:#AF1313; font-weight:bold;">Código de Registro: {{inscripcion[0]['id']}}</td>
                                    
                                </tr>
                                <br>
                                <tr>
                                    <td style="width:150px;"></td>
                                    <td style="width:50%;  padding-bottom: 2px;"></td>
                                    <td style="">{{inscripcion[0]['fechaModif']|date('d/m/Y')}}
                                    </td>
                                </tr>
            </tbody>
        </table>      
     
    </div>
    <footer>
         <p style="font-size:10px"><i>(*) La pre-inscripcion no reserva vacantes.</i></p>
              
    </footer>
</body>
</html>

    



