<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('assets/images/logofavicon.png') }}" />
        <link rel="stylesheet"  href="{{asset('assets/vendor/bootstrap/dist/css/bootstrap.css')}}">
        <link rel="stylesheet"  href="{{asset('assets/vendor/css/estilos.css')}}">
        <link href="https://file.myfontastic.com/YmJUfPpwy2GMnYpbPNqWHN/icons.css" rel="stylesheet">
        <link rel="stylesheet"  href="{{asset('assets/vendor/css/estilosPdfInscripcion.css')}}">
        <link href="https://fonts.googleapis.com/css?family=Cinzel|Josefin+Slab|Marcellus+SC|Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/alertify.rtl.min.css"/>
    </head>
    <body>
        
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>                       
                    <img src="{{ asset('assets/images/logo_academia.png') }}" class="img-responsive" alt="" />                                      
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <br>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/">Inscripciones</a></li>
                        <li><a href="/consulta">Consultas</a></li>
                        <li><a href="/login">Promotores</li>
                    </ul>
                </div>
            </div>
        </nav>

        {% block body %}{% endblock %}
        {% block javascripts %}
                
        {% endblock %}
        
    </body>
</html>
