<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>
        <meta name="robots" content="noindex,nofollow" />
        <!--title>{% block title %} {{ global.title }}{% endblock %}</title-->
        <title>Página no encontrada</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('logo.png') }}" />
        <link href="{{ asset('bundles/framework/css/structure.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('bundles/framework/css/body.css') }}" rel="stylesheet" type="text/css" media="all" />
        {% block head %}{% endblock %}
    </head>
    <body>
        <div id="content">
            <div class="header clear-fix">
                <div class="header-logo">
                    <!--img src="http://localhost/recursos/frmwork/img/logo_2.png" alt="IPD" /-->
                </div>

 
            </div>

            <div class="sf-reset">
                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>
