{% extends '::base.html.twig' %}
{% block title %}La Academia{% endblock %}
{% block body  %}

<header>
	 <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    
                </button>                       
                <img src="{{ asset('assets/images/logo_academia.png') }}" class="img-responsive" alt="" />                              
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <br>
                <ul class="nav navbar-nav navbar-right">
                    
                    <li title="Horarios"><a href="{{url('akademia_horarios')}}"><i class="icon-arrow-left" style="font-size:1.5em; color:white"></i></a></li>
                    <li title="Inicio"><a href="{{url('akademia_panel')}}"><i class="icon-home" style="font-size:1.5em; color:white"></i></a></li>
                    <li title="Cerrar sesión"><a href="{{url('akademia_logout')}}"><i class="icon-logout" style="font-size:1.5em; color:white" ></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<section class="proceso-inscripcion">
		<div id="proceso1" class="proceso" style="margin-bottom: 60px;">
			<h2>CP {{horarios[0]['nombreComplejo']}}</h2>
			<div id="ficha-participante-container" class="container-card col-xs-12 col-sm-10 col-md-10 col-lg-10">	
				<div class="card">
					<div class="card-header text-center">
						<h3>{{horarios[0]['nombreDisciplina']}}</h3>
					</div>
					<hr>

					<div class="card-body">
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="row">
									<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
										<strong>Cod-horario:</strong>
									</div>
									<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
										{{horarios[0]['idHorario']}}
									</div>									
								</div>
							</div>

							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="row">

									<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
										<strong>Turno:</strong>
									</div>
									<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
										{{horarios[0]['turno']}}
									</div>									
								</div>
							</div>

							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="row">
									<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
										<strong>Hora:</strong>
									</div>
									<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
										{{horarios[0]['horaInicio']|date('H:i')}} - {{horarios[0]['horaFin']|date('H:i')}}
									</div>			
								</div>
							</div>

							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="row">
									<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
										<strong>Edades:</strong>
									</div>
									<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
										{{horarios[0]['edadMinima']}} - {{horarios[0]['edadMaxima']}} años
									</div>									
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="row">
									<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
										<strong>Vacantes:</strong>
									</div>
									<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
										{{horarios[0]['vacantes']}}
									</div>	
								</div>
							</div>

							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								
								<div class="row">

									<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
										<strong>Discapacidad:</strong>
									</div>
									
										{% if horarios[0]['discapacidad'] == 0 %}
											<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
												No
											</div>
										{% else %}
											<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
												Si
											</div>

										{% endif %}
										
								</div>
							</div>
						</div>
					</div>
				</div>	
			</div>

			<br>

			<div id="alert-info" class="alert alert-warning alert-dismissible text-center" role="alert">
				<button id="btn-close-alert-info" type="button" class="close"><span aria-hidden="true">&times;</span></button>
				<p>Puedes actualizar el estado de los participantes de este horario, verificar su asistencia, darlos de baja y recomendarlos como talentos</p>
			</div>

			<div id="ficha-participante-container" class="container-card col-xs-12 col-sm-10 col-md-10 col-lg-10">
				<div class="card">
					<div class="card-header text-center" role="tab">
						<h3>Lista de Inscritos</h3>
					</div>
					<hr>
					{% set cont = 0 %}
					<div class="card-body">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="input-group col-xs-4 col-sm-4 col-md-4 col-lg-4">
								 	<span class="input-group-addon">Buscar</span>
								  	<input class="filtrar form-control" type="text" ident-buscar="{{cont}}"  placeholder=" ingresa los campos a buscar ">
								</div>
								<br>
								<div class="panel panel-default" style="overflow-x:auto;">
									<table class="table"> 
										<thead style="background:#F2F2F2; color:#585858"> 
											<tr> 
												<th class="text-center">Cod-inscripción</th>
												<th class="text-center">Nombre</th> 
												<th class="text-center">DNI</th>
												<th class="text-center">Edad</th> 
												<th class="text-center">Sexo</th> 
												<th class="text-center">Categoría</th>
												<th class="text-center">Asistencia</th>
												<th></th>
											</tr>

										</thead> 

										<tbody class="buscar" style="color:#494343"> 

											{% for beneficiario in beneficiarios %}
												<tr> 
													<td class="text-center">{{beneficiario['idInscribete']}}</td>
													<td>{{beneficiario['nombre']}}</td> 
													<td class="text-center">{{beneficiario['dni']}}</td> 
													<td class="text-center">{{beneficiario['edad']}}</td> 
													
													{% if beneficiario['sexo'] == 0 %}
														<td class="text-center"> Femenino </td> 
													{% else %}
														<td class="text-center"> Masculino </td>
													{% endif %}

													{% if beneficiario['idCategoria'] == 1 %}
														<td class="text-center" >No seleccionado</td>
													{% elseif beneficiario['idCategoria'] == 2 %}
														<td class="text-center" >Seleccionado</td>
													{% elseif beneficiario['idCategoria'] == 3 %}
														<td class="text-center">Evaluado</td>
													{% elseif beneficiario['idCategoria'] == 4 %}
														<td class="text-center">Talento</td>
													{% endif %} 

													{% if beneficiario['idAsistencia'] == 1 %}
														<td class="text-center">Inscrito</td>
													{% elseif beneficiario['idAsistencia'] == 2 %}
														<td class="text-center">Asistente</td>
													{% elseif beneficiario['idAsistencia'] == 3 %}
														<td class="text-center">Retirado</td>
													{% endif %}

													<td><button type="button" title="Editar datos" class="btn btn-danger" data-toggle="modal" data-target="#modal-editar" onclick="editarParticipante({{beneficiario['idParticipante']}})"><i class="icon-pencil-square-o" style="font-size:1em; margin-top:5px; color:white" ></button></td>
												</tr> 
												
											{% set cont = cont + 1 %}
											{% endfor %}								
										</tbody> 
									</table>
								</div>

							</div>

							<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
								<br>
								<div class="input-group">
									<span class="input-group-addon alert-info">Inscritos:</span>
									<p id="inscritos-horario" class="form-control">{{horarios[0]['inscritos']}}</p>
								</div>
							</div>

							<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
								<br>
								<div class="input-group">
									<span class="input-group-addon alert-success">Asistentes:</span>
									<p id="asistentes-horario" class="form-control">{{asistentes[0]['asistencias']}}</p>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
								<br>
								<div class="input-group">
									<span class="input-group-addon alert-danger">Retirados:</span>
									<p id="retirados-horario" class="form-control">{{retirados[0]['retirados']}}</p>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
								<br>
								<div class="input-group">
									<span class="input-group-addon alert-warning">Seleccionados:</span>
									<p id="talentos-horario" class="form-control">{{seleccionados[0]['seleccionados']}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>

<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
				<br>
				<br>
				<br>
				<img class="align-self-center foot" src="{{ asset('assets/images/ipdfooter.jpg')}}">
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<br><br>
				<h4>La Academia</h4>
				<p class="footerTex">
					Dirección:Calle Madre de Dios N° 463
				</p>
				<p class="footerTex">
					Teléfono: 204-8420 /anexo 1302
				</p>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<br><br>
				<h4>Enlaces de Interés</h4>
				<p><a class="footerTex" href="http://www.ipd.gob.pe/">Instituto Peruano del Deporte</a></p>
				<p><a class="footerTex" href="https://www.facebook.com/recreacion.ipd/">Facebook Recreación</a></p>
				<p><a class="footerTex" href="http://www.ipd.gob.pe/formacion-deportiva">Formación Deportiva</a></p>
			</div>
		</div>
		<br>
    	<p class="col-xs-12 col-sm-12 col-md-12 col-lg-12 copyright">&copy; 2018 Todos los derechos reservados</p>
	</div>
</footer>

<div id="modal-editar" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header text-center">
				<button type="button" class="close text-center" data-dismiss="modal">&times;</button>
				<h4 class="title-card" id="nombreParticipante" style="color:#38364D"></h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div id="alert-editar-participante" class="alert alert-warning alert-dismissible text-center" role="alert">
							<button id="btn-close-alert-editar-participante" type="button" class="close"><span aria-hidden="true">&times;</span></button>
							<p>Actualiza la categoría y asistencia del participante</p>
						</div>
						<div id="alerta-error" class="alert alert-danger collapse text-center"></div>
						<ul class="list-group">
							<li class="list-group-item">
								<div class="row">
									<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
										<p><strong>Cod-inscripción</strong></p>
									</div>
									<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
										<p id="idFicha"></p>
									</div>
								</div>
							</li>
							<li class="list-group-item">
								<div class="row">
									<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
										<p><strong>DNI</strong></p>
									</div>

									<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
										<p id="dniParticipante"></p>
									</div>
								</div>
							</li>

							<li class="list-group-item">
								<div class="row">
									<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
										<p><strong>Edad</strong></p>
									</div>
									<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
										<p id="edadParticipante"></p>
									</div>
								</div>
							</li>

							<li class="list-group-item">
								<div class="row">
									<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
										<p><strong>Sexo</strong></p>
									</div>
									<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
										<p id="sexoParticipante"></p>
									</div>
								</div>
							</li>

							<li class="list-group-item">
								<div class="row">
									<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
										<p><strong>Asistencia</strong></p>
									</div>
									<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
										<select class="form-control" id="asistenciaParticipante">
											<option value="0">--Seleccionar--</option>
											{% for asistencia in asistencias %}
												{% if asistencia['id'] != 1 %}
													<option value="{{asistencia['id']}}">{{asistencia['descripcion']}}</option>
												{% endif %}
											{% endfor %}
										</select>
									</div>
								</div>
							</li>

							<li class="list-group-item" id="cbx-categoria">
								<div class="row">
									<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
										<p><strong>Categoría</strong></p>
									</div>
									<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
										<select class="form-control" id="categoriaParticipante"  name="categoriaParticipante">
											<option value="0">--Seleccionar--</option>
											<option value="3" id="optiones">Evaluado</option>
											<option value="4" id="optiones2">Talento</option>
										
											{% for categoria in categorias %}
												{% if categoria['id'] != 3 and categoria['id'] != 4 %}
													<option value="{{categoria['id']}}">{{categoria['descripcion']}}</option>

												{% endif %}
											{% endfor %}
										</select>



									</div>
								</div>
							</li>	
							<br>
							<li class="list-group-item">
								<div class="row">
									<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
										<p><strong>Última modificación: </strong></p>
									</div>
									<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
										<p id="fecha-modificacion" style="color:grey"></p>
									</div>
								</div>
							</li>

						</ul>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				<button type="button" class="btn btn-danger" id="btn-actualizarEstado" data-dismiss="modal">Actualizar</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}
{% block javascripts %}

<script src="{{asset('assets/vendor/jquery/dist/jquery.js')}}"></script>
<script src="{{asset('assets/vendor/bootstrap/dist/js/bootstrap.js')}}"></script>
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/alertify.min.js"></script>


<script type="text/javascript">
	
		$(document).ready(function(){

			$('#btn-close-alert-info').click(function(){
				hideAlertMessage('#alert-info')
			});

			$('#btn-close-alert-editar-participante').click(function(){
				hideAlertMessage('#alert-editar-participante')
			});	

			$("#optiones").attr('hidden',true);
			$("#optiones2").attr('hidden',true);		

		});

		/*FILTROS */
		$(document).ready(function () {
            (function ($) {

            	var jsFiltrar = document.querySelectorAll('.filtrar');
            	var jsBuscar = document.querySelectorAll('.buscar');

            	for (var i = 0; i < jsFiltrar.length; i++) {

            		$(jsFiltrar[i]).keyup(function () {

            			var idfil = $(this).attr('ident-buscar');

	                    var rex = new RegExp($(this).val(),'i');
	                    $(jsBuscar[idfil]).children('tr').hide();
	                    $(jsBuscar[idfil]).children('tr').filter(function () {
	                        return rex.test($(this).text());
	                    }).show();
                	})
            	}  

            }(jQuery));

        });

		function editarParticipante(idParticipante){

			var idParticipante = idParticipante;
			clearData();
			
			$("#cbx-categoria").hide();

          	{% for beneficiario in beneficiarios %}

				if( "{{beneficiario['idParticipante']}}" == idParticipante ){
					
					$("#nombreParticipante").append("<p>{{beneficiario['nombre']}}</p>");
					$("#dniParticipante").append("<p>{{beneficiario['dni']}}</p>");
					$("#edadParticipante").append("<p>{{beneficiario['edad']}} años</p>");
					$("#idFicha").append("<p>{{beneficiario['idInscribete']}}</p>")

					
					if ("{{beneficiario['sexo']}}" == 0){
					 	$("#sexoParticipante").append("<p>Femenino</p>");	
					}else{
					 	$("#sexoParticipante").append("<p>Masculino</p>");
					}	

					var idCat = {{beneficiario['idCategoria']}};
					var idAsis = {{beneficiario['idAsistencia']}};

					let categoria = parseInt(idCat);


					if(idAsis == 1){
						
						$("#asistenciaParticipante").val(0);


					}else{

						$("#cbx-categoria").show();
						$("#asistenciaParticipante").val(idAsis);

						if(categoria == 3 || categoria == 4){

							$("#optiones").attr('hidden',false);
							$("#optiones2").attr('hidden',false);

							if(categoria == 3){
								$("#categoriaParticipante").val('3');
							}else if (categoria == 4){
								$("#categoriaParticipante").val('4');
							}
						
							
							$("#categoriaParticipante").attr('readonly',true);
							$("#categoriaParticipante").attr('disabled',true);
					
						}else{

							$("#optiones").attr('hidden',true);
							$("#optiones2").attr('hidden',true);
							$("#categoriaParticipante").attr('readonly',false);
							$("#categoriaParticipante").attr('disabled',false);
							$("#categoriaParticipante").val(idCat);
							
						
						}
						
					}

					$("#fecha-modificacion").append("<p>{{beneficiario['fechita']}}</p>")
					
				}

			{% endfor %}

		}

			$('#asistenciaParticipante').on('click', function(){

				var cbx_asist = document.getElementById("asistenciaParticipante").value;

				if(cbx_asist == 2){

					$("#cbx-categoria").show();

				}else if (cbx_asist == 3){
					
					$("#cbx-categoria").hide();
				}else{

					$("#cbx-categoria").hide();
				}

			});

		function clearData(){

			$("#nombreParticipante").empty();
			$("#dniParticipante").empty();
			$("#edadParticipante").empty();
			$("#sexoParticipante").empty();
			$("#idFicha").empty();
			$("#fecha-modificacion").empty();


		
		}

		/*ACTUALIZAR Beneficiario */

		$("#btn-actualizarEstado").on("click", function(){

			
			var asistencia = $("#asistenciaParticipante").val();
			var categoria = $("#categoriaParticipante").val();

			if(asistencia != 0 && categoria != 0){

				$("#btn-actualizarEstado").attr("data-dismiss", "modal");

				if(asistencia == 3){

					var asistencia = 3;
					var categoria = 1;
					var idFicha = $("#idFicha").text();

				}else{

					var asistencia = $("#asistenciaParticipante").val();
					var categoria = $("#categoriaParticipante").val();
					var idFicha = $("#idFicha").text();
				}
			//if(asistencia != 0 && categoria != 0){

				console.log(asistencia, categoria, idFicha);
				var dataBeneficiario = {
					"idFicha" : idFicha,
					"idAsistencia": asistencia,
					"idCategoria": categoria
				};

	
				$.ajax({
					type:'POST',
					dataType: 'json',
					url: "{{url('akademia_estadoBeneficiario')}}",
					data: dataBeneficiario,
					beforeSend: function(){				
					
					},

					success: function(data){

						if(data == 1){

							alertify.success('<p style="color:white">Beneficiario Actualizado</p>');
							location.reload(true);
							//window.location.href = "{{url('akademia_beneficiarios',{idHorario:id})}}";
								
						}
						if(data == 2){

							alertify.error('<p style="color:white">Se produjo un error.</p>');	
						}
						
					},

					error: function(data){
						alertify.error('<p style="color:white">Error </p>');	
						console.log(data);
					},
				});

			}else{

				$("#btn-actualizarEstado").attr("data-dismiss", "");
				showAlertMessage('#alerta-error', "Verifique que no existan campos vacíos.");
			}

		});

		/*Desplaza sutilmente la ventana hacía una sección*/
		function scrollTo(destino){
			$('html, body').animate({
				scrollTop: $(destino).offset().top
			}, 800);			
		}


		/*Muestra mensaje de alerta*/
		function showAlertMessage(alert, mensaje){
			$(alert).text(mensaje).show('fade');
			setTimeout(function(){
				hideAlertMessage(alert);	
			}, 2000);
		}

		/*Oculta mensaje de alerta*/
		function hideAlertMessage(alert){
			$(alert).hide('fade');		
		}
</script>


{% endblock %}