
{% extends '::base.html.twig' %}
{% block title %}Akademia{% endblock %}
{% block body  %}

<header>

<nav class="navbar navbar-inverse" role="navigation">

    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>                       
            <img src="{{ asset('assets/images/logo_academia.png') }}" class="img-responsive" alt="" />                                      
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <br>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{url('akademia_homepage')}}">Inscripciones</a></li>
                <li><a href="#preguntas-frecuentes">Consultas</a></li>
            </ul>
        </div>
    </div>
</nav>
</header>

<section class="preguntas-frecuentes" id="preguntas-frecuentes">

    <div class="container preguntas">
        <h1 class="preg">PREGUNTAS FRECUENTES</h1><br>

        <div class="card">
            <div class="card-header" role="tab" id="heading1">
                <h5 class="mb-0">
                    <a class="text-dark" class="collapsed" data-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapse1">
                        <strong>1. ¿Qué es el programa LA ACADEMIA?</strong>
                    </a>
                </h5>
            </div>
            <div id="collapse1" class="collapse" role="tabpanel" aria-labelledby="heading1" data-parent="#accordion">
                <div class="card-body">
                    Es un programa promovido por el IPD donde se brindan servicios de iniciación deportiva a través de un modelo articulado  y monitoreado, que desarrolla capacidades, habilidades  y destrezas desde la base, para la detección y captación  de  talentos deportivos  y su formación con miras a participar y  competir en torneos oficiales.
                    Este programa está dirigido a niños, niñas y adolescentes en edad escolar (de 6 a 17 años) a nivel nacional, a personas con discapacidad de edades superiores, en caso de contar con el talento necesario para llegar a un buen nivel técnico y realizar deporte adaptado. 
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="heading2">
                <h5 class="mb-0">
                    <a class="text-dark" class="collapsed" data-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapse2">
                        <strong>2. ¿Qué etapas comprende LA ACADEMIA?</strong>
                    </a>
                </h5>
            </div>
            <div id="collapse2" class="collapse" role="tabpanel" aria-labelledby="heading2" data-parent="#accordion">
                <div class="card-body">
                    <br>
                    <p>
                        Este programa está dividido en tres etapas:
                    </p>
                    <p>
                        <strong>1. Iniciación Deportiva:</strong> Etapa en la cual los participantes se inician en el proceso de enseñanza- aprendizaje, respecto a las disciplinas deportivas. En este periodo, se detectan los talentos a través de los juegos pre deportivos que asemejan los gestos técnicos de cada deporte. Se desarrollan las capacidades físicas básicas, coordinativas, social- afectivas, y cognoscitivas del participante.
                    </p>
                    <p>
                        <strong>2. Formación Deportiva:</strong> El participante cimenta sus cualidades deportivas en una disciplina específica con el fin de iniciar su proceso deportivo. Consiste en la enseñanza de un deporte específico con una carga horaria mayor (1 1/2 horas) durante 5 días a la semana, con el objetivo de desarrollar el talento deportivo del participante.
                    </p>
                    <p>
                        <strong>3. Consolidación Deportiva:</strong> Es la última etapa de este programa, en el cual el deportista desarrolla al máximo sus capacidades y cualidades físicas y tiene proyección en futuras competencias federativas.   
                    </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="heading3">
                <h5 class="mb-0">
                    <a class="text-dark" class="text-dark" data-toggle="collapse" href="#collapse3" role="button" aria-expanded="false" aria-controls="collapse3">
                        <strong>3. ¿Cómo se realiza el proceso de INSCRIPCIÓN?</strong>
                    </a>
                </h5>
            </div>
            <div id="collapse3" class="collapse" role="tabpanel" aria-labelledby="heading3" data-parent="#accordion">
                <div class="card-body">
                    <p>
                        Se realiza mediante 2 pasos.
                    </p>
                    <p>
                        <strong>1. Pre-Inscripción:</strong> Para evitar demorarte en las colas de inscripción puedes inscribir a tu apoderado AQUÍ y luego presentarte al complejo mas cercano.
                    </p>
                    <p>
                        <strong>2. Inscripción presencial:</strong> Luego de realizar tu pre-inscripción es OBLIGATORIO que traigas los documentos solicitados en los requisitos (copia de DNI del padre ó madre ó apoderado y del niño, foto tamaño carné y certificación de seguro médico) y descargues la declaración jurada y ficha de inscripción debidamente llenada. 
                    </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="heading4">
                <h5 class="mb-0">
                    <a class="text-dark" class="text-dark" data-toggle="collapse" href="#collapse4" role="button" aria-expanded="false" aria-controls="collapse4">
                        <strong>4. ¿Qué documentos debo presentar durante la inscripción?</strong>
                    </a>
                </h5>
            </div>
            <div id="collapse4" class="collapse" role="tabpanel" aria-labelledby="heading4" data-parent="#accordion">
                <div class="card-body">
                    <p>
                        • Copia y Original del DNI del menor de edad y del padre/madre de familia o apoderado.
                    </p>
                    <p>
                        • Copia de la acreditación del seguro médico del menor de edad (ESSALUD, SIS, seguro privado u otro). 
                    </p>
                    <p>
                        • Foto tamaño carné del menor de edad (actualizada).
                    </p>
                    <p>
                        • Autorización y ficha de inscripción debidamente llenada o impresa.
                    </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="heading5">
                <h5 class="mb-0">
                    <a class="text-dark" class="text-dark" data-toggle="collapse" href="#collapse5" role="button" aria-expanded="false" aria-controls="collapse5">
                        <strong>5. ¿La inscripción a LA ACADEMIA requiere algún costo?</strong>
                    </a>
                </h5>
            </div>
            <div id="collapse5" class="collapse" role="tabpanel" aria-labelledby="heading5" data-parent="#accordion">
                <div class="card-body">
                    <p>
                        El programa LA ACADEMIA es totalmente GRATUITA y sólo necesita presentar los documentos solicitados durante la inscripción.
                    </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="heading6">
                <h5 class="mb-0">
                    <a class="text-dark" class="text-dark" data-toggle="collapse" href="#collapse6" role="button" aria-expanded="false" aria-controls="collapse6">
                        <strong>6. ¿Los niños(as) o adolescentes necesitan tener conocimiento previo del deporte que desean practicar para ser admitidos?</strong>
                    </a>
                </h5>
            </div>
            <div id="collapse6" class="collapse" role="tabpanel" aria-labelledby="heading6" data-parent="#accordion">
                <div class="card-body">
                    <p>
                        No es necesario conocimiento previo. Será durante el inicio del curso donde el (la) menor aprenderá a adquirir habilidad en el deporte que elija.
                    </p>
                </div>
            </div>
        </div>
      <div class="card">
            <div class="card-header" role="tab" id="heading7">
                <h5 class="mb-0">
                    <a class="text-dark" class="text-dark" data-toggle="collapse" href="#collapse7" role="button" aria-expanded="false" aria-controls="collapse7">
                        <strong>7. ¿Necesitan estar el (los) menores de edad presentes durante la inscripción?</strong>
                    </a>
                </h5>
            </div>
            <div id="collapse7" class="collapse" role="tabpanel" aria-labelledby="heading7" data-parent="#accordion">
                <div class="card-body">
                    <p>
                        No es necesario, sólo debes presentar los documentos solicitados en los centros de inscripción de IPD en las fechas solicitadas.
                    </p>
                </div>
            </div>
        </div>
         <div class="card">
            <div class="card-header" role="tab" id="heading8">
                <h5 class="mb-0">
                    <a class="text-dark" class="text-dark" data-toggle="collapse" href="#collapse8" role="button" aria-expanded="false" aria-controls="collapse8">
                        <strong>8. ¿Si el menor no cuenta con seguro de salud (ESSALUD, SIS, seguro privado u otro), podré inscribirlo a LA ACADEMIA, cómo solicito ello?</strong>
                    </a>
                </h5>
            </div>
            <div id="collapse8" class="collapse" role="tabpanel" aria-labelledby="heading8" data-parent="#accordion">
                <div class="card-body">
                    <p>
                        Para la inscripción dicho requisito es OBLIGATORIO, si ya lo tienes puedes descargar en la página web de tu institución de salud dicha constancia o comunicarte con la institución de salud más cercana y solicita su ficha de aseguramiento.
                    </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="heading9">
                <h5 class="mb-0">
                    <a class="text-dark" class="text-dark" data-toggle="collapse" href="#collapse9" role="button" aria-expanded="false" aria-controls="collapse9">
                        <strong>9. ¿Por qué no encuentro más deportes en algunos complejos deportivos?</strong>
                    </a>
                </h5>
            </div>
            <div id="collapse9" class="collapse" role="tabpanel" aria-labelledby="heading9" data-parent="#accordion">
                <div class="card-body">
                    <p>
                        La apertura de los cursos dependen de la capacidad y la estructura del complejo deportivo de la zona.
                    </p>
                </div>
            </div>
        </div>    

        <div class="card">
            <div class="card-header" role="tab" id="heading9">
                <h5 class="mb-0">
                    <a class="text-dark" data-toggle="collapse" href="#collapse10" role="button" aria-expanded="false" aria-controls="collapse10">
                        <strong>10. ¿En cuántos deportes se puede inscribir el menor?</strong>
                    </a>
                </h5>
            </div>
            <div id="collapse10" class="collapse" role="tabpanel" aria-labelledby="heading10" data-parent="#accordion">
                <div class="card-body">
                    <p>
                        El menor se puede inscribir sólo en un deporte, salvo que desee matricularse en natación, en el complejo elegido.
                    </p>
                </div>
            </div>
        </div> 
    </div>
    <hr>
    
     <div class="container sugerencias">

        <h2 class="preg" >AYUDANOS A MEJORAR</h2>
        
        <div class="card cardColor">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <fieldset class="pure-group">
                            <div class="col-sm-4">
                            <br>                           
                                <label for="name">Nombre Completo: </label>
                            </div><br>
                            <div class="col-sm-8">
                                <input class="formEmail" id="name" name="name" placeholder=" nombre completo"/>
                            </div>
                        </fieldset>                        
                    </div>

                    <div class="row" style="margin-top: 20px;">                    
                        <fieldset class="pure-group">
                            <div class="col-sm-4">
                                <label for="email">Email: </label>
                            </div>
                            <div class="col-sm-8">
                                <input class="formEmail" id="email" name="email" type="email" value="" required placeholder="usuario@email.com"/>
                            </div>
                            <span id="email-invalid" style="display:none">Dirección no válida</span>
                        </fieldset>
                    </div>
                </div>
                <div class="col-sm-6">
                    <fieldset class="pure-group">
                        <label for="message"> Mensaje: </label>
                        <textarea class="textEmail" id="message" name="message" rows="5" placeholder=" Escribe aquí tus sugerencias o comentarios."></textarea>
                    </fieldset>
                </div>
            </div>
             <br>
            <div class="row text-right">            
                <button class="btn btn-danger" onclick="EnviarEmail();"><i class="icon-envelope-o" style="font-size:1.3em;" ></i>Enviar</button>
            </div>
        </div>
    </div>
</section>


    <footer class="footer">
         <div>
            <div class="row">
                <div class="col-sm-4">
                    <img class="align-self-center" src="{{ asset('assets/images/logo_ipd_blanco.png') }}">
                </div>
                <div class="col-sm-4">
                    <h3>La Academia</h3>
                    <p>
                        <strong>Direccion:</strong> Calle Madre de Dios N° 463
                    </p>
                    <p>
                        <strong>Teléfono:</strong> 204-8420 /anexo 1302
                    </p>
                </div>
                <div class="col-sm-4">
                    <h3>Enlaces de Interés</h3>
                    <p><a href="http://www.ipd.gob.pe/">Instituto Peruano del Deporte</a></p>
                    <p><a href="https://www.facebook.com/recreacion.ipd/">Facebook Recreación</a></p>
                    <p><a href="http://www.ipd.gob.pe/formacion-deportiva">Formación Deportiva</a></p>
                </div>
            </div><br><br>
            <p class="copyright">&copy; 2018 Todos los derechos reservados</p>
        </div>
    </footer>
    

{% endblock %}

{% block javascripts %}
    <script src="{{asset('assets/vendor/jquery/dist/jquery.js')}}"></script>
    <script src="{{asset('assets/vendor/bootstrap/dist/js/bootstrap.js')}}"></script>

    <script type="text/javascript">

        function EnviarEmail(){
            var nombreUsuario = document.getElementById("name").value;
            var correoUsuario = document.getElementById("email").value;
            var mensajeUsuario = document.getElementById("message").value;

            var enviosugerencia={
                "nombre" : sessionStorage.getItem('nombreUsuario'),
                "email" : sessionStorage.getItem('correoUsuario'),
                "message" : sessionStorage.getItem('mensajeUsuario'),
            }

           $.ajax({
                type:'POST',
                dataType: 'json',
                url: "{{url('akademia_sendemail')}}",
                data: enviosugerencia,
                beforeSend: function(){
                },success: function(data){

                    console.log(data);
                    console.log("mensaje enviado");
                
                }, error: function(error){
                    console.log(error);
                }
            })
        }


    </script>


{% endblock %}
