{% extends '::base.html.twig' %}
{% block title %}La Academia{% endblock %}
{% block body  %}

<header>
	 <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    
                </button>                       
                <img src="{{ asset('assets/images/logo_academia.png') }}" class="img-responsive" alt="logoAcademia" />                                      
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <br>
                <ul class="nav navbar-nav navbar-right">
                

                    <li title="Inicio"><a href="{{url('akademia_panel')}}"><i class="icon-home" style="font-size:1.5em; color:white"></i></a></li>
                    <li title="Cerrar sesión"><a href="{{url('akademia_logout')}}"><i class="icon-logout" style="font-size:1.5em; color:white" ></i></a></li>
                    
                </ul>
            </div>
        </div>
    </nav>
</header>

<section  id="inscribete"  class="proceso-inscripcion">
	
		<div style="width:93%">
			<p class="text-right" style="color:grey" >Usuario: {{ app.user.username}} </p>
		</div>
		<div id="proceso1" class="proceso" style="margin-bottom: 60px;">	
		    
		    <h2>CP {{nombre[0]['nombreComplejo']}}</h2>
			<h4 style="color:grey">ADMINISTRACION DE HORARIOS</h4>

			<div id="alert-info" class="alert alert-warning alert-dismissible text-center" role="alert" style="margin-top: 10px; margin-bottom: 20px;">
				<button id="btn-close-alert-info" type="button" class="close"><span aria-hidden="true">&times;</span></button>
				<p> Administra los horarios asignados a tu complejo deportivo. <br>También puedes actualizar el número de vacantes, abrir o cerrar las convocatorias de los horarios y visualizar la lista de sus inscritos.</p>
			</div>

			{% set cont = 0 %}
			{% for complejosDisciplina in complejosDisciplinas %}
			
			<div id="ficha-participante-container" class="container-card col-xs-12 col-sm-10 col-md-10 col-lg-10">	
				<div class="card" id="listadoDisciplinas">
					<div class="card-header text-center" role="tab" id="">
						<a class="title-card" data-toggle="collapse" href="#caja{{complejosDisciplina['idDisciplina']}}" >
							<strong>{{complejosDisciplina['nombreDisciplina']}}</strong>
						</a>
					</div>
					
					<div id="caja{{complejosDisciplina['idDisciplina']}}" class="collapse" role="tabpanel" data-parent="#accordion">
						<hr>
						<div class="card-body">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="input-group col-xs-4 col-sm-4 col-md-4 col-lg-4">
									  <span class="input-group-addon">Buscar</span>
									  <input class="filtrar form-control" type="text" ident-buscar="{{cont}}"  placeholder=" ingresa los campos a buscar ">
									</div>
									<br>

									<div class="panel panel-default" style="overflow-x:auto; overflow-y:scroll; height:40vh; ">			

										<table class="table display table-dataTable dataTable"  style="width: 100%;"> 
											<thead style="background:#F2F2F2; color:#585858"> 
												<tr> 
													<th class="text-center" style="font-size:14px">Código</th>
													<th class="text-center" style="font-size:14px">Turno</th> 
													<th class="text-center" style="font-size:14px">Hora</th>
													<th class="text-center" style="font-size:14px">Edades</th> 
													<th class="text-center" style="font-size:14px">Vacantes</th> 
													<th class="text-center" style="font-size:14px">Discapacitad</th>
													<th class="text-center" style="font-size:14px">Convocatoria</th>
													<th class="text-center" style="font-size:14px">Inscritos</th>
													<th></th>
													<th></th>
												</tr>

											</thead> 
											
											

											<tbody id="1{{complejosDisciplina['idDisciplina']}}" class="buscar" > 
											

											{% for horario in horarios %}

											{% if horario['idDisciplina'] == complejosDisciplina['idDisciplina'] %}
											
												<tr> 
													<td id="1h{{horario['idHorario']}}" class="text-center">{{horario['idHorario']}}</td> 
													<td id="2h{{horario['idHorario']}}" class="text-center">{{horario['turno']}}</td> 
													<td id="3h{{horario['idHorario']}}" class="text-center">{{horario['horaInicio']|date('H:i')}} - {{horario['horaFin']|date('H:i')}}</td> 

													{% if  horario['edadMaxima'] != horario['edadMinima'] %}
														<td id="4h{{horario['idHorario']}}"class="text-center">{{horario['edadMinima']}} - {{horario['edadMaxima']}} años</td>
													{% else %}
														<td id="4h{{horario['idHorario']}}"class="text-center">{{horario['edadMinima']}} años</td>
													{% endif %}
 
													<td id="5h{{horario['idHorario']}}" class="text-center">{{horario['vacantes']}}</td> 

													{% if  horario['discapacidad'] == 0 %}
														<td id="6h{{horario['idHorario']}}" class="text-center"> No </td> 
													{% else %}
														<td id="6h{{horario['idHorario']}}" class="text-center"> Si </td> 
													{% endif %}

													{% if  horario['convocatoria'] == 1 %}
														<td id="7h{{horario['idHorario']}}" class="text-center">Abierta</td>
													{% else %}
														<td id="7h{{horario['idHorario']}}" class="text-center"> Cerrado </td> 
													{% endif %}

													<td id="8h{{horario['idHorario']}}" class="text-center">{{horario['inscritos']}}</td>

													<td><button  title="Editar horario" type="button" id="{{horario['idHorario']}}" onclick="editarHorario({{horario['idHorario']}},{{horario['idDisciplina']}} )" class="btn btn-danger" data-toggle="modal" data-target="#modal-editar"><i class="icon-pencil-square-o" style="font-size:1em; margin-top:5px; color:white" ></i></button></td>

													<td><a href="{{url('akademia_beneficiarios',{idHorario:horario['idHorario']})}}"  title="Mostrar Inscritos" type="button" class="btn btn-default"><i class="icon-checklist" style="font-size: 1.3em;"></i></a></td>
												</tr> 
												<input type="hidden" value="{{horario['idDisciplina']}}">				
												
											{% endif %}
										    {% endfor %}
																								
											</tbody> 
										</table>
									</div>
								</div>
							</div>
							<hr>
							<div class="row text-right">
								
								<button type="button" data-toggle="modal" data-target="#modal-crear" id="Crear-Nuevo-Horario"  class="btn btn-danger" style="margin-right: 18px;" onclick="disciplina({{complejosDisciplina['idDisciplina']}});">Crear nuevo horario</button>
							</div>
						</div>
					</div>
				</div>       
			</div>
			{% set cont = cont + 1 %}
			{% endfor %}
			
			<hr>
			<div class="container-card col-xs-12 col-sm-10 col-md-10 col-lg-10">				
				<div class="card-header text-center">
					<p style="font-size:16px; color:grey">¿Quieres aperturar una nueva disciplina en tu complejo deportivo?</p>
					<button type="button" data-toggle="modal" data-target="#modal-disciplina" class="btn btn-danger" id="CrearDisc" style="margin-right: 18px;">Crear nueva disciplina</button>		
				</div>
			</div>

		</div>

</section>

<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
				<br>
				<br>
				<br>
				<img class="align-self-center foot" src="{{ asset('assets/images/ipdfooter.jpg')}}">
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<br><br>
				<h4>La Academia</h4>
				<p class="footerTex">
					Dirección:Calle Madre de Dios N° 463
				</p>
				<p class="footerTex">
					Teléfono: 204-8420 /anexo 1302
				</p>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<br><br>
				<h4>Enlaces de Interés</h4>
				<p><a class="footerTex" href="http://www.ipd.gob.pe/">Instituto Peruano del Deporte</a></p>
				<p><a class="footerTex" href="https://www.facebook.com/recreacion.ipd/">Facebook Recreación</a></p>
				<p><a class="footerTex" href="http://www.ipd.gob.pe/formacion-deportiva">Formación Deportiva</a></p>
			</div>
		</div>
		<br>
    	<p class="col-xs-12 col-sm-12 col-md-12 col-lg-12 copyright">&copy; 2018 Todos los derechos reservados</p>
	</div>
</footer>

<!-- modal -->
<div id="modal-editar" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header text-center">
				<button type="button" class="close text-center" data-dismiss="modal">&times;</button>
				<h4 class="title-card" style="color:#d9534f">CP de {{nombre[0]['nombreComplejo']}}</h4>
			</div>
			<div class="modal-body">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div id="alert-editar-info" class="alert alert-warning alert-dismissible text-center" role="alert">
								<button id="btn-close-alert-editar-info" type="button" class="close"><span aria-hidden="true">&times;</span></button>
								<p style="font-size:14px">Edición de las vacantes y convocatoria.</p>
							</div>
							<ul class="list-group">
								<li class="list-group-item">
									<div class="row">
										<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
											<p><strong>Código</strong></p>
										</div>
										<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
											<p id="editar_codigo_horario"></p>
											<input type="hidden" id="idDisciplina" >

										</div>
									</div>
								</li>
								<li class="list-group-item">
									<div class="row">
										<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
											<p><strong>Disciplina</strong></p>
										</div>
										<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
											<p id="editar_disciplina_horario"></p>
										</div>
									</div>
								</li>

								<li class="list-group-item">
									<div class="row">
										<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
											<p><strong>Turno</strong></p>
										</div>
										<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
											<p id="editar_turno_horario"></p>
										</div>
									</div>
								</li>

								<li class="list-group-item">
									<div class="row">
										<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
											<p><strong>Hora</strong></p>
										</div>
										<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
											<p id="editar_hora_horario"></p>
										</div>
									</div>
								</li>

								<li class="list-group-item">
									<div class="row">
										
										<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
											<p><strong>Edades</strong></p>
										</div>

										<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
											<p id="editar_edades_horario"></p>
										</div>

									</div>
								</li>
								<li class="list-group-item">
									<div class="row">
										<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
											<p><strong>Discapacidad</strong></p>
										</div>
										<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
											<p id="editar_discapacidad_horario"></p>
										</div>
									</div>
								</li>

								<li class="list-group-item">
									<div class="row">
										<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
											<p><strong>Vacantes</strong></p>
										</div>
										<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
											<input class="form-control" id="editar_vacantes_horario" name="editar_vacantes_horario"
										    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
										    type = "number"
										    maxlength = "4"
										    min="0"
											/>	
										</div>
									</div>
								</li>					

								<li class="list-group-item">
									<div class="row">
										<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
											<p><strong>Convocatoria</strong></p>
										</div>

										<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
											<select class="form-control" id="editar_convocatoria_horario">
												<option value=""> --Seleccionar--</option>
												<option value="1">Abierto</option>
												<option value="0">Cerrado</option>
											</select>
										</div>
									</div>
								</li>	
							</ul>
						</div>
						<hr>
						<div class="form-group col-xs-12 col-sm-12 col-md-12 col-ld-12 ">
							<div class="row">
								<div class="form-group col-xs-9 col-sm-9 col-md-9 col-ld-9">
									<p style="color:grey"> ¿Deseas eliminar este horario?</p>
								</div>
								<div class="form-group col-xs-3 col-sm-3 col-md-3 col-ld-3 accordion">  
									<div class="input-group">
		  								<span class="input-group-addon">
		    								<input type="checkbox" name="cbx-horario" id="cbx-horario" value="1">
		  								</span>
		  								<p type="text" class="form-control">Si</p>
									</div>
								</div>
							</div>
							<br>
							<div id="advertencia" class="alert alert-danger collapse text-center">
								<p style="font-size:14px">Recuerda que no se podrá recuperar este horario y la lista de sus beneficiarios ya no serán visibles.</p>
							</div>	
						</div>
					</div>
				</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				<input id="btn-actualizar" type="button" class="btn btn-danger" data-dismiss="modal" onclick="actualizarHorario()" value="Actualizar">
				<!--<button id="btn-actualizar" type="button" class="btn btn-danger" data-dismiss="modal" onclick="" value="Actualizar"></button>-->
			</div>
		</div>
	</div>
</div>

<div id="modal-crear" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header text-center">
				<button type="button" class="close text-center" data-dismiss="modal">&times;</button>
				<h4 class="title-card">CP {{nombre[0]['nombreComplejo']}}</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div id="alert-crear-info" class="alert alert-warning alert-dismissible text-center" role="alert">
							<button id="btn-close-alert-crear-info" type="button" class="close"><span aria-hidden="true">&times;</span></button>
							<p style="font-size:14px">¡Cuidado! Evita crear horarios iguales. </p>
						</div>
						<div id="alerta-errorCrear" class="alert alert-danger collapse text-center"></div>

						<ul class="list-group">
							<li class="list-group-item">
								<div class="row">
									<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
										<p><strong>Turno</strong></p>
									</div>
									<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 " >

										<div class="checkbox">
										  <label><input type="checkbox" id="Lun" value="1" onclick="elegirDias(this)">Lunes</label>
										</div>
										<div class="checkbox">
										  <label><input type="checkbox" id="Mar" value="2" onclick="elegirDias(this)">Martes</label>
										</div>
										<div class="checkbox">
										  <label><input type="checkbox" id="Mie" value="3" onclick="elegirDias(this)">Miércoles</label>
										</div>

										<div class="checkbox">
										  <label><input type="checkbox" id="Jue" value="4" onclick="elegirDias(this)">Jueves</label>
										</div>
										
									</div>
									<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 " >
										<div class="checkbox">
										  <label><input type="checkbox" id="Vie" value="5" onclick="elegirDias(this)"> Viernes </label>
										</div>
										<div class="checkbox ">
										  <label><input type="checkbox" id="Sab" value="6" onclick="elegirDias(this)"> Sábado </label>
										</div>
										<div class="checkbox ">
										  <label><input type="checkbox" id="Dom" value="7" onclick="elegirDias(this)"> Domingo </label>
										</div>
									</div>
								</div>
								<hr>
								<p style="font-size:14px; color:grey">Turno creado : <span id="turno"></span></p>
							</li>


							<li class="list-group-item">
								<div class="row">
									<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
										<p><strong>Hora Inicio</strong></p>
									</div>
									<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >
										<div class="input-group">
											<span class="input-group-addon">hh</span>

											<input class="form-control placeholder " placeholder=" Ej: 09 " id="hora-inicio"
											    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
											    type = "number"
											    maxlength = "2"
											    min = "1"
											    max = "24"
											 />
										</div>
									</div>
									<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
										<div class="input-group">
											<span class="input-group-addon">mm</span>
											
											<input class="form-control placeholder" placeholder=" Ej: 00 " id="min-inicio"
											    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
											    type = "number"
											    maxlength = "2"
											    min = "0"
											    max = "60"
											 />
											
										</div>
									</div>
								</div>
							</li>

							<li class="list-group-item">
								<div class="row">
									<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
										<p><strong>Hora Fin</strong></p>
									</div>
									<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >
										<div class="input-group">
											<span class="input-group-addon">hh</span>

											<input class="form-control placeholder" placeholder=" Ej: 10 " id="hora-fin"
											    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
											    type = "number"
											    maxlength = "2"
											    min = "1"
											    max = "24"
											 />
										</div>
									</div>
									<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
										<div class="input-group">
											<span class="input-group-addon">mm</span>
											<input class="form-control placeholder" placeholder=" Ej: 00 " id="min-fin"
											    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
											    type = "number"
											    maxlength = "2"
											    min = "1"
											    max = "60"
											 />
										</div>
									</div>
								</div>
								<br>
								<p style="font-size:14px; color:grey">El formato es de 24 horas.</p>
							</li>		

							<li class="list-group-item">
								<div class="row">
									<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
										<p><strong>Discapacidad</strong></p>
									</div>
									<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
										<select class="form-control" id="crear_discapacidad" onchange="validar(this.value)">
											<option value="">--Seleccionar--</option>
											<option value="0">No</option>
											<option value="1">Si</option>
										</select>
									</div>
								</div>
								<br>
								<p style="font-size:14px; color:grey">Edades comprendidas: <span style="font-size:14px;" id="textEdad"></span></p>
							</li>				

							<li class="list-group-item">

								<div class="row">

									<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
										<div class="row">
											<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
												<p><strong>Edad mínima</strong></p>
											</div>
											<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

												<input class="form-control" name="edad-minima" id="edad-minima"
												    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
												    type = "number"
												    maxlength = "2"
												    min = "1"
												    max = "40"
												 />
											</div>
										</div>
									</div>

									<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
										<div class="row">
											<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
												<p><strong>Edad máxima</strong></p>

											</div>

											<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

												<input class="form-control" id="edad-maxima" name="edad-maxima"
												    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
												    type = "number"
												    maxlength = "2"
												    min = "1"
												    max = "40"
												 />

											</div>
										</div>
									</div>
								</div>
								
							</li>

							

							<li class="list-group-item">

								<div class="row">
									<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
										<p><strong>Vacantes</strong></p>
									</div>
									<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">

										<input class="form-control" id="vacantes-horario" name="vacantes-horario"
										    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
										    type = "number"
										    maxlength = "4"
										    min="0"
										 />		
									</div>
								</div>
							</li>				
						</ul>
					</div>
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				<button id="btn-crear-horario" type="button" class="btn btn-danger" >Crear</button>
			</div>
		</div>
	</div>
</div>

<div id="modal-disciplina" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header text-center">
				<button type="button" class="close text-center" data-dismiss="modal">&times;</button>
				<h4 class="title-card">CP {{nombre[0]['nombreComplejo']}}</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div id="alert-crear-disciplina-info" class="alert alert-warning alert-dismissible text-center" role="alert">
							<button id="btn-close-alert-crear-disciplina" type="button"  class="close" ><span aria-hidden="true">&times;</span></button>
							<p>Apertura una nueva disciplina</p>
						</div>
						<ul class="list-group">
							<div id="alerta-errorModal" class="alert alert-danger collapse text-center"></div>
							<!--<p id="alerta-errorModal"></p>-->
							<li class="list-group-item">
								<div class="row">
									<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
										<p><strong>Disciplina</strong></p>
									</div>
									<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">

										<select id="Disciplina" class="form-control"  name="Disciplina" >
									    	<option value="0" selected>--SELECCIONAR--</option>
								      		{% for disciplina in disciplinas %}
												<option value="{{disciplina['dis_codigo']}}">{{disciplina['dis_descripcion']}}</option>
											{% endfor %}
									    </select>
									</div>
									
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				<button id="btn-confirm" type="button" class="btn btn-danger">Crear</button>
			</div>

		</div>
	</div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="confirmarDisciplina">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background:#EBE6E5; color:white">
      		<button type="button" class="close text-center" data-dismiss="modal">&times;</button>
			<h5 class="title-card">Mensaje de confirmación. </h5>
      </div>
      <div class="modal-body">
      		<p class="text-center" style="color:grey">¿ Estás seguro de crear esta nueva disciplina ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="modal-btn-si">Si</button>
        <button type="button" class="btn btn-default" id="modal-btn-no">No</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="confirmarEliminarHorario">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="">
      		<button type="button" class="close text-center" data-dismiss="modal">&times;</button>
			<p class="title-card">Mensaje de confirmación. </p>
      </div>
      <div class="modal-body">
      		<strong><p class="text-center" style="color:#B40404; font-weight:bold">¿Estás seguro de eliminar este horario? </p></strong>
      		<p class="" style="color:grey">
      		Recuerda que:<br>
			1) No podrás revertir el proceso. <br>
			2) La lista de beneficiarios asociados al horario ya no serán visibles.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="modal-btn-si-horario">Si</button>
        <button type="button" class="btn btn-default" id="modal-btn-no-horario">No</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block javascripts %}

<script src="{{asset('assets/vendor/jquery/dist/jquery.js')}}"></script>
<script src="{{asset('assets/vendor/bootstrap/dist/js/bootstrap.js')}}"></script>
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/alertify.min.js"></script>


<script type="text/javascript">
		
		/*VALIDAR NEGATIVOS*/
		
		jQuery('#hora-inicio, #hora-fin, #min-inicio, #min-fin, #edad-minima, #edad-maxima, #vacantes-horario, #editar_vacantes_horario').on('keypress', function (e) {

		    if (e.keyCode == 101 || e.keyCode == 45 || e.keyCode == 46 || e.keyCode == 43 || e.keyCode == 44 || e.keyCode == 47 || e.keyCode == 69 ) {
		        return false;
		    }
		    soloNumeros(e.keyCode);
		});
		
		function soloNumeros(e) {
		    var key = window.Event ? e.which : e.keyCode
		        return (key >= 48 && key <= 57)
		}

		/*EDADES MÁXIMAS*/
		var edad = document.getElementById('textEdad');

		function validar(val){
		  switch (val){
		   case "0":
		   	edad.innerHTML = 'De 6 a 17 años.' ;
		   break;
		   case "1":
		   edad.innerHTML = 'De 6 a 59 años.';
		   
		   break;
		   default : edad.innerHTML = '';
		  }
		}

		/* CARGAR ALERTAS */
		$(document).ready(function(){

			$('#btn-close-alert-info').click(function(){
				hideAlertMessage('#alert-info');
			});	

			$('#btn-close-alert-editar-info').click(function(){
				hideAlertMessage('#alert-editar-info');
			});	

			$('#btn-close-alert-crear-info').click(function(){
				hideAlertMessage('#alert-crear-info');
			});	
		});


		/*FILTROS */
		$(document).ready(function () {

            (function ($) {

            	var jsFiltrar = document.querySelectorAll('.filtrar');
            	var jsBuscar = document.querySelectorAll('.buscar');

            	for (var i = 0; i < jsFiltrar.length; i++) {
            		$(jsFiltrar[i]).keyup(function () {

            			var idfil = $(this).attr('ident-buscar');
	                    var rex = new RegExp($(this).val(),'i');
	                    $(jsBuscar[idfil]).children('tr').hide();
	                    $(jsBuscar[idfil]).children('tr').filter(function () {
	                        return rex.test($(this).text());
	                    }).show();
                	})
            	}  

            }(jQuery));

        });
        
        var turno = document.getElementById('turno')
		var diasElegidos = []
		var elemento = []

    	function elegirDias(element){

		    if (element.checked) {
		        diasElegidos.push(element.value)
		    }else{
		        diasElegidos.splice( diasElegidos.indexOf( element.value ), 1 )
		    }

			arregloAOrdenar=ordenarCheckbox(diasElegidos);

			function ordenarCheckbox(arreglo){
				var cadenaHorario = '';

			    for(i=0;i<(arreglo.length-1);i++){

			   		for(j=0;j<(arreglo.length-i);j++){
			 
				        if(arreglo[j]>arreglo[j+1]){
				             
				             aux=arreglo[j];
				             arreglo[j]=arreglo[j+1];
				             arreglo[j+1]=aux;
				        }
			   		}				 	
			 	}

			 	dia = {1:'Lun', 2:'Mar', 3:'Mie', 4:'Jue', 5:'Vie', 6:'Sab', 7:'Dom'}

			 	for(var i = 0; i < arreglo.length; i++){	

			 		if(i!=arreglo.length-1)
			 			cadenaHorario+=dia[arreglo[i]]+',';
			 		else 
			 			cadenaHorario+=dia[arreglo[i]];
			 	}

			 	turno.innerHTML = cadenaHorario
			 	return arreglo
			}
	
		}

		/*LIMPIAR CAJAS */
		function clearData(){
			$("#editar_codigo_horario").empty();
			$("#editar_disciplina_horario").empty();
			$("#editar_turno_horario").empty();
			$("#editar_hora_horario").empty();
			$("#editar_edades_horario").empty();
			$("#editar_discapacidad_horario").empty();
			$("#editar_vacantes_horario").val("");
			$("#editar_convocatoria_horario").val("");
			$("#turno").empty();
			$("#textEdad").empty();
		}

		function clearDataCrear(){

			$("#textEdad").empty();
			$("#turno").empty();
			$("#hora-inicio").val("");
			$("#min-inicio").val("");
			$("#hora-fin").val("");
			$("#min-fin").val("");
			$("#edad-minima").val("");
			$("#edad-maxima").val("");
			$("#vacantes-horario").val("");
			$("#crear_discapacidad").val("");
			$("#Lun").prop('checked', false);
			$("#Mar").prop('checked', false); 
			$("#Mie").prop('checked', false);
			$("#Jue").prop('checked', false); 
			$("#Vie").prop('checked', false);
			$("#Sab").prop('checked', false); 
			$("#Dom").prop('checked', false);
			

		}

		/* EDITAR HORARIO*/

		function editarHorario(idHorario, idDisciplina){
			
			sessionStorage.removeItem('flagOcularHorario');
			$("#cbx-horario").prop('checked', false);
			$("#btn-actualizar").attr('value','Actualizar');
			$("#advertencia").hide();

			var idHorario = idHorario;
			var idDisciplina = idDisciplina;
			
			clearData();
			
			var dataHorario = {
				"idHorario" : idHorario,
				"idDisciplina" : idDisciplina
			};

			$.ajax({
				type:'POST',
				dataType: "json",
				url: "{{url('akademia_mostrarHorarioIndividual')}}",
				data: dataHorario,

				beforeSend: function(){				
					
				},
				success : function(data){
					if(data != 1){

						var dataHorario =JSON.parse(data)[0];
						let horaInicio = String(dataHorario.horaInicio).split(":");
						let horaFin = String(dataHorario.horaFin).split(":");

						$("#editar_codigo_horario").append(dataHorario.idHorario);
						$("#editar_disciplina_horario").append(dataHorario.nombreDisciplina);
						$("#editar_turno_horario").append(dataHorario.turno);
						$("#editar_hora_horario").append(horaInicio[0]+':'+horaInicio[1] + ' - ' + horaFin[0]+':'+horaFin[1]);
						$("#editar_edades_horario").append(dataHorario.edadMinima + ' - ' + dataHorario.edadMaxima +' años.');
						
						if(dataHorario.discapacidad == 0){
							$("#editar_discapacidad_horario").append("No");
						}else{
							$("#editar_discapacidad_horario").append("Si");
						}

						if(dataHorario.convocatoria == 0){
							$("#editar_convocatoria_horario").val(0);
						}else{
							$("#editar_convocatoria_horario").val(1);
						}
						$("#editar_vacantes_horario").val(dataHorario.vacantes);
						
					}else{

						alertify.error('<p style="color:white">Se produjo un error al cargar los datos del Horario. </p>'); 
					}

				},
				error : function(data){

				},

			})
		}

		/*ACTUALIZAR HORARIO*/

		$('#cbx-horario').on( 'click', function() {
			
		    if($(this).is(':checked'))
		    {
		        $("#advertencia").show();
		        sessionStorage.setItem('flagOcularHorario',$(this).val());
		        $("#btn-actualizar").attr('value',"Eliminar");
		    
		    }else{
		    	sessionStorage.removeItem('flagOcularHorario');
		    	$("#advertencia").hide();
		    	$("#btn-actualizar").attr('value',"Actualizar");

		    }
		});		

		function actualizarHorario(){

			if(sessionStorage.getItem('flagOcularHorario') == '1' ){

				console.log(sessionStorage.getItem('flagOcularHorario'));
				var confirmarHorario = function(callback){
				 	
					$("#confirmarEliminarHorario").modal('show');					

					$("#modal-btn-si-horario").on("click", function(){
				    	callback(true);
				    	$("#confirmarEliminarHorario").modal('hide');
				  	});
				  
					$("#modal-btn-no-horario").on("click", function(){
					    callback(false);
					    $("#confirmarEliminarHorario").modal('hide');
					});
				}

				confirmarHorario(function(confirm){
				  
				  if(confirm){

				  	var idHorario = $("#editar_codigo_horario").text();	
					
					var dataOcultarHorario={
						"idHorario" : idHorario
					};

					$.ajax({
						type:'POST',
						dataType: "json",
						url: "{{url('akademia_ocultarHorario')}}",
						data: dataOcultarHorario,
						beforeSend: function(){				

						},
						success: function(data){
							if(data == 1){
								console.log(data);
								window.location.href = "{{url('akademia_horarios')}}";
							}
						},
						error: function(error){
							console.log(error);
						}
					});

				  }
				});

			}else{
				console.log(sessionStorage.getItem('flagOcularHorario'));
				if($("#editar_vacantes_horario").val()==""){
	               	alertify.error('<p style="color:white">Se requiere que ingrese la cantidad de vacantes. </p>'); 
	               	$("#editar_vacantes_horario").focus();
	      
	            }else if($("#editar_convocatoria_horario").val()==""){
	            	alertify.error('<p style="color:white">Seleccione la convocatoria. </p>');

	            }else if(parseInt($("#editar_vacantes_horario").val())<0){
					alertify.error('<p style="color:white">Verifique el numero de vacantes. </p>');

	            }else if($("#editar_convocatoria_horario").val()!= "" && $("#editar_vacantes_horario").val()!=""){
	            		
			           	var idHorario = $("#editar_codigo_horario").text();
						var vacantes = $("#editar_vacantes_horario").val();
						var convocatoria = $("#editar_convocatoria_horario").val();

						var dataActualizarHorario={
							"idHorario" : idHorario,
							"vacantes" :vacantes,
							"convocatoria" : convocatoria
						};

						$.ajax({

							type:'POST',
							dataType: "json",
							url: "{{url('akademia_actualizarHorario')}}",
							data: dataActualizarHorario,

							beforeSend: function(){				
								//$("#btn-actualizar-horario").attr("disabled", true);
							},

							success: function(data){

								if(data != 1){

									var dataHorario =JSON.parse(data)[0];
									console.log(dataHorario);

									$("#1h"+dataHorario.id).empty();
									$("#5h"+dataHorario.id).empty();
									$("#7h"+dataHorario.id).empty();

									$("#1h"+dataHorario.id).text(dataHorario.id);
									$("#5h"+dataHorario.id).text(dataHorario.vacantes);

									if(dataHorario.convocatoria == 1){
										$("#7h"+dataHorario.id).text("Abierto");
									}else{
										$("#7h"+dataHorario.id).text("Cerrado");
									}

									alertify.success('<p style="color:black">Horario Actualizado .</p>');
								//	window.location.href = "{{url('akademia_horarios')}}";
									
								}else{
									alertify.error('<p style="color:white">Error al actualizar los datos </p>'); 
								}
							},
							error: function(error){
							}
						});
	            }

				console.log(idHorario, idDisciplina, vacantes , convocatoria);

				
			}
			
		} 

		function dateToHour(date){
			return date.toLocaleTimeString().replace(/([\d]+:[\d]{2})(:[\d]{2})(.*)/, "$1$3");
		}

		/*NUEVO HORARIO*/
		function disciplina(idDisciplina2){

			diasElegidos = [];
			clearDataCrear();
			$("#diasTurno :checkbox").attr('checked', false);
			$("#idDisciplina").val(idDisciplina2);
			var idDisciplina = $("#idDisciplina").val();
		}
		
		/*CREAR NUEVO HORARIO*/
		$("#btn-crear-horario").on("click", function(){			

			if( 
				$("#turno").text() != "" 
				&& $("#hora-inicio").val() != "" 
				&& $("#min-inicio").val() != "" 
				&& $("#hora-fin").val() != "" 
				&& $("#min-fin").val() != "" 
				&& $("#edad-minima").val() != "" 
				&& $("#edad-maxima").val() != "" 
				&& $("#vacantes-horario").val() != "" 
				&& $("#crear_discapacidad").val() != "" 
			) {

				var turno = $("#turno").text();
				var horIni = parseInt($("#hora-inicio").val());
				var horFin = parseInt($("#hora-fin").val());
				var minIni = parseInt($("#min-inicio").val());
				var minFin = parseInt($("#min-fin").val());

				var horarioInicio = horIni + ':' + minIni;
				var horarioFin = horFin + ':' + minFin;

				var edadMinima = parseInt($("#edad-minima").val());
				var edadMaxima = parseInt($("#edad-maxima").val());
				var vacantes = parseInt($("#vacantes-horario").val());
				var discapacidad = parseInt($("#crear_discapacidad").val());
				var idDisciplina = parseInt($("#idDisciplina").val());

				if(
					(
						(discapacidad == 0 && edadMinima <= 17 && edadMaxima <= 17 ) 
						|| 
						(discapacidad == 1 && edadMinima <= 59 && edadMaxima <= 59 )
					) 
					&& (edadMinima >= 6) 
					&& (edadMaxima >= 6) 
					&& (edadMaxima >= edadMinima)
				){

					if(
						(
							horFin > horIni 
							|| 
							(
								horFin == horIni 
								&& 
								minFin >= minIni
							)
						)
						&& horIni >= 0
						&& horFin >= 0
						&& horIni <= 24
						&& horFin <= 24
						&& minIni >= 0
						&& minFin >= 0
						&& minIni <= 60
						&& minFin <= 60
					){

						if (vacantes >= 0) {

							var dataCrearHorario={
								"turno" : turno,
								"horarioInicio" : horarioInicio,
								"horarioFin" : horarioFin,
								"edadMinima" :edadMinima,
								"edadMaxima" : edadMaxima,
								"vacantes" : vacantes,
								"discapacidad" : discapacidad,
								"idDisciplina" : idDisciplina
							}


							$.ajax({
								type:'POST',
								dataType: 'json',
								url: "{{url('akademia_crearHorario')}}",
								data: dataCrearHorario,
								beforeSend: function()
								{

								},
								success: function(data)
								{
									diasElegidos = [];
					
									if (data == 1){
										clearDataCrear();
										alertify.error('<p style="color:white">Ya existe un horario con estas mismas características. </p>');
									}
									else if (data == 2){
										clearDataCrear();
										alertify.error('<p style="color:white">Se produjo un error al crear el horario.</p>');
									
									}else {
										var tdhorario = '';
										var idDisciplina = $("#idDisciplina").val();
										var dataHorario =JSON.parse(data)[0];
										let horaInicio = String(dataHorario.horaInicio).split(":");
										let horaFin = String(dataHorario.horaFin).split(":");
										
										tdhorario+='<tr>';

										tdhorario+='<td id="1h'+dataHorario.id+'" class="text-center">'+ dataHorario.id +'</td>';
										tdhorario+='<td id="2h'+dataHorario.id+'" class="text-center">'+ dataHorario.turno +'</td>';
										tdhorario+='<td id="3h'+dataHorario.id+'" class="text-center">'+horaInicio[0]+':'+horaInicio[1]+' - '+horaFin[0]+':'+horaFin[1]+'</td>';

										if(dataHorario.edadMinima!=dataHorario.edadMaxima){

											tdhorario+='<td id="4h'+dataHorario.id+'" class="text-center">'+ dataHorario.edadMinima+' - '+dataHorario.edadMaxima+ ' años </td>';

										}else{

											tdhorario+='<td id="4h'+dataHorario.id+'" class="text-center">'+ dataHorario.edadMinima+ ' años </td>';
										}



										tdhorario+='<td id="5h'+dataHorario.id+'" class="text-center">'+ dataHorario.vacantes +'</td>';

										if (dataHorario.discapacitados == 0){
											
											tdhorario+='<td id="6h'+dataHorario.id+'" class="text-center">No</td>';
										}else{
											
											tdhorario+='<td id="6h'+dataHorario.id+'" class="text-center">Si</td>';
										}
										if (dataHorario.convocatoria == 0 ){
											
											tdhorario+='<td id="7h'+dataHorario.id+'" class="text-center"> Cerrado </td>';
										}else{

											tdhorario+='<td id="7h'+dataHorario.id+'" class="text-center"> Abierto </td>';
										}

										tdhorario+='<td id="8h'+dataHorario.id+'" class="text-center">'+ dataHorario.inscritos +'</td>';
										tdhorario+='<td><button title="Editar horario" type="button" id="'+dataHorario.id+'" onclick="editarHorario('+dataHorario.id+','+idDisciplina+')" class="btn btn-danger" data-toggle="modal" data-target="#modal-editar"><i class="icon-pencil-square-o" style="font-size:1.1em; margin-top:5px" ></i></button></td>';
										tdhorario+='<td><a href="/academia/web/beneficiarios/'+dataHorario.id+'"  title="Mostrar Inscritos" type="button" class="btn btn-default"><i class="icon-checklist" style="font-size: 1.3em;"></i></a></td>';
										tdhorario+='</tr>';
										
										$('#1'+idDisciplina).append(tdhorario);
										$("#modal-crear").modal('hide');
										clearDataCrear();
										alertify.success('<p style="color:white"> El horario fue creado exitosamente. </p>');
									}
								},
								error: function(error)
								{
									alertify.error('<p style="color:black">Se produjo un error en el registro. </p>');
									console.log("Error En la captura de data!! . ");
									console.log(error);
								}
							});


						}else{

							showAlertMessage('#alerta-errorCrear', "Verifique que el numero de vacantes sean correctas");
						}
						
					}else{

						showAlertMessage('#alerta-errorCrear', "Verifique que los horarios ingresados sean correctos");
					}

				}else{

					showAlertMessage('#alerta-errorCrear', "Verifique que las edades ingresadas estén correctas");

				}

			}else{

				showAlertMessage('#alerta-errorCrear', "Debe rellenar todos los campos");
			}
		
		});

		
		$("#CrearDisc").on("click", function(){
			$("#Disciplina").val(0);
		});


		/* CONFIRMAR LA CREACION DE DISCIPLINAS*/

		var modalConfirm = function(callback){
  
		  $("#btn-confirm").on("click", function(){

		  	if($("#Disciplina").val() == 0){

		  		$("#btn-confirm").attr("data-dismiss", "");
		  		showAlertMessage('#alerta-errorModal', "Debe seleccionar una disciplina ");

		  	}else{
		  		$("#btn-confirm").attr("data-dismiss", "modal");
		  		$("#confirmarDisciplina").modal('show');

		  	}
		   
		  });

		  $("#modal-btn-si").on("click", function(){
		    	callback(true);
		    	$("#confirmarDisciplina").modal('hide');
		  });
		  
		  $("#modal-btn-no").on("click", function(){
		    	callback(false);
		    	$("#confirmarDisciplina").modal('hide');
		  });
		};

		modalConfirm(function(confirm){
		  if(confirm){
		  	crearDisciplina()
		  }
		});


	/*CREAR NUEVA DISCIPLINA*/
	
	function crearDisciplina(){
		var disciplina = $("#Disciplina").val();
		if(disciplina != ""){
			var Datadisciplina = {
				"idDisciplina" : disciplina
			};

			$.ajax({
				type:'POST',
				dataType: 'json',
				url: "{{url('akademia_crearDisciplina')}}",
				data: Datadisciplina,
				beforeSend: function(){				
				
				},

				success: function(data){
					if(data == 1){

						alertify.success('<p style="color:white">Nueva disciplina creada exitosamente</p>');	
						window.location.href = "{{url('akademia_horarios')}}";
											
					}else if(data == 2){

						alertify.success('<p style="color:white">Disciplina creada exitosamente</p>');	
						window.location.href = "{{url('akademia_horarios')}}";

					}else{

						alertify.error('<p style="color:white">Se produjo un error al crear la nueva disciplina. </p>');	
						console.log(data);
					}
				},

				error: function(data){

					alertify.error('<p style="color:white">Se produjo un error al crear la nueva disciplina. </p>');	
					console.log(data);
				},
			});

		}else{
			alertify.error('<p style="color:white">Debe seleccionar una disciplina a crear. </p>');			
		}
	}

	/* MOSTRAR MENSAJE DE ALERTA */
	function showAlertMessage(alert, mensaje){
		$(alert).text(mensaje).show('fade');
		setTimeout(function(){
			hideAlertMessage(alert);	
		}, 2000);
	}

	/* COULTAR ALERTA*/
	function hideAlertMessage(alert){
		$(alert).hide('fade');

	}

</script>

{% endblock %}