
{% extends '::base.html.twig' %}


{% block title %}Akademia{% endblock %}



{% block body  %}

<header  class="header"  id="inicio" style=" background-image: url( {{ asset('assets/images/atletismo.jpg') }} ); " >

	<nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>                        
	      </button>
	      <a class="navbar-brand" href="#">Instituto Peruano de Deporte</a>
	    </div>

	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav navbar-right">
		      <li class="active"><a href="#inicio">Inicio</a></li>
	  	      <li><a href="#">Nosotros</a></li>
	  	      <li><a href="#inscribete" >Inscribete</a></li>
		      <li><a href="#">Contactanos</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>

</header>

<section  id="inscribete"  class="proceso-inscripcion">
	
	<div class="progreso">
		<div class="container-titulo">		
			<p>PRE - INSCRIPCION 2018 I</p>	
		</div>
		<div class="progreso_container">
			<div class="progreso__barraInscripcion">
				<div class="bar-inscripcion__1 active" >1</div>
				<div class="bar-inscripcion__2 ">2</div>
				<div class="bar-inscripcion__3">3</div>
			</div>		
		</div>
	</div>

	<div class="proceso-inscripcion__inscripcion" id="process1" >
	<div class="container">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

	        <div class="card">	

          		<p class="title-card">Apoderado</p>

				<div class="form-group">
					<label for="dniApoderado">DNI Apoderado</label>
		          	<input id="dniApoderado" class="form-control"  onblur="buscarDniApoderado(this)" type="number"  name="dni"  class="validate">
		          	<span class="cargarDatosApoderado" >Actualizando....</span>
		          	<span class="mensajeEdad" ></span>
				</div>

				<div class="form-group">
					<label for="apellidoPaterno">Apellido Paterno</label>
		          <input id="apellidoPaterno"  class="form-control" id="apellidoPaterno"  name="apellidoPaterno" type="text" class="validate">
				</div>
				
				<div class="form-group">
					<label for="apellidoMaterno">Apellido Materno</label>
		          <input id="apellidoMaterno" class="form-control" type="text" id="apellidoMaterno"  name="apellidoMaterno" class="validate">
				</div>
	      						      						
	    		<div class="form-group">
	    			<label for="nombre">Nombres</label>
	          		<input id="nombre" class="form-control"  type="text"  id="nombre"  name="nombre"  >
				</div>

				<div class="form-group">
					<label for="fechaNacimiento">Fecha de Nacimiento</label>
		          	<input class="form-control"  id="fechaNacimiento" type="text"  id="fechaNacimiento"  name="fechaNacimiento">
		          					
				</div>


				<div class="form-group col s12">
					<label>Sexo</label>
				    <select id="sexo" class="form-control"  name="sexo" >
				    	<option value="">--SELECCIONAR--</option>
				      	<option value="masculino">Masculino</option>
				      	<option value="femenino">Femenino</option>
				    </select>
				</div>

        </div>

    </div>



<!--SECCION DIRECCION-->

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 ">
        	<div class="card">

          		<p class="title-card">Direccion</p>

	            <div class="form-group">
					<label>Departamento</label>
	            	<select id="departamento" class="form-control"  name="departamento"  onchange="cambiarDepartamento(this)" >
	                	<option value="">--Seleccionar--</option>
	                {% for departamento in departamentos %}
	                	<option value="{{departamento.id}}" >{{departamento.nombre}}</option>
	                {% endfor %}
	            	</select>
            	</div>
 
		        <div class="form-group">
		        	<label>Provincia</label>
		            <select  id="provincia" class="form-control"  name="provincia" onchange="cambiarProvincia(this)">
		                <option value="">--Seleccionar--</option>
		            </select>               
		        </div>
 

	            <div class="form-group">
	            	<label>Distrito</label>
	                <select id="distrito" name="distrito"  class="form-control">
	                    <option value="">--Seleccionar--</option>
	                </select> 
	            </div>

				<div class="form-group">
					<label for="direccion">Direccion</label>
		          	<input id="direccion" class="form-control" type="text"  id="direccion"  name="direccion"  >
				</div>

				<div class="form-group">
					<label for="telefono">Telefono</label>
		          	<input id="telefono" class="form-control" type="text"  id="telefono"  name="telefono"  >
				</div>

				<div class="form-group">
					<label for="correo">Correo Electronico</label>
		          	<input id="correo" class="form-control" type="text"  id="correo"  name="correo"  >
				</div>

        	</div>
    	</div>

<!-- FIN SECCION DIRECCION--->

<!--SECCION PARTICIPANTE-->
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 ">

			<div class="card">

      			<p class="title-card">Participante</p>

				<div class="form-group">
					<label for="dni-hijo">DNI</label>
	          		<input class="form-control" type="text"  id="dni-hijo" onblur="buscarDniHijo(this)"  name="dni-hijo">
		        	<span class="cargarDatosParticipante">Actualizando....</span>
	          		<span class="mensajeEdadParticipante"></span>
				</div>

				<div class="form-group">
					<label for="apellidoPaternoHijo">Apellido Paterno</label>
	          		<input  class="form-control" type="text"  id="apellidoPaterno-hijo"  name="apellidoPaterno-hijo"  >
				</div>

				<div class="form-group">
					<label for="apellidoMaterno-hijo">Apellido Materno</label>
		      		<input  class="form-control" type="text"  id="apellidoMaterno-hijo"  name="apellidoMaterno-hijo"  >
				</div>

				<div class="form-group">
					<label for="nombre-hijo">Nombre</label>
          			<input  class="form-control" type="text"  id="nombre-hijo"  name="nombre-hijo"  >
				</div>

				<div style="display:flex; flex-wrap:wrap;">

					<div class="form-group" style="width:50%;padding-left:5px;">
						<label for="fechaNacimiento-hijo">Fecha Nacimiento</label>
			          	<input  class="form-control" type="text"  id="fechaNacimiento-hijo"  name="fechaNacimiento-hijo">
					</div>

					<div class="form-group" style="width:50%;padding-left:5px;  ">
						<label for="sexo-hijo">Sexo</label>
			          	<select  class="form-control" type="text"  id="sexo-hijo"  name="sexo-hijo" >
			          		<option value="">--SELECCIONAR--</option>
			          		<option value="masculino" >MASCULINO</option>
			          		<option value="femenino" >FEMENINO</option>
			          	</select>
					</div>

					<div class="form-group" style="width:50%;padding:5px;" >
						<label for="parentesco">Parentesco</label>
			          	<select id="parentesco" class="form-control" type="text"  name="parentesco">
			          		<option value="">--SELECCIONAR--</option>
			          		<option value="hijo" >HIJO</option>
			          		<option value="sobrino">SOBRINO</option>
			          		<option value="nieto">NIETO</option>
			          		<option value="otros">OTROS</option>
			          	</select>
					</div>

					<div class="form-group" style="width:50%;padding:5px;">
						<label for="tipoSeguro">Tipo de Seguro</label>
						<select id="tipoSeguro" class="form-control" type="text"  name="tipoSeguro">
							<option value="">--SELECCIONAR--</option>
							<option value="EsSALUD" >EsSALUD</option>
							<option value="SIS" >SIS</option>
							<option value="PRIVADO" >PRIVADO</option>
						</select>
					</div>

				</div>

			</div>
		</div>
<!--FIN SECCION PARTICIPANTE-->
	</div>
	</div>

	<div class="form-group pull-right container-boton "  >
		<button class="btn btn-danger" id="btn-register-apoderado">CONTINUAR</button>
	</div>




<!--
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 ">
        <div class="card">
      		<p class="title-card" >Horarios</p>
            

 






			<div class="form-group">
	  			<a href="#"><button class="btn btn-primary btn-lg"  >Continuar</button></a>
	  		</div>

    	</div>

    </div>
	</div>
-->


</section>

<div class="proceso-inscripcion__horarios" id="process2">
	
	<div class="proceso-inscripcion__horarios__complejo-mapa  col-xs-12 col-sm-12  col-md-8 col-lg-8">
		
		<p class="title-card text-center"  >ELIGE UN COMPLEJO DEPORTIVO</p>

		<div class="complejo">
			
			<div class="form-group form-group-tam">
				<label>Departamento</label>
	            <select id="departamentoHorario" class="form-control"  name="departamentoHorario" onchange="cambiarDepartamentoHorario(this)">
	                <option value="">--Seleccionar--</option>

	                {% for departamento in departamentos %}

	                	<option value="{{departamento.id}}" >{{departamento.nombre}}</option>

	                {% endfor %}

	            </select>
        	</div>

            <div class="form-group form-group-tam">
            	<label>Provincia</label>
                <select  id="provinciaHorario" class="form-control"  name="provincia" onchange="cambiarProvinciaHorario(this)">
                    <option value="">--Seleccionar--</option>
                </select>               
            </div>

            <div class="form-group form-group-tam">
            	<label>Distrito</label>
                <select id="distritoHorario" name="distritoHorario" onchange="cambiarDistritoHorario(this)"  class="form-control">
                    <option value="">--Seleccionar--</option>
                </select> 
            </div>

            <div class="form-group form-group-tam">
        		<label>Complejo Deportivo</label>
            	<select id="complejosDeportivo" name="complejosDeportivo" class="form-control" onchange="cambiarComplejoDeportivo(this)">
                <option value="">--Seleccionar--</option>
            	</select>
        	</div>


		</div>

		<div class="mapa">
			
		   <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2965.0824050173574!2d-93.63905729999999!3d41.998507000000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sWebFilings%2C+University+Boulevard%2C+Ames%2C+IA!5e0!3m2!1sen!2sus!4v1390839289319" width="100%" height="400" frameborder="0" style="border:0"></iframe>

		</div>

		
	</div>

	<div class="proceso-inscripcion__horarios__horario col-xs-12 col-sm-12  col-md-4 col-lg-4">

		<p class="title-card text-center"  >DEPORTE Y HORARIO</p>

        <div class="form-group container-select-deporte"  >
        	<label>Deportiva: </label>
            <select id="disciplinaDeportiva" name="disciplinaDeportiva" class="form-control">
                <option value="">--Seleccionar--</option>
            </select> 
        </div>

        <div class="form-group" >
        	<label>Horario</label>
        	<p>6 a 7 años</p>
        </div>

        <div class="form-group" >
        	<p>8:00 a 9:00 am</p>
        	<p>De martes a viernes</p>
        	<p>40 vacantes</p>
        </div>

        <div class="form-group" >
        	
			<p>Otras Edades</p>

			<div>
				<p>8 a 9</p>
				<p>9:00 a 10:00 am</p>
			</div>	

			<div>
				<p>10 a 12</p>
				<p>10:00 a 11:00 am</p>
			</div>	

			<div>
				<p>13 a 14</p>
				<p>11:00 a 12:00 am</p>
			</div>

			<div>
				<p>15 a 17</p>
				<p>12:00 a 1:00 pm</p>
			</div>		

        </div>
		
	</div>

</div>










{% endblock %}



{% block javascripts %}

<script src="{{asset('assets/vendor/jquery/dist/jquery.js')}}"></script>
<script src="{{asset('assets/vendor/bootstrap/dist/js/bootstrap.js')}}"></script>
<script src="{{asset('assets/vendor/js/scroll.js')}}"></script>
<script>
	
	$.ajax({

		type:'GET',
		dataType: 'json',
		url: "{{url('akademia_getPost')}}",

		beforeSend: function(){
			
		},

		success: function(data){
			

			var dataPost = JSON.parse(data);
			console.log("Post ==> ",dataPost);

		},

		error: function(error){
			console.log(error);
		}

	});


	


	function cambiarDepartamento(departamento){

		idDepartamento = departamento.value;
		console.log(idDepartamento);

		$("#provincia").empty();
		$("#distrito").empty();
		$("#provincia").append("<option value='' >--Seleccionar--</option>");
		$("#distrito").append("<option value='' >--Seleccionar--</option>");
		{% for provincia in provincias  %}

			if("{{provincia.departamento.id}}" == idDepartamento){

				console.log("{{provincia.nombre}}");
				console.log("{{provincia.id}}");
				
				$("#provincia").append("<option value={{provincia.id}} >{{provincia.nombre}}</option>");
				
			}
		{% endfor %}

	}

	function cambiarProvincia(provincia){

		idProvincia = provincia.value;
		console.log(idProvincia);

		$("#distrito").empty();
		$("#distrito").append("<option value='' >--Seleccionar--</option>");
		{% for distrito in distritos  %}

			if("{{distrito.provincia.id}}" == idProvincia){

				console.log("{{distrito.nombre}}");
				console.log("{{distrito.id}}");
				
				$("#distrito").append("<option value={{distrito.id}} >{{distrito.nombre}}</option>");
				
			}

		{% endfor %}

	}

// HORARIO

	function cambiarDepartamentoHorario(departamentoHorario){

		var idDepartamentoHorario = departamentoHorario.value;
		console.log(idDepartamentoHorario);

		$("#provinciaHorario").empty();
		$("#distritoHorario").empty();
		$("#provinciaHorario").append("<option value='' >--Seleccionar--</option>");
		$("#distritoHorario").append("<option value='' >--Seleccionar--</option>");
		$("#complejosDeportivo").empty();
		$("#complejosDeportivo").append("<option value='' >--Seleccionar--</option>");
		$("#disciplinaDeportiva").empty();
		$("#disciplinaDeportiva").append("<option value='' >--Seleccionar--</option>");
		{% for provincia in provincias  %}

			if("{{provincia.departamento.id}}" == idDepartamentoHorario){

				console.log("{{provincia.nombre}}");
				console.log("{{provincia.id}}");
				
				$("#provinciaHorario").append("<option value={{provincia.id}} >{{provincia.nombre}}</option>");
				
			}
		{% endfor %}

	}

	function cambiarProvinciaHorario(provinciaHorario){

		var idProvinciaHorario = provinciaHorario.value;
		console.log(idProvinciaHorario);

		$("#distritoHorario").empty();
		$("#distritoHorario").append("<option value='' >--Seleccionar--</option>");
		$("#complejosDeportivo").empty();
		$("#complejosDeportivo").append("<option value='' >--Seleccionar--</option>");
		$("#disciplinaDeportiva").empty();
		$("#disciplinaDeportiva").append("<option value='' >--Seleccionar--</option>");
		{% for distrito in distritos  %}

			if("{{distrito.provincia.id}}" == idProvinciaHorario){

				console.log("{{distrito.nombre}}");
				console.log("{{distrito.id}}");
				
				$("#distritoHorario").append("<option value={{distrito.id}} >{{distrito.nombre}}</option>");	
			}

		{% endfor %}
	}

	function cambiarDistritoHorario(distritoHorario){

		var idDistritoHorario = distritoHorario.value;
		console.log(idDistritoHorario);

		$("#complejosDeportivo").empty();
		$("#complejosDeportivo").append("<option value='' >--Seleccionar--</option>");
		$("#disciplinaDeportiva").empty();
		$("#disciplinaDeportiva").append("<option value='' >--Seleccionar--</option>");
		{% for complejoDeportivo in complejosDeportivo  %}

			if("{{complejoDeportivo.distrito.id}}" == idDistritoHorario){

				console.log("{{complejoDeportivo.nombre}}");
				console.log("{{complejoDeportivo.id}}");
				
				$("#complejosDeportivo").append("<option value={{complejoDeportivo.id}} >{{complejoDeportivo.nombre}}</option>");
				
			}

		{% endfor %}

	}


	function cambiarComplejoDeportivo(complejoDeportivo){

		var idComplejoDeportivo = complejoDeportivo.value;
		console.log(idComplejoDeportivo);

		
		$("#disciplinaDeportiva").empty();
		$("#disciplinaDeportiva").append("<option value='' >--Seleccionar--</option>");
		{% for complejoDisciplina in complejosDisciplinas  %}

			if("{{complejoDisciplina.complejoDeportivo.id}}" == idComplejoDeportivo){

				console.log("{{complejoDisciplina.disciplinaDeportiva.nombre}}");
				console.log("{{complejoDisciplina.disciplinaDeportiva.id}}");
				
				$("#disciplinaDeportiva").append("<option value={{complejoDisciplina.disciplinaDeportiva.id}} >{{complejoDisciplina.disciplinaDeportiva.nombre}}</option>");
				
			}

		{% endfor %}
	
	}


$("#btn-register-apoderado").on('click',function(){
	
	registrarApoderado();	
})





	function registrarApoderado(){


		var dataRegisterApoderado={

			//DATOS APODERADO
			"dni" : $("#dniApoderado").val(),
			"apellidoPaterno" : $("#apellidoPaterno").val(),
			"apellidoMaterno" : $("#apellidoMaterno").val(),
			"nombre" : $("#nombre").val(),
			"fechaNacimiento" : $("#fechaNacimiento").val(),
			"sexo" : $("#sexo").val(),
			"distrito" : $("#distrito").val(),
			"direccion" : $("#direccion").val(),
			"telefono" : $("#telefono").val(),
			"correo" : $("#correo").val(),

			//DATOS HIJO

			"dniParticipante" : $("#dni-hijo").val(),
			"apellidoPaternoParticipante" : $("#apellidoPaterno-hijo").val(),
			"apellidoMaternoParticipante" : $("#apellidoMaterno-hijo").val(),
			"nombreParticipante" : $("#nombre-hijo").val(),
			"fechaNacimientoParticipante" : $("#fechaNacimiento-hijo").val(),
			"sexoParticipante" : $("#sexo-hijo").val(),
			"parentesco" : $("#parentesco").val(),
			"tipoSeguro" : $("#tipoSeguro").val()
		};


		$.ajax({

			type:'POST',
			dataType: 'json',
			url: "{{url('akademia_registrar')}}",
			data: dataRegisterApoderado,

			beforeSend: function(){
				
			},

			success: function(data){
				
				//var dataApoderado = JSON.parse(data);
				console.log(data);

			},

			error: function(error){
				console.log(error);
			}

		});


	}



	$('.cargarDatosApoderado').hide();	

	function buscarDniApoderado(refDni){

		datoDniPersona = {

			'dni' : refDni.value,
			"persona": 'apoderado'
		};

		$.ajax({

			type:'POST',
			dataType: 'json',
			url: "{{url('akademia_homepage')}}",
			data: datoDniPersona,

			beforeSend: function(){

				$('.cargarDatosApoderado').show();
			},

			success: function(data){
				
				var dataParticiapnte = JSON.parse(data);

				console.log("Busqueda DNI ==> ",dataParticiapnte);

			
					$(dataParticiapnte).each(function(index,valor){

						if(valor.edad >=18){

							$("#apellidoPaterno").val(valor.apellidoPaterno);
							$("#apellidoMaterno").val(valor.apellidoMaterno);
							$("#nombre").val(valor.nombre);
							$("#fechaNacimiento").val(valor.fechaNacimiento);
							$("#sexo").val(valor.sexo);

						}

						else{

							$(".mensajeEdad").empty();
							$(".mensajeEdad").append("Usted Es menor de edad");
						}
					});					
				
					$('.cargarDatosApoderado').hide();
				
			},

			error: function(error){
				console.log(error);
			}

		});
	}

	$('.cargarDatosParticipante').hide();
	function buscarDniHijo(refDni){

		var datoDniPersona = {

			'dni' : refDni.value,
			"persona": 'hijo'
		};

		$.ajax({

			type:'POST',
			dataType: 'json',
			url: "{{url('akademia_homepage')}}",
			data: datoDniPersona,

			beforeSend: function(){

				$('.cargarDatosParticipante').show();
			},

			success: function(data){
				
				var dataHijo = JSON.parse(data);

				console.log("Busqueda DNI ==> ",dataHijo);

					$(dataHijo).each(function(index,valor){

						if(valor.edad <18){

							$("#apellidoPaterno-hijo").val(valor.apellidoPaterno);
							$("#apellidoMaterno-hijo").val(valor.apellidoMaterno);
							$("#nombre-hijo").val(valor.nombre);
							$("#fechaNacimiento-hijo").val(valor.fechaNacimiento);
							$("#sexo-hijo").val(valor.sexo);
						}

						else{

							$(".mensajeEdadParticpante").empty();
							$(".mensajeEdadParticipante").append("Usted Es mayor de edad");
						}
					});					
				
					$('.cargarDatosParticipante').hide();
				
			},

			error: function(error){
				console.log(error);
			}

		});
	}



</script>


{% endblock %}

