{% extends '::base.html.twig' %}
{% block title %}La Academia{% endblock %}
{% block body  %}

<header>
	<nav class="navbar navbar-inverse" role="navigation">
	<div class="container">
	    <div class="navbar-header">
	        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	        </button>                       
	        <img src="{{ asset('assets/images/logo_academia.png') }}" class="img-responsive" alt="" />                                      
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	        <br>
	        <ul class="nav navbar-nav navbar-right">

	            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}	
	            	
	            	<!--<li><a href="{{url('akademia_homepage')}}">Inscripción directa</a></li>
                	<li><a href="{{url('akademia_inscritos')}}">Inscritos</a></li>
                	<li><a href="{{url('akademia_horarios')}}">Horarios</a></li>
                    <li><a href="{{url('akademia_logout')}}">Cerrar sesión</a></li>-->
                    <li title="Inicio"><a href="{{url('akademia_panel')}}"><i class="icon-home" style="font-size:1.5em; color:white"></i></a></li>
                    <li title="Cerrar sesión"><a href="{{url('akademia_logout')}}"><i class="icon-logout" style="font-size:1.5em; color:white" ></i></a></li>
                
                {% else %}
                
                	<li><a href="{{url('akademia_homepage')}}">Inscripciones</a></li>
	            	<li><a href="{{url('akademia_consulta')}}">Consultas</a></li>
					<li><a href="{{url('akademia_login')}}">Promotores</a></li>	            
	            {% endif %}
	        </ul>
	    </div>
	</div>
	</nav>
	{% if  is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
	<br>
	<div style="width:93%">
		<p class="text-right" style="color:grey" >Usuario: {{ app.user.username}} </p>
	</div>
	<div class="proceso text-center">
		<h2>Administración de Pre - Inscritos</h2>
		<h4 style="color:grey">HORARIOS DESACTIVADOS</h4>

		<div id="alert-info" class="alert alert-warning alert-dismissible text-center" role="alert" style="margin-top: 10px;">
			<button id="btn-close-alert-info" type="button" class="close"><span aria-hidden="true">&times;</span></button>
			<p>Previsualiza los horarios para los registros antiguos. Inscripción de preinscritos.</p>
		</div>

	</div>	
		
	{% else %}

		<div id="carousel-1" class="carousel slide" data-ride="carousel">
			<!-- Indicadores -->
			<ol class="carousel-indicators">
				<li data-target="#carousel-1" data-slide-to="0"	class="active" ></li>
				<li data-target="#carousel-1" data-slide-to="1"	></li>
				<li data-target="#carousel-1" data-slide-to="2"	></li>
				<li data-target="#carousel-1" data-slide-to="3"	></li>
				<li data-target="#carousel-1" data-slide-to="4"	></li>
				<li data-target="#carousel-1" data-slide-to="5"	></li>
				<li data-target="#carousel-1" data-slide-to="6"	></li>
				<li data-target="#carousel-1" data-slide-to="7"	></li>
			</ol>
			<!-- contenedor de los slide -->

			<div class="carousel-inner" role="listbox">
				<!-- #1 -->
				<div class="item active">
					<img src="{{ asset('assets/images/slider1.png') }}" class="img-responsive" alt="" style="width:100%;" />
				</div>
				<!-- #2 -->
				<div class="item">
					<img src="{{ asset('assets/images/slider2.png') }}" class="img-responsive" alt="" style="width:100%;" />
				</div>
				<!-- #3 -->
				<div class="item">
					<img src="{{ asset('assets/images/slider3.png') }}" class="img-responsive" alt="" style="width:100%;" />
				</div>
				<!-- #4 -->
				<div class="item">
					<img src="{{ asset('assets/images/slider4.png') }}" class="img-responsive" alt="" style="width:100%;" />
				</div>
				<!-- #5 -->
				<div class="item">
					<img src="{{ asset('assets/images/slider5.png') }}" class="img-responsive" alt="" style="width:100%;" />
				</div>
				<!-- #6 -->
				<div class="item">
					<img src="{{ asset('assets/images/slider6.png') }}" class="img-responsive" alt="" style="width:100%;" />
				</div>
				<!-- #7 -->
				<div class="item">
					<img src="{{ asset('assets/images/slider7.png') }}" class="img-responsive" alt="" style="width:100%;" />
				</div>
				<!-- #8 -->
				<div class="item">
					<img src="{{ asset('assets/images/slider8.png') }}" class="img-responsive" alt="" style="width:100%;" />
				</div>
			</div>
			<!-- Controles -->
			<a href="#carousel-1" class="left carousel-control" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Anterior</span>
			</a>
			<a href="#carousel-1" class="right carousel-control" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Siguiente</span>
			</a>
		</div>
		<div class="bar-info alert alert-info text-center">
			<strong>Inscripciones abiertas sólo para menores de edad desde los 6 años</strong>
		</div>

	{% endif %}
</header>

<section  id="inscribete"  class="proceso-inscripcion">
	<div class="progreso">
		{% if  is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}

			<div class="progreso_container">
				<div class="progreso__barraInscripcion">
					<div class="bar-inscripcion__1 active" >1</div>
					<div class="bar-inscripcion__2 ">2</div>
					<div class="bar-inscripcion__3">3</div>
					<div class="bar-inscripcion__4">4</div>
					<div class="bar-inscripcion__5">5</div>
				</div>		
			</div>
		{% else %}
			<div class="container-titulo">		
				<p>PRE - INSCRIPCIÓN 2018 II</p>
				<h4>Ciclo: Marzo - Diciembre</h4>
			</div>
			<br>
			<div class="progreso_container">
				<div class="progreso__barraInscripcion">
					<div class="bar-inscripcion__1 active" >1</div>
					<div class="bar-inscripcion__2 ">2</div>
					<div class="bar-inscripcion__3">3</div>
					<div class="bar-inscripcion__4">4</div>
					<div class="bar-inscripcion__5">5</div>
				</div>		
			</div>
		{% endif %}
		
	</div>
		
	<div id="proceso1"  class="proceso">
        <div class="container-card col-xs-12 col-sm-8 col-md-6 col-ld-6">
	        <div class="card">	
          		<p class="title-card">DATOS DEL PADRE Y/O APODERADO(A) </p>
				<hr>
				<div class="row">
					<div class="form-group col-xs-12 col-sm- col-md-12 col-ld-12">
						<label for="">Tipo de Documento</label>
					</div>
				</div>

				<div class="row">
					<div class="form-group col-xs-6 col-sm-5 col-md-5 col-ld-5">
						<div>
                        	<select  class="effect-3 text" type="text"  id="tipo_documento"  name="tipo_documento" onchange="modificarTexbox()">
                            	<option value="0"> -- Seleccionar -- </option>
                            	<option value="dni" > DNI</option>
                            	<option value="carnet" > Carnet de extranjería</option>
                        	</select>
                        	<span class="focus-border"></span>
                    	</div>
                    </div>

					<div class="form-group col-xs-6 col-sm-7 col-md-7 col-ld-7">
						<div>
                        	<input id="dniApoderado" type="number" class="effect-3" onblur="buscarDniApoderado(this)" name="dniApoderado"  class="validate" 
                        	oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
					    	type = "number"
					    	maxlength = "8"
					    	min = "1" placeholder="Ingresar DNI ..."  >
					    	<span class="focus-border"></span>
                    	</div>
                    	<span class="cargarDatosApoderado" >Actualizando....</span>
                    	<span class="mensajeEdad" id="mensajeEdad"></span>
                    </div>
				</div>
				<br>  
				<div id="alerta-digitar" class="alert alert-danger collapse"></div>

				<div class="form-group col s12">
				 	<label for="apellidoPaterno">Apellido Paterno</label>
  					<div>
				    	<input id="apellidoPaterno" maxlength="50" class="effect-3" onkeyup="this.value = filtro(this.value, 'letras')" id="apellidoPaterno"  name="apellidoPaterno" type="text" class="validate" placeholder=" Ingresar apellido paterno ..." >
	          			<span class="focus-border"></span>
	      			</div>

				</div>
				<br>
				<div class="form-group col s12">
				    <label for="apellidoMaterno" >Apellido Materno</label>
				    <div>
		            	<input id="apellidoMaterno" maxlength="50" class="effect-3"  onkeyup="this.value = filtro(this.value, 'letras')" type="text" id="apellidoMaterno"  name="apellidoMaterno" class="validate" placeholder=" Ingresar apellido materno ..." >
		            	<span class="focus-border"></span>
		        	</div>

				</div>
	      		<br>		      						
	    		<div class="form-group col s12">
	    			<label for="nombre">Nombres</label>
	    			<div>
	          			<input id="nombre" maxlength="50" class="effect-3"  onkeyup="this.value = filtro(this.value, 'letras')" type="text"  id="nombre"  name="nombre"  placeholder="Ingresar nombre ...">
	          			<span class="focus-border"></span>
	          		</div>
				</div>
				<br>
				<div class="row">
					<div class="form-group col-xs-12 col-sm-12 col-md-6 col-ld-6 ">
						<label for="fechaNacimiento">Fecha de Nacimiento</label>
						<div>
			          		<input class="effect-3"  id="fechaNacimiento" type="date"  id="fechaNacimiento"  name="fechaNacimiento">
			          		<span class="focus-border"></span>
			          	</div>				
					</div>
					<div class="form-group col-xs-12 col-sm-12 col-md-6 col-ld-6 ">
						<label>Sexo</label>
						<div>
					    	<select id="sexo" class="effect-3 text"  name="sexo" >
					    		<option value="2"selected>-- Seleccionar --</option>
					      		<option value="1">Masculino</option>
					      		<option value="0">Femenino</option>
					    	</select>
					    	<span class="focus-border"></span>
					    </div>
					</div>
				</div>
				<hr>
				<div class="container-boton-1 text-center">
					<button class="btn btn-danger" id="boton1" > Continuar <i class="icon-sign-in" style="font-size:1.3em; margin-top:3px" ></i></button>
				</div>
	        </div>		   
		</div>
	</div>

	<div  id="proceso2" class="proceso">
	  	<div class="container-card col-xs-12 col-sm-8 col-md-6 col-ld-6">
		    <div class="card">
		  		<p class="title-card">DIRECCIÓN </p><hr>
		        <div class="form-group col s12">
					<label>Departamento</label>
					<div>
		        		<select id="departamento" class="effect-3 text"  name="departamento"  onchange="cambiarDepartamento(this)">
            				<option value="0">-- Seleccionar --</option>
			            	{% for departamento in departamentos %}
			            		<option value="{{departamento['id']}}" >{{departamento['nombre']}}</option>
			            	{% endfor %} 
		        		</select>
		        		<span class="focus-border"></label> 
		        	</div>
		    	</div>
		    	<br>
		    	<div class="row">
			    	<div class="form-group col-xs-12 col-sm-12 col-md-6 col-ld-6">
			        	<label>Provincia</label>
			        	<div>
			            	<select  id="provincia" class="effect-3 text"  name="provincia" onchange="cambiarProvincia(this)">
			                	<option value="0">-- Seleccionar --</option>
			            	</select>
			            	<span class="focus-border"></span>          
			            </div>     
			        </div>


			        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-ld-6">
			        	<label>Distrito</label>
			        	<div>
			            	<select id="distrito" name="distrito"  class="effect-3 text">
			                	<option value="0">-- Seleccionar --</option>
			            	</select>
			            	<span class="focus-border"></span>
		            	</div> 
			        </div>
		    	</div>
		        <br>
				<div class="form-group col s12">
                    <label for="direccion">Dirección</label>
                    <div>
                    	<input id="direccion" class="effect-3" maxlength="60"  type="text" name="direccion" onkeyup="this.value = filtro(this.value, 'letrasNumeros')" placeholder="Ingresar la dirección">
                    	<span class="focus-border"></span>
                    </div>
                </div>
                <br>
                <div class="row">
	                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-ld-6">
						<label for="telefono">Teléfono</label>
						<div>
			          		<input id="telefono" class="effect-3" maxlength="9" type="text" onkeyup="this.value = filtro(this.value, 'numeros')" id="telefono"  name="telefono" placeholder="Ingresar Telefono" >
			          		<span class="focus-border"></span>
			          	</div>
					</div>

					<div class="form-group col-xs-12 col-sm-12 col-md-6 col-ld-6">
	                    <label for="correo">Correo Electrónico </label>
	                    <div>
	                    	<input id="correo" class="effect-3" maxlength="30" type="email" name="correo" placeholder="Ingresar Correo Electrónico">
	                    	<span class="focus-border"></span>
	                	</div>
	                </div>
                </div>
                <br>
                <div class="row">
                	<div class="form-group col-xs-12 col-sm-12 col-md-12 col-ld-12">
                		<span class="texto parpadea"> (*) Te recomendamos ingresar un correo gmail para enviarte los enlaces de tu ficha y la  declaración jurada.</span>
                	</div>
	            </div>
				<hr>
			    <div class="container-boton-2 text-center">
					<button class="btn btn-danger" id="boton2"> Continuar <i class="icon-sign-in" style="font-size:1.3em; margin-top:3px" ></i></button>
				</div>
	    	</div>
		</div>
	</div>


	<div class="proceso" id="proceso3" >
	  	<div class="container-card col-xs-12 col-sm-8 col-md-6 col-ld-6">
			<div class="card">
	  			<p class="title-card">DATOS DEL PARTICIPANTE</p>
	  			<hr>
	  			<div class="row">
					<div class="form-group col-xs-12 col-sm- col-md-12 col-ld-12">
						<label for="">Tipo de Documento</label>
					</div>
				</div>

	  			<div class="row">
					<div class="form-group col-xs-6 col-sm-5 col-md-5 col-ld-5">
						
						<div>
                        	<select  class="effect-3 text" type="text"  id="tipo_documentoHijo"  name="tipo_documentoHijo" onchange="modificarTexboxHijo()">
                            	<option value="">-- Seleccionar --</option>
                            	<option value="dni" >DNI</option>
                            	<option value="carnet" >Carnet de extranjería</option>
                        	</select>
                        	<span class="focus-border"></span>
                    	</div>
                    </div>

					<div class="form-group col-xs-6 col-sm-7 col-md-7 col-ld-7">

						<div>
                       		<input id="dni-hijo" type="number" class="effect-3" onblur="buscarDniHijo(this)" name="dni-hijo"  class="validate" 
                        	oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
					    	type = "number"
					    	maxlength = "8"
					    	min = "1">
					    	<span class="focus-border"></span>
						</div>

		        	<span class="cargarDatosParticipante">Actualizando....</span>
	          		<span class="mensajeEdadParticipante"></span>
                    </div>
				</div>
				<br>
				<div class="form-group">
					<label for="apellidoPaternoHijo">Apellido Paterno</label>
					<div>
	          		 	<input  class="effect-3" type="text"  id="apellidoPaterno-hijo" onkeyup="this.value = filtro(this.value, 'letras')"  name="apellidoPaterno-hijo"  placeholder="Ingresar Apellido Paterno" >
	          		 	<span class="focus-border"></span>
	          		</div>
				</div>
				<br>
			 	<div class="form-group">
                    <label for="apellidoMaterno-hijo">Apellido Materno</label>
                    <div>
                    	<input  class="effect-3" type="text"  id="apellidoMaterno-hijo" onkeyup="this.value = filtro(this.value, 'letras')" name="apellidoMaterno-hijo" placeholder="Ingresar Apellido Materno">
                    	<span class="focus-border"></span>
                	</div>
                </div>
                <br>
                <div class="form-group">
                    <label for="nombre-hijo">Nombre</label>
                    <div>
                    	<input  class="effect-3" type="text"  id="nombre-hijo" onkeyup="this.value = filtro(this.value, 'letras')" name="nombre-hijo"  placeholder="Ingresar Nombres">
                    	<span class="focus-border"></span>
                	</div>
                </div>
                <br>
				<div class="row">

				 	<div class="form-group col-xs-12 col-sm-12 col-md-6 col-ld-6">
                        <label for="fechaNacimiento-hijo">Fecha Nacimiento</label>
                        <div>
                        	<input  class="effect-3" type="date"  id="fechaNacimiento-hijo"  name="fechaNacimiento-hijo">
                        	<span class="focus-border"></span>
                    	</div>
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-ld-6 ">
                        <label for="sexo-hijo">Sexo</label>
                        <div>
                        	<select  class="effect-3 text" type="text"  id="sexo-hijo"  name="sexo-hijo" >
                           		<option value="2" selected>-- Seleccionar --</option>
					      		<option value="1">Masculino</option>
					      		<option value="0">Femenino</option>
                        	</select>
                        	<span class="focus-border"></span>
                    	</div>
                    </div>

				</div>
				<br>
				<div class="row" >

				    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-ld-6" >
                        <label for="parentesco">Parentesco</label>
                        <div>
                        	<select id="parentesco" class="effect-3 text" type="text"  name="parentesco">
                            	<option value="">-- Seleccionar --</option>
                            	<option value="hijo" >Hijo(a)</option>
                            	<option value="sobrino">Sobrino(a)</option>
                            	<option value="nieto">Nieto(a)</option>
                            	<option value="otros">Otro</option>
                        	</select>
                        	<span class="focus-border"></span>
                    	</div>
                    </div>

                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-ld-6">
                        <label for="tipoSeguro">Tipo de Seguro</label>
                        <div>
                        	<select id="tipoSeguro" class="effect-3 text" type="text"  name="tipoSeguro">
                        		<option value="">--Seleccionar--</option>
                           	 	<option value="EsSALUD" >EsSalud</option>
                            	<option value="SIS" >SIS</option>
                            	<option value="PRIVADO" >Privado</option>
                           	 	<option value="OTROS" >Otros</option>
                        	</select>
                        	<span class="focus-border"></span>
                    	</div>
                    </div>

				</div>
				
				<hr>
            	<div class="form-group col-xs-12 col-sm-12 col-md-12 col-ld-12">
					<div class="row">
						<div class="form-group col-xs-9 col-sm-9 col-md-9 col-ld-9">
							<p style="color:#424242; font-size:14px">¿El participante presenta algún tipo de discapacidad física o mental?</p>
						</div>
						<div class="form-group col-xs-3 col-sm-3 col-md-3 col-ld-3">  
							<div class="input-group">
  								<span class="input-group-addon">
    								<input type="checkbox" name="cbx-discapacidad" id="cbx-discapacidad" value="1">
  								</span>
  								<p type="text" class="form-control">Si</p>
							</div>
						</div>
					</div>
					<div id="advertencia" class="alert alert-danger collapse text-center">
						<p style="font-size:14px">Sólo se mostrarán horarios dirigidos a personas con discapacidad.</p>
					</div>	
				</div>

				<br>
				<div class="container-boton-3 text-center">
					<button class="btn btn-danger" id="boton3">Continuar <i class="icon-sign-in" style="font-size:1.3em; margin-top:3px" ></i>
					</button>
				</div>
			</div>
		</div>		
	</div>

	<div class="proceso">
		<div id="loader" class="loader"></div>
	</div>
	
<div class="proceso" id="ajaxproceso4">
</div>

<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">OTRAS EDADES</h4>
			</div>
			<div class="modal-body">
				<div class="horario-otrasEdades" >
				</div>
			</div>
			<div class="modal-footer">
				<br>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>

</section>
<br><br>

<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
				<br>
				<br>
				<br>
				<img class="align-self-center foot" src="{{ asset('assets/images/ipdfooter.jpg')}}">
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<br><br>
				<h4>La Academia</h4>
				<p class="footerTex">
					Dirección:Calle Madre de Dios N° 463
				</p>
				<p class="footerTex">
					Teléfono: 204-8420 /anexo 1302
				</p>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<br><br>
				<h4>Enlaces de Interés</h4>
				<p><a class="footerTex" href="http://www.ipd.gob.pe/">Instituto Peruano del Deporte</a></p>
				<p><a class="footerTex" href="https://www.facebook.com/recreacion.ipd/">Facebook Recreación</a></p>
				<p><a class="footerTex" href="http://www.ipd.gob.pe/formacion-deportiva">Formación Deportiva</a></p>
			</div>
		</div>
		<br>
    	<p class="col-xs-12 col-sm-12 col-md-12 col-lg-12 copyright">&copy; 2018 Todos los derechos reservados</p>
	</div>
</footer>



{% endblock %}

{% block javascripts %}

<script src="{{asset('assets/vendor/jquery/dist/jquery.js')}}"></script>
<script src="{{asset('assets/vendor/bootstrap/dist/js/bootstrap.js')}}"></script>
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/alertify.min.js"></script>


<script>

	
	/*VALIDAR NEGATIVOS*/
	
	jQuery('#dniApoderado, #dni-hijo').on('keypress', function (e) {

	    if (e.keyCode == 101 || e.keyCode == 45 || e.keyCode == 46 || e.keyCode == 43 || e.keyCode == 44 || e.keyCode == 47 || e.keyCode == 69 ) {

	        return false;
	    }

	    soloNumeros(e.keyCode);
	});
	
	function soloNumeros(e) {
	    var key = window.Event ? e.which : e.keyCode
	        return (key >= 48 && key <= 57)
	}

	
	// validar filtro de caracteres especiales

	jQuery('#correo').on('keypress', function(e){

		if(e.keyCode >= 33  && e.keyCode <= 45 || e.keyCode >=58 && e.keyCode <= 63  || e.keyCode >= 123 && e.keyCode <= 255 ){
			//showAlertMessage('#alerta-digitar', "No se permiten caracteres especiales");
			return false;
		}

		noCaracteresEspeciales(e.keyCode);
	});

	jQuery('#apellidoPaterno,#apellidoMaterno,#nombre,#apellidoPaterno-hijo,#apellidoMaterno-hijo,#nombre-hijo,#direccion,#correo').on('keydown',function(e){

		if(e.keyCode==86 && e.ctrlKey){
			return false;
		}

	});

	function noCaracteresEspeciales(e){
		var key = window.Event ? e.which : e.keyCode
	        return (key >= 64 && key <= 90)
	}


	$(document).ready(function () {
		disablePaste('#dniApoderado');
		disablePaste('#apellidoPaterno');
		disablePaste('#apellidoMaterno'); 
		disablePaste('#nombre');
		disablePaste('#dni-hijo');
		disablePaste('#apellidoPaterno-hijo');
		disablePaste('#apellidoMaterno-hijo'); 
		disablePaste('#nombre-hijo'); 
		disablePaste('#direccion'); 
		disablePaste('#telefono'); 
		disablePaste('#correo'); 
	});

	function disablePaste(input){
		$(input).bind('copy paste', function (e) {
	       e.preventDefault();
	    });
	}

	function filtro(string, tipo){

		var filtro = '';

		switch(tipo){
			case 'letras': 
			filtro = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ ';
			break;
			case 'letrasNumeros': 
			filtro = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ 0123456789';
			break;
			case 'numeros': 
			filtro = '0123456789';
			break;
		}
	    
	    var out = '';
		
	    for (var i=0; i<string.length; i++)
	       if (filtro.indexOf(string.charAt(i)) != -1) 
	         out += string.charAt(i);
		
	    return out.toUpperCase();;
	}

	$('#loader').hide();

	var pageHorario = (estado)=>{

		var urlRegFinal = "{{url('akademia_registroFinal',{estado:'estadoReg'})}}";
		urlRegFinal = urlRegFinal.replace("estadoReg", estado);
		var containerPaso4 = document.querySelector("#ajaxproceso4");
	 
		$.ajax({
			type:'POST',
			url:urlRegFinal,
			data:{'edadBeneficiario':sessionStorage.getItem("edad")},
			beforeSend:function(){
				console.log("Enviando...");
				$('#loader').show();
			},
			success:function(data){
				$(containerPaso4).append(data);
				$('#loader').hide();
			},
			error:function(error){
				console.log(error);
			}
		});
	}


	$("#dniApoderado").hide();
		
	function modificarTexbox(){
	
	    var tipoDoc = $("#tipo_documento").val();

	    switch(tipoDoc) {
	        case "dni":         
	            document.getElementById("dniApoderado").setAttribute("maxlength", "8");
	            $("#dniApoderado" ).show();
	            $("#dniApoderado").focus();
	        break;
	        case "carnet":
	            document.getElementById("dniApoderado").setAttribute("maxlength", "12");
	            $("#dniApoderado" ).show();
	            $("#dniApoderado").focus();
	        break;
	        default:

	        	$("#dniApoderado").hide();
	        	alertify.error('<p style="color:white">Seleccione el tipo de documento</p>'); 
    
	    }
	}	


	$("#dni-hijo").hide();
	
	function modificarTexboxHijo(){
	   
	   	var tipoDoc = $("#tipo_documentoHijo").val();

	    switch(tipoDoc) {
	        case "dni":         
	            document.getElementById("dni-hijo").setAttribute("maxlength", "8");
	            $("#dni-hijo").show();
	            $("#dni-hijo").focus();

	        break;
	        case "carnet":
	            document.getElementById("dni-hijo").setAttribute("maxlength", "12");
	            $("#dni-hijo").show();
	            $("#dni-hijo").focus();
	        break;
	        default:
	        	$("#dni-hijo").hide();
	        	alertify.error('<p style="color:white">Seleccione el tipo de documento</p>'); 
    
	    }
	}	

	/*MENSAJE DE DISCAPACIDAD*/

	//$("#textoCbx").text('No');

	var cont = 0;
	$('#cbx-discapacidad').on( 'click', function() {
	   /* if($(this).is(':checked'))
	    {	
	    	//$("#textoCbx").text('Si');
	    	$("#advertencia").show();
	    	sessionStorage.removeItem('flagDiscapacitado');
      		sessionStorage.setItem('flagDiscapacitado',$(this).val());        
	    }else{
	    	//$("#textoCbx").text('No');
	    	
	    	$("#advertencia").hide();
	    	sessionStorage.removeItem('flagDiscapacitado');
	    	$("#cbx-discapacidad").prop('checked', false);
	    }*/

	    sessionStorage.removeItem('flagDiscapacitado');
	    if(cont==0){
	    	$("#advertencia").show();
      		sessionStorage.setItem('flagDiscapacitado',$(this).val());
	    	cont++;
	    }else{
	    	$("#advertencia").hide();
	    	$("#cbx-discapacidad").prop('checked', false);
	    	cont=0;
	    }


	});

	



	function mayus(e) {
	    e.value = e.value.toUpperCase();
	}

	function cambiarDepartamento(departamento){
		
		idDepartamento = departamento.value;
		sessionStorage.removeItem('horIdDepartamento');
        sessionStorage.setItem('horIdDepartamento',idDepartamento);

		$("#provincia").empty();
		$("#distrito").empty();
		$("#provincia").append("<option value='' >--Seleccionar--</option>");
		$("#distrito").append("<option value='' >--Seleccionar--</option>");
		{% for provincia in provincias  %}
			if("{{provincia['idDepartamento']}}" == idDepartamento){
				
				$("#provincia").append("<option value={{provincia['idProvincia']}}  data-departamento={{provincia['idDepartamento']}} >{{provincia['nombreProvincia']}}</option>");
				
			}
		{% endfor %}
	}
	function cambiarProvincia(provincia){
		
		idProvincia = provincia.value;
		sessionStorage.removeItem('horIdProvincia');
        sessionStorage.setItem('horIdProvincia',idProvincia);

		idDepartamento = $(provincia[1]).attr('data-departamento');
		$("#distrito").empty();
		$("#distrito").append("<option value='' >--Seleccionar--</option>");
		{% for distrito in distritos  %}
			if("{{distrito['idProvincia']}}" == idProvincia  && {{distrito['idDepartamento']}} == idDepartamento ){
				
				$("#distrito").append("<option value={{distrito['idDistrito']}} >{{distrito['nombreDistrito']}}</option>");
				
			}
		{% endfor %}
	}

// HORARIO

	$("#proceso1").show();
	$("#proceso2").hide();
	$("#proceso3").hide();
	$("#process4").hide();
	
	function isValidDate(day,month,year){
					
		var dteDate;
		month=month-1;
		dteDate=new Date(year,month,day);
					 		    
		return ((day==dteDate.getDate()) && (month==dteDate.getMonth()) && (year==dteDate.getFullYear()));
	}
			 
	function validate_fecha(fecha){
		
		var patron=new RegExp("^(19|20)+([0-9]{2})([-])([0-9]{1,2})([-])([0-9]{1,2})$");
			 
		if(fecha.search(patron)==0){
			    
			var values=fecha.split("-");
			if(isValidDate(values[2],values[1],values[0])){
			        
			    return true;
			}
		}
		return false;
	}
	
	function calcularEdad(fecha){
	
		if(validate_fecha(fecha)==true){
		       
			var values=fecha.split("-");
			var dia = values[2];
			var mes = values[1];
			var ano = values[0];
		 
	        // cogemos los valores actuales
	        var fecha_hoy = new Date();
	        var ahora_ano = fecha_hoy.getYear();
	        var ahora_mes = fecha_hoy.getMonth()+1;
	        var ahora_dia = fecha_hoy.getDate();
		 
	        // realizamos el calculo
	        var edad = (ahora_ano + 1900) - ano;
	        if ( ahora_mes < mes ){
	            edad--;
	        }

	        if ((mes == ahora_mes) && (ahora_dia < dia)){
	            edad--;
	        }

	        if (edad > 1900){
	            edad -= 1900;
	        }
		 
		        // calculamos los meses
		        var meses=0;
		        if(ahora_mes>mes)
		            meses=ahora_mes-mes;
		        if(ahora_mes<mes)
		            meses=12-(mes-ahora_mes);
		        if(ahora_mes==mes && dia>ahora_dia)
		            meses=11;
		 
		        // calculamos los dias
		        var dias=0;
		        if(ahora_dia>dia)
		            dias=ahora_dia-dia;
		        if(ahora_dia<dia){
		            ultimoDiaMes=new Date(ahora_ano, ahora_mes, 0);
		            dias=ultimoDiaMes.getDate()-(dia-ahora_dia);
		        }
		    }
		    return edad;
		}	

		$("#boton1").on('click',function(){
             	
             	var expreg = new RegExp("^[0-9]{8}$");
               	var dniApoderadoPaso1 = $("#dniApoderado").val();	 
               	var fechaApoderadoPaso1 = $("#fechaNacimiento").val();	
           		var edadApoderado = calcularEdad(fechaApoderadoPaso1);
               	
               	console.log(expreg.test(dniApoderadoPaso1));
               
                if($("#dniApoderado").val()=="" || !expreg.test(dniApoderadoPaso1)){
                   alertify.error('<p style="color:white">Campo DNI incorrecto</p>'); 
              	}else if($("#apellidoPaterno").val()==""){
                   alertify.error('<p style="color:white">Se requiere el campo apellido paterno</p>'); 
                }else if($("#apellidoMaterno").val()==""){
                   alertify.error('<p style="color:white">Se requiere el campo apellido materno</p>'); 
                }else if($("#nombre").val()==""){
                  alertify.error('<p style="color:white">Se requiere el campo nombres</p>'); 
                }else if(fechaApoderadoPaso1=="" || edadApoderado == undefined || edadApoderado < 18 || edadApoderado > 100 ){
                	console.log(edadApoderado);
                  alertify.error('<p style="color:white">Su fecha de Nacimiento no es la indicada</p>'); 
                }else if($("#sexo").val()==2){
                   alertify.error('<p style="color:white">Debe seleccionar el campo sexo</p>');              
                }else{
                    sessionStorage.clear()
                
                    //DATOS APODERADO

                    sessionStorage.removeItem("dni-apoderado");
                    sessionStorage.removeItem("apellidoPaterno-apoderado");
                    sessionStorage.removeItem("apellidoMaterno-apoderado");
                    sessionStorage.removeItem("nombre-apoderado");
                    sessionStorage.removeItem("fechaNacimiento-apoderado");
                    sessionStorage.removeItem("sexo-apoderado");

					sessionStorage.setItem('apellidoPaterno-apoderado',$("#apellidoPaterno").val());
					sessionStorage.setItem('apellidoMaterno-apoderado',$("#apellidoMaterno").val());
					sessionStorage.setItem('nombre-apoderado',$("#nombre").val());
					sessionStorage.setItem('dni-apoderado',$("#dniApoderado").val());
                    sessionStorage.setItem("fechaNacimiento-apoderado", $("#fechaNacimiento").val());
                    sessionStorage.setItem("sexo-apoderado", $("#sexo").val());

                    console.log("Edad apoderado => "+edadApoderado);
                    
                    $("#proceso1").hide();
                    $("#proceso2").show();
                    $(".bar-inscripcion__1").removeClass('active');
                    $(".bar-inscripcion__2").addClass('active');	
            }
	});

	$("#boton2").on('click',function(){
		
				//var $direccionApoderado = $("#direccion");	

				var expregTelefono = new RegExp("^([0-9]{9}|[0-9]{7})$");
				var expregEmail = new RegExp("^[a-zA-Z0-9\._-]+@[a-zA-Z0-9-]{2,}[.][a-zA-Z]{2,4}$");
				//var expregDireccion = new RegExp("^([a-zA-Z]|[0-9])+$");
                var telefonoApoderadoPaso2 = $("#telefono").val();
                var correoApoderadoPaso2 = $("#correo").val();


                if($("#distrito").val()==0){
                   alertify.error('<p style="color:white">Debe seleccionar el campo distrito</p>'); 
                }else if($("#direccion").val()==0 /*|| !expregDireccion.test($direccionApoderado.val())*/ ){
                   alertify.error('<p style="color:white">Campo Direccion Incorrecto</p>'); 
                }else if( telefonoApoderadoPaso2 =="" || !expregTelefono.test(telefonoApoderadoPaso2)){
                   alertify.error('<p style="color:white">Campo Telefono incorrecto</p>'); 
                }else if(correoApoderadoPaso2 =="" || !expregEmail.test(correoApoderadoPaso2) ){
                  alertify.error('<p style="color:white">Campo Correo incorrecto</p>'); 
                }else{
                    
                    sessionStorage.removeItem("distrito-apoderado");
                    sessionStorage.removeItem("telefono-apoderado");
                    sessionStorage.removeItem("correo-apoderado");
                    sessionStorage.removeItem("direccion-apoderado");

                    sessionStorage.setItem("distrito-apoderado", $("#distrito").val());
                    sessionStorage.setItem("direccion-apoderado", $("#direccion").val());
                    sessionStorage.setItem("telefono-apoderado", $("#telefono").val());
                    sessionStorage.setItem("correo-apoderado", $("#correo").val());
                

                    $("#departamentoHorario").val($("#departamento").val());
                    $("#provinciaHorario").val($("#provincia").val());
                   
                    
                    $("#proceso2").hide();
                    $("#proceso3").show();
                    $(".bar-inscripcion__2").removeClass('active');
                    $(".bar-inscripcion__3").addClass('active');
                }
                
	});

$("#boton3").on('click',function(){
	
	var expregDni = new RegExp("^[0-9]{8}$");
	var dniHijoPaso3 = $("#dni-hijo").val();
    
    if(dniHijoPaso3 =="" || !expregDni.test(dniHijoPaso3)){
       alertify.error('<p style="color:white">Campo DNI incorrecto</p>'); 
    }else if($("#apellidoPaterno-hijo").val()==""){
       alertify.error('<p style="color:white">Se requiere el campo apellido paterno</p>'); 
    }else if($("#apellidoMaterno-hijo").val()==""){
       alertify.error('<p style="color:white">Se requiere el campo apellido materno</p>'); 
    }else if($("#nombre-hijo").val()==""){
      alertify.error('<p style="color:white">Se requiere el campo nombres</p>'); 
    }else if($("#fechaNacimiento-hijo").val()==""){
      alertify.error('<p style="color:white">Se requiere el campo fecha de nacimiento</p>'); 
    }else if($("#sexo-hijo").val()==2){
       alertify.error('<p style="color:white">Debe seleccionar el campo sexo</p>');              
    }else if($("#parentesco").val()==""){
       alertify.error('<p style="color:white">Debe seleccionar el campo parentesco</p>');              
    }else if($("#tipoSeguro").val()==""){
       alertify.error('<p style="color:white">Debe seleccionar el campo tipo de seguro</p>');              
    }else{
    
    	//DATOS PARTICIPANTE

        sessionStorage.removeItem("dni-participante");
        sessionStorage.removeItem("apellidoPaterno-participante");
        sessionStorage.removeItem("apellidoMaterno-partcipante");
        sessionStorage.removeItem("nombre-partcipante");
        sessionStorage.removeItem("fechaNacimiento-partcipante");
        sessionStorage.removeItem("sexo-partcipante");
        sessionStorage.removeItem("parentesco-partcipante");
        sessionStorage.removeItem("tipoSeguro-partcipante");
		sessionStorage.removeItem('edad');
		
		sessionStorage.setItem("dni-participante", $("#dni-hijo").val());
		sessionStorage.setItem("apellidoPaterno-participante", $("#apellidoPaterno-hijo").val());
		sessionStorage.setItem("apellidoMaterno-partcipante", $("#apellidoMaterno-hijo").val());
        sessionStorage.setItem("nombre-partcipante", $("#nombre-hijo").val());
        sessionStorage.setItem("fechaNacimiento-partcipante", $("#fechaNacimiento-hijo").val());
        sessionStorage.setItem("sexo-partcipante", $("#sexo-hijo").val());
        sessionStorage.setItem("parentesco-partcipante", $("#parentesco").val());
        sessionStorage.setItem("tipoSeguro-partcipante", $("#tipoSeguro").val());
        sessionStorage.setItem("edad", calcularEdad($("#fechaNacimiento-hijo").val()));

		
        console.log("EDAD SESION"+sessionStorage.getItem("edad"));
        console.log("Edad SESION ==> "+sessionStorage.getItem("edad"));
		
		if(sessionStorage.getItem("edad")  == null || sessionStorage.getItem('edad')  == undefined){
			var edadParticipante = calcularEdad($("#fechaNacimiento-hijo").val());
			console.log("EDAD CALCULAR FRONTED ==> "+sessionStorage.getItem("edad"));
		}

		if( sessionStorage.getItem("edad") != null || sessionStorage.getItem("edad")!=undefined ){
			if(sessionStorage.getItem('flagDiscapacitado') == '1' ){
				if(sessionStorage.getItem("edad") <= 59 && sessionStorage.getItem("edad")> 6){
					
					$("#proceso3").hide();
					console.log("Val flagDiscapacitado ==>",sessionStorage.getItem('flagDiscapacitado'));
					pageHorario(1);

					$(".bar-inscripcion__3").removeClass('active');
					$(".bar-inscripcion__4").addClass('active');	
			    }else{
			    	alertify.error('<p style="color:white">Sólo de 6 a 59 años. </p>'); 
			    }

			}else if(sessionStorage.getItem('flagDiscapacitado') == null ){
				if(sessionStorage.getItem("edad") < 18 && sessionStorage.getItem("edad")> 5){
					
					$("#proceso3").hide();
					console.log("Val flagDiscapacitado ==>",sessionStorage.getItem('flagDiscapacitado'));
					pageHorario(0);	
			
					$(".bar-inscripcion__3").removeClass('active');
					$(".bar-inscripcion__4").addClass('active');		
				}else{
					alertify.error('<p style="color:white">Sólo de 6 a 17 años. </p>'); 
			    }
			}
			
		}
    }
});

$('.cargarDatosApoderado').hide();	
$("#mensajeEdad").empty();
	
	function buscarDniApoderado(refDni){
		if(refDni.value !=''){
			datoDniPersona = {
			'dni' : refDni.value,
			"persona": 'apoderado'
		};
		$.ajax({
			type:'POST',
			dataType: 'json',
			url: "{{url('akademia_homepage')}}",
			data: datoDniPersona,
			beforeSend: function(){
				$("#mensajeEdad").empty();
				$('.cargarDatosApoderado').show();
			},
			success: function(data){

	 		$("#apellidoPaterno").val('');
            $("#apellidoMaterno").val('');
            $("#nombre").val('');
            $("#fechaNacimiento").val('');
            $("#sexo").val(2);

	     	$("#apellidoPaterno").attr('readonly', false);
	     	$("#apellidoPaterno").attr('disabled', false);

	        $("#apellidoMaterno").attr('readonly', false);
	        $("#apellidoMaterno").attr('disabled', false);

	        $("#nombre").attr('readonly', false);
	        $("#nombre").attr('disabled', false);

	        $("#fechaNacimiento").attr('readonly', false);
	        $("#fechaNacimiento").attr('disabled', false);

	        $("#sexo").attr('readonly', false);
	        $("#sexo").attr('disabled', false);


            	
			if(data != 1){
				var dataApoderado = JSON.parse(data);
				console.log("Busqueda DNI ==> ",dataApoderado);
				
					$(dataApoderado).each(function(index,valor){
						if(valor.edad >=18 || valor.fechaNacimiento == null){

						
							$('#apellidoPaterno').val(filtro(valor.apellidoPaterno, 'letras'));
							$("#apellidoMaterno").val(filtro(valor.apellidoMaterno,'letras'));
							$("#nombre").val(filtro(valor.nombre,'letras'));
							$("#fechaNacimiento").val(valor.fechaNacimiento);
						
						
							if (valor.sexo >= 0 && valor.sexo < 2) {
				                if(valor.sexo == 1){
				                    $("#sexo").val(1);	
				                }else{
				                    $("#sexo").val(0);
				                }
							}

			            }else{

						 	$("#mensajeEdad").empty();
			             	$("#mensajeEdad").append("(*Usted es menor de edad)");
			             	$("#mensajeEdad").removeClass("mensajeEdad");
			             	$("#mensajeEdad").addClass("mensajeEdadError");

			             	$("#apellidoPaterno").attr('readonly', true);
			             	$("#apellidoPaterno").attr('disabled', true);

			                $("#apellidoMaterno").attr('readonly', true);
			             	$("#apellidoMaterno").attr('disabled', true);

			                $("#nombre").attr('readonly', true);
			             	$("#nombre").attr('disabled', true);

			                $("#fechaNacimiento").attr('readonly', true);
			             	$("#fechaNacimiento").attr('disabled', true);

			                $("#sexo").attr('readonly', true);
			             	$("#sexo").attr('disabled', true);

			             	$("#apellidoPaterno").val('');
			             	$("#apellidoMaterno").val('');
			             	$("#nombre").val('');
			             	$("#fechaNacimiento").val('');
			             	$("#sexo").val(2);
			      
						}
					});	

				}else{

					$("#mensajeEdad").removeClass("mensajeEdadError");
	             	$("#mensajeEdad").addClass("mensajeEdad");
					$("#mensajeEdad").empty();

		            $("#apellidoPaterno").val('');
		            $("#apellidoMaterno").val('');
		            $("#nombre").val('');
		            $("#fechaNacimiento").val('');
		            $("#sexo").val(2);
		        }

				$('.cargarDatosApoderado').hide();
				
			},
			error: function(error){
				console.log(error);
			}
		});
		}
     		
	}
	
	$('.cargarDatosParticipante').hide();
	
	function buscarDniHijo(refDni){
		if(refDni.value != ''){

			$("#advertencia").hide();
			$("#parentesco").val("");
			$("#tipoSeguro").val("");
			$("#cbx-discapacidad").prop('checked', false);
			sessionStorage.removeItem('flagDiscapacitado');



			$(".mensajeEdadParticipante").empty();
			
			var datoDniPersona = {
				'dni' : refDni.value,
				"persona": 'hijo'
			};
		$.ajax({
			type:'POST',
			dataType: 'json',
			url: "{{url('akademia_homepage')}}",
			data: datoDniPersona,
			beforeSend: function(){
                $("#mensajeEdad").empty();
				$('.cargarDatosParticipante').show();
			},
			success: function(data){
				
				$("#apellidoPaterno-hijo").attr('readonly', false);
                $("#apellidoMaterno-hijo").attr('readonly', false);
                $("#nombre-hijo").attr('readonly', false);
                $("#fechaNacimiento-hijo").attr('readonly', false);
                $("#sexo-hijo").attr('readonly', false);
                $("#apellidoPaterno-hijo").val("");
                $("#apellidoMaterno-hijo").val("");
                $("#nombre-hijo").val("");
                $("#fechaNacimiento-hijo").val("");
                $("#sexo-hijo").val(2);
				
				if(data != 1){
					var dataHijo = JSON.parse(data);
					console.log("Busqueda DNI ==> ",dataHijo);
				
						$(dataHijo).each(function(index,valor){

							$("#apellidoPaterno-hijo").val(filtro(valor.apellidoPaterno, 'letras'));
							$("#apellidoMaterno-hijo").val(filtro(valor.apellidoMaterno,'letras'));
							$("#nombre-hijo").val(filtro(valor.nombre,'letras'));
					        $("#fechaNacimiento-hijo").val(valor.fechaNacimiento); 

								if (valor.sexo >= 0  && valor.sexo < 2) {
					                if(valor.sexo == 1){
					                    $("#sexo-hijo").val(1);	
					                }else{
					                    $("#sexo-hijo").val(0);
					                }
								} 
								
								sessionStorage.removeItem("edad");	
								sessionStorage.setItem("edad",valor.edad);
						});

						$('.cargarDatosParticipante').hide();
				}else{
						sessionStorage.removeItem("edad");
						$(".mensajeEdadParticpante").empty();
						$('.cargarDatosParticipante').hide();
                               
				}
			},
			error: function(error){
				console.log(error);
			}
		});
		}

	}

	/*Muestra mensaje de alerta*/
	function showAlertMessage(alert, mensaje){
		$(alert).text(mensaje).show('fade');
		setTimeout(function(){
			hideAlertMessage(alert);	
		}, 2000);
	}

	/*Oculta mensaje de alerta*/
	function hideAlertMessage(alert){
		$(alert).hide('fade');		
	}
</script>


{% endblock %}
