
{% extends '::base.html.twig' %}


{% block title %}Akademia{% endblock %}



{% block body  %}




{% for provincia in provincias %}

	

{% endfor %}


<header  class="header"  id="inicio" style=" background-image: url( {{ asset('assets/images/atletismo.jpg') }} ); " >

	<nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>                        
	      </button>
	      <a class="navbar-brand" href="#">Instituto Peruano de Deporte</a>
	    </div>

	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav navbar-right">
		      <li class="active"><a href="#inicio">Inicio</a></li>
	  	      <li><a href="#">Nosotros</a></li>
	  	      <li><a href="#inscribete" >Inscribete</a></li>
		      <li><a href="#">Contactanos</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>

</header>

<section  id="inscribete"  class="proceso-inscripcion">
	
	<div class="progreso">
		<div class="container-titulo">		
			<p>PRE - INSCRIPCION 2018 I</p>	
		</div>
		<div class="progreso_container">
			<div class="progreso__barraInscripcion">
				<div class="bar-inscripcion__1 active" >1</div>
				<div class="bar-inscripcion__2 ">2</div>
				<div class="bar-inscripcion__3">3</div>
				<div class="bar-inscripcion__4">4</div>
				<div class="bar-inscripcion__5">5</div>
			</div>		
		</div>
	</div>
		
	<div id="proceso1"  class="proceso1">
		
        <div class="container-card">
	        <div class="card">	

          		<p class="title-card">Apoderado</p>

				<div class="form-group">
					<label for="dniApoderado">DNI Apoderado</label>
		          	<input id="dniApoderado" value="74510745" class="form-control"  onblur="buscarDniApoderado(this)" type="number"  name="dni"  class="validate">
		          	<span class="cargarDatosApoderado" >Actualizando....</span>
		          	<span class="mensajeEdad" ></span>
				</div>

				<div class="form-group">
					<label for="apellidoPaterno">Apellido Paterno</label>
		          <input id="apellidoPaterno"  class="form-control" id="apellidoPaterno"  name="apellidoPaterno" type="text" class="validate">
				</div>
				
				<div class="form-group">
					<label for="apellidoMaterno">Apellido Materno</label>
		          <input id="apellidoMaterno" class="form-control" type="text" id="apellidoMaterno"  name="apellidoMaterno" class="validate">
				</div>
	      						      						
	    		<div class="form-group">
	    			<label for="nombre">Nombres</label>
	          		<input id="nombre" class="form-control"  type="text"  id="nombre"  name="nombre"  >
				</div>

				<div class="form-group">
					<label for="fechaNacimiento">Fecha de Nacimiento</label>
		          	<input class="form-control"  id="fechaNacimiento" type="text"  id="fechaNacimiento"  name="fechaNacimiento">
		          					
				</div>

				<div class="form-group col s12">
					<label>Sexo</label>
				    <select id="sexo" class="form-control"  name="sexo" >
				    	<option value="">--SELECCIONAR--</option>
				      	<option value="masculino">Masculino</option>
				      	<option value="femenino">Femenino</option>
				    </select>
				</div>

	        </div>
		</div>

		<div class="container-boton-1">
			<button class="btn btn-danger" >Continuar</button>
		</div>

	</div>

	<div  id="proceso2" class="proceso2">
		
	  	<div class="container-card ">
		    	
		    <div class="card">

		  		<p class="title-card">Direccion</p>

		        <div class="form-group">
					<label>Departamento</label>
		        	<select id="departamento" class="form-control"  name="departamento"  onchange="cambiarDepartamento(this)" >
		            	<option value="">--Seleccionar--</option>
		            
			            {% for departamento in departamentos %}
			            	<option value="{{departamento['id']}}" >{{departamento['nombre']}}</option>
			            {% endfor %}

		        	</select> 
		    	</div>

		        <div class="form-group">
		        	<label>Provincia</label>
		            <select  id="provincia" class="form-control"  name="provincia" onchange="cambiarProvincia(this)">
		                <option value="">--Seleccionar--</option>
		            </select>               
		        </div>


		        <div class="form-group">
		        	<label>Distrito</label>
		            <select id="distrito" name="distrito"  class="form-control">
		                <option value="">--Seleccionar--</option>
		            </select> 
		        </div>

				<div class="form-group">
					<label for="direccion">Direccion</label>
		          	<input id="direccion" class="form-control" value="aaaaa"  type="text"  id="direccion"  name="direccion"  >
				</div>

				<div class="form-group">
					<label for="telefono">Telefono</label>
		          	<input id="telefono" class="form-control" value="1234" type="text"  id="telefono"  name="telefono"  >
				</div>

				<div class="form-group">
					<label for="correo">Correo Electronico</label>
		          	<input id="correo" class="form-control" type="text"  value="majerhua123"  id="correo"  name="correo"  >
				</div>

	    	</div>
		</div>

		<div class="container-boton-2">
			<button class="btn btn-danger" >Continuar</button>
		</div>
		
	</div>


	<div class="proceso3" id="proceso3" >
	  	<div class="container-card ">

			<div class="card">

	  			<p class="title-card">Participante</p>

				<div class="form-group">
					<label for="dni-hijo">DNI</label>
	          		<input  value="72307204" class="form-control" type="text"  id="dni-hijo" onblur="buscarDniHijo(this)"  name="dni-hijo">
		        	<span class="cargarDatosParticipante">Actualizando....</span>
	          		<span class="mensajeEdadParticipante"></span>
				</div>

				<div class="form-group">
					<label for="apellidoPaternoHijo">Apellido Paterno</label>
	          		<input  class="form-control" type="text"  id="apellidoPaterno-hijo"  name="apellidoPaterno-hijo"  >
				</div>

				<div class="form-group">
					<label for="apellidoMaterno-hijo">Apellido Materno</label>
		      		<input  class="form-control" type="text"  id="apellidoMaterno-hijo"  name="apellidoMaterno-hijo"  >
				</div>

				<div class="form-group">
					<label for="nombre-hijo">Nombre</label>
	      			<input  class="form-control" type="text"  id="nombre-hijo"  name="nombre-hijo"  >
				</div>

				<div style="display:flex; flex-wrap:wrap;">

					<div class="form-group" style="width:50%;padding-left:5px;">
						<label for="fechaNacimiento-hijo">Fecha Nacimiento</label>
			          	<input  class="form-control" type="text"  id="fechaNacimiento-hijo"  name="fechaNacimiento-hijo">
					</div>

					<div class="form-group" style="width:50%;padding-left:5px;  ">
						<label for="sexo-hijo">Sexo</label>
			          	<select  class="form-control" type="text"  id="sexo-hijo"  name="sexo-hijo" >
			          		//<option value="">--SELECCIONAR--</option>
			          		<option value="masculino" >MASCULINO</option>
			          		<option value="femenino" >FEMENINO</option>
			          	</select>
					</div>

					<div class="form-group" style="width:50%;padding:5px;" >
						<label for="parentesco">Parentesco</label>
			          	<select id="parentesco" class="form-control" type="text"  name="parentesco">
			          		<!--<option value="">--SELECCIONAR--</option>-->
			          		<option value="hijo" >HIJO</option>
			          		<option value="sobrino">SOBRINO</option>
			          		<option value="nieto">NIETO</option>
			          		<option value="otros">OTROS</option>
			          	</select>
					</div>

					<div class="form-group" style="width:50%;padding:5px;">
						<label for="tipoSeguro">Tipo de Seguro</label>
						<select id="tipoSeguro" class="form-control" type="text"  name="tipoSeguro">
							<!--<option value="">--SELECCIONAR--</option>-->
							<option value="EsSALUD" >EsSALUD</option>
							<option value="SIS" >SIS</option>
							<option value="PRIVADO" >PRIVADO</option>
						</select>
					</div>

				</div>

			</div>
		</div>

		<div class="container-boton-3">
			<button class="btn btn-danger" id="boton3" >Continuar</button>
		</div>
	</div>
	


	<div class="proceso-inscripcion__horarios" id="process4">
	
		<div class="proceso-inscripcion__horarios__complejo-mapa  col-xs-12 col-sm-12  col-md-8 col-lg-8">
			
			<p class="title-card text-center">ELIGE UN COMPLEJO DEPORTIVO</p>

			<div class="complejo">
				
				<div class="form-group form-group-tam">
					<label>Departamento</label>
		            <select id="departamentoHorario" class="form-control"  name="departamentoHorario" onchange="cambiarDepartamentoHorario(this)">
		                <option value="">--Seleccionar--</option>

			            {% for departamento in departamentos %}
			            	<option value="{{departamento['id']}}" >{{departamento['nombre']}}</option>
			            {% endfor %}
						
		            </select>
	        	</div>

	            <div class="form-group form-group-tam">
	            	<label>Provincia</label>
	                <select  id="provinciaHorario" class="form-control"  name="provincia" onchange="cambiarProvinciaHorario(this)">
	                    <option value="">--Seleccionar--</option>
	                </select>               
	            </div>

	            <div class="form-group form-group-tam">
	            	<label>Distrito</label>
	                <select id="distritoHorario" name="distritoHorario" onchange="cambiarDistritoHorario(this)"  class="form-control">
	                    <option value="">--Seleccionar--</option>
	                </select> 
	            </div>

	            <div class="form-group form-group-tam">
	        		<label>Complejo Deportivo</label>
	            	<select id="complejosDeportivo" name="complejosDeportivo" class="form-control" onchange="cambiarComplejoDeportivo(this)">
	                <option value="">--Seleccionar--</option>
	            	</select>
	        	</div>


			</div>

			<div class="mapa">
				
			   <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2965.0824050173574!2d-93.63905729999999!3d41.998507000000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sWebFilings%2C+University+Boulevard%2C+Ames%2C+IA!5e0!3m2!1sen!2sus!4v1390839289319" width="100%" frameborder="0" style="border:0"></iframe>

			</div>

			
		</div>

		<div class="proceso-inscripcion__horarios__horario col-xs-12 col-sm-12  col-md-4 col-lg-4">

			<p class="title-card text-center">DEPORTE Y HORARIO</p>

	        <div class="form-group container-select-deporte"  >
	        	<label>Deportive: </label>
	            <select id="disciplinaDeportiva" name="disciplinaDeportiva" class="form-control" onchange="cambiarDisciplinaDeportiva(this)" >
	                <option value="">--Seleccionar--</option>
	            </select> 
	        </div>

	        <div class="form-group container-select-deporte"  >
	        	<label>Horario: </label>
	            <select id="horario" name="horario" class="form-control" onchange="cambiarHorario(this)" >
	                <option value="">--Seleccionar--</option>
	            </select> 
	        </div>

	        <div class="form-group  container-edad-participante" >
	        	<p>Edad</p>
	        	<p><span  id="edadMinima" ></span> a <a id="edadMaxima"></a> años </p>
	        </div>

	        <div class="form-group  container-horario-participante">
	        	<div><span id="horaInicio" ></span> am a <span id="horaFin"></span> am</div>
	        	<div>De martes a viernes</div>
	        	<div><span id="vacantes"></span>vacantes</div>
	        </div>

	        <div class="form-group" >
	        	
				<p>Otras Edades</p>
			
				<div class="horario-otrasEdades" >
		
	        	</div>

				<div class="form-group pull-right container-boton-final"  >
				<button class="btn btn-danger" id="boton-next-final">Finalizar Inscripcion</button>

				</div>		
			</div>	
 			
		</div>
	</div>


	<div class="pdf_inscripcion" id="process5" >
	
		<div class="pdf_inscripcion__1"  >
			<div class="pdf_inscripcion__ficha">
				
				<div class="tituloFicha col-md-12  col-lg-12">
					
					<p>FICHA DE INSCRIPCION</p>
					<P>ACADEMIA IPD VERANO 2018</p>

				</div>

				<div class="campos  col-md-4  col-lg-4"> 
					
					<p>Nombre</p>
					<p>Apellido Paterno</p>
					<p>Apellido Materno</p>
					<p>Distrito</p>
					<p>Domicilio</p>
					<p>Fecha Nacimiento</p>
					<p>Telefono</p>
					<p>Dni</p>
					<p>Edad</p>
					<p>Email</p>
					<p>Deporte</p>
					<p>Complejo</p>
					<p>Horario</p>
				</div>

				<div class="valores col-md-8  col-lg-8">
					
					<p id="nombre-ficha"></p>
					<p id="apellidoPaterni-ficha" ></p>
					<p id="apellidoMaterno-ficha" ></p>
					<p id="distrito-ficha" ></p>
					<p id="domicilio-ficha" ></p>
					<p id="fechaNacimiento-ficha" ></p>
					<p id="telefono-ficha" ></p>
					<p id="dni-ficha" ></p>
					<p id="edad-ficha" ></p>
					<p id="email-ficha" ></p>
					<p id="deporte-ficha" ></p>
					<p id="complejo-ficha" ></p>
					<p id="horario-ficha" ></p>

				</div>

				<div  class="col-md-12 col-lg-12">
					
					<a href="" id="ancla-imprimir-fichaInscripcion"  target="_blank" ><button id="btn-imprimir-fichaInscripcion"  class="btn btn-danger" >Imprimir Ficha</button></a>
					<a href=""  id="ancla-imprimir-declaracion-jurada" target="_blank"><button id="btn-imprimir-declaracion-jurada" class="btn btn-danger" >Imprimir Decla.Jurada</button></a>
				</div>

			</div>
		</div>

		<div class="pdf_inscripcion__confirmacion">
			
		</div>
	</div>
	
	<div>

			<div class="form-group pull-right container-boton "  >
					<button class="btn btn-danger" id="boton-next">CONTINUAR</button>
			</div>
	</div>



</section>

{% endblock %}

{% block javascripts %}

<script src="{{asset('assets/vendor/jquery/dist/jquery.js')}}"></script>
<script src="{{asset('assets/vendor/bootstrap/dist/js/bootstrap.js')}}"></script>
<!--<script src="{{asset('assets/vendor/js/scroll.js')}}"></script>-->
<script>
	


	//$("#btn-imprimir-fichaInscripcion").on('click',function(){

		//location.href ="/academia/pdf/inscripcion/"+sessionStorage.getItem("idInscripcion");
		//window.open("/academia/pdf/declaracion-jurada/"+sessionStorage.getItem("idInscripcion"));


	//});

	//$("#btn-imprimir-declaracion-jurada").on('click',function(){


		//location.href ="/academia/pdf/declaracion-jurada/"+sessionStorage.getItem("idInscripcion");

	//});
	/*
	$("#boton-next-final")Finalizar Inscripcion('click',function(){

		var datosInscripcion = {
			'idParti cipante' : sessionStorage.getItem('idParticipante'),
					
		}

		$.ajax({
			type:'POST',
			dataType: 'json',
			url: "{{url('akademia_registerFinal')}}",
			data: datosInscripcion,
			beforeSend: function(){
				
			},
			success: function(data){
				var dataTotalInscripcion =JSON.parse(data); 
				console.log(dataTotalInscripcion);
				$("#process2").hide();
				$("#process3").show();
				$(dataTotalInscripcion).each(function(index,valor){
				});
			},
			error: function(error){
				console.log(error);
			}
				
		});
	});

*/
/*EVENTO BOTON NEXT PROCESSO 2*/



	//$("#boton-next-final").on('click',function(){
		//registrarApoderado();	
	//})
/*EVENTO FI N BOTON NEXT PROCESSO 2*/	

	function cambiarDepartamento(departamento){

		idDepartamento = departamento.value;
		console.log(idDepartamento);

		$("#provincia").empty();
		$("#distrito").empty();
		$("#provincia").append("<option value='' >--Seleccionar--</option>");
		$("#distrito").append("<option value='' >--Seleccionar--</option>");
		{% for provincia in provincias  %}

			if("{{provincia['idDepartamento']}}" == idDepartamento){

				console.log("{{provincia['nombreProvincia']}}");
				console.log("{{provincia['idProvincia']}}");
				
				$("#provincia").append("<option value={{provincia['idProvincia']}}  data-departamento={{provincia['idDepartamento']}} >{{provincia['nombreProvincia']}}</option>");
				
			}
		{% endfor %}

	}

	function cambiarProvincia(provincia){

		idProvincia = provincia.value;
		idDepartamento = $(provincia[1]).attr('data-departamento');

		$("#distrito").empty();
		$("#distrito").append("<option value='' >--Seleccionar--</option>");
		{% for distrito in distritos  %}

			if("{{distrito['idProvincia']}}" == idProvincia  && {{distrito['idDepartamento']}} == idDepartamento ){
				
				$("#distrito").append("<option value={{distrito['idDistrito']}} >{{distrito['nombreDistrito']}}</option>");
				
			}

		{% endfor %}

	}

// HORARIO

	function cambiarDepartamentoHorario(departamentoHorario){

		var idDepartamentoHorario = departamentoHorario.value;
		console.log(idDepartamentoHorario);

		$("#provinciaHorario").empty();
		$("#distritoHorario").empty();
		$("#provinciaHorario").append("<option value='' >--Seleccionar--</option>");
		$("#distritoHorario").append("<option value='' >--Seleccionar--</option>");
		$("#complejosDeportivo").empty();
		$("#complejosDeportivo").append("<option value='' >--Seleccionar--</option>");
		$("#disciplinaDeportiva").empty();
		$("#disciplinaDeportiva").append("<option value='' >--Seleccionar--</option>");
		{% for provincia in provincias  %}

			if("{{provincia['idDepartamento']}}" == idDepartamentoHorario){

				console.log("{{provincia['nombreProvincia']}}");
				console.log("{{provincia['idProvincia']}}");
				
				$("#provinciaHorario").append("<option value={{provincia['idProvincia']}}  data-departamento={{provincia['idDepartamento']}} >{{provincia['nombreProvincia']}}</option>");
				
			}
		{% endfor %}
	}

	function cambiarProvinciaHorario(provinciaHorario){

		idProvinciaHorario = provinciaHorario.value;
		idDepartamentoHorario = $(provinciaHorario[1]).attr('data-departamento');

		$("#distritoHorario").empty();
		$("#distritoHorario").append("<option value='' >--Seleccionar--</option>");
		$("#complejosDeportivo").empty();
		$("#complejosDeportivo").append("<option value='' >--Seleccionar--</option>");
		$("#disciplinaDeportiva").empty();
		$("#disciplinaDeportiva").append("<option value='' >--Seleccionar--</option>");

		{% for distrito in distritos  %}
			if("{{distrito['idProvincia']}}" == idProvinciaHorario  && {{distrito['idDepartamento']}} == idDepartamentoHorario ){
				$("#distritoHorario").append("<option value={{distrito['idDistrito']}} >{{distrito['nombreDistrito']}}</option>");				
			}
		{% endfor %}

	}

	function cambiarDistritoHorario(distritoHorario){

		var idDistritoHorario = distritoHorario.value;
		console.log(idDistritoHorario);

		$("#complejosDeportivo").empty();
		$("#complejosDeportivo").append("<option value='' >--Seleccionar--</option>");
		$("#disciplinaDeportiva").empty();
		$("#disciplinaDeportiva").append("<option value='' >--Seleccionar--</option>");
		{% for complejoDeportivo in complejosDeportivo  %}

			if("{{complejoDeportivo['ubicodigo']}}" == idDistritoHorario){

				console.log("{{complejoDeportivo['nombre']}}");
				console.log("{{complejoDeportivo['id']}}");
				
				$("#complejosDeportivo").append("<option value={{complejoDeportivo['id']}} >{{complejoDeportivo['nombre']}}</option>");
				
			}
		{% endfor %}
	}


	function cambiarComplejoDeportivo(complejoDeportivo){

		var idComplejoDeportivo = complejoDeportivo.value;
		console.log(idComplejoDeportivo);
		
		$("#disciplinaDeportiva").empty();
		$("#disciplinaDeportiva").append("<option value='' >--Seleccionar--</option>");
		{% for complejoDisciplina in complejosDisciplinas  %}

			if("{{complejoDisciplina['idComplejoDeportivo']}}" == idComplejoDeportivo){
				
				var nombreDis = "{{ complejoDisciplina['nombreDisciplina'] }} ";

				$("#disciplinaDeportiva").append("<option value = {{complejoDisciplina['id']}}>"+nombreDis.trim()+"</option>");

			}
		{% endfor %}
	}


	function cambiarDisciplinaDeportiva(complejoDisciplina){

		var idComplejoDisciplina = complejoDisciplina.value;
		console.log(idComplejoDisciplina);
		$("#horario").empty();
		$(".horario-otrasEdades").empty();
		$("#horario").append("<option value='' >--Seleccionar--</option>");
		$("#vacantes").empty();
		$("#horaInicio").empty();
		$("#horaFin").empty();
		$("#edadMinima").empty();
		$("#edadMaxima").empty();

		{% for horario in horarios  %}

			if("{{horario['edi_codigo']}}" == idComplejoDisciplina){

				if(sessionStorage.getItem("edad") >= {{horario.edadMinima}} && sessionStorage.getItem("edad") <= {{horario.edadMaxima}}){

					console.log("Horario  ==> {{horario['id']}}");
					localStorage.removeItem('idHorario');
					sessionStorage.setItem("idHorario", "{{horario['id']}}");
					$("#horario").append("<option value={{horario['id']}} >HORARIO {{horario['id']}}</option>");
				}else{
				
				$(".horario-otrasEdades").append("<div><p>{{horario['edadMinima']}} a {{horario['edadMaxima']}}</p><p>{{horario['horaInicio']}} a {{horario['horaFin']}} am</p></div>");
				}

		
			}

		{% endfor %}
	
	}

	function cambiarHorario(horario){

		var idHorario = horario.value;
		console.log(idHorario);

		{% for horario in horarios  %}

			if("{{horario['id']}}" == idHorario){

				if(sessionStorage.getItem("edad") >= {{horario.edadMinima}} && sessionStorage.getItem("edad") <= {{horario.edadMaxima}}){

					console.log("Horario  ==> {{horario['id']}}");

					localStorage.removeItem('idHorario');
					sessionStorage.setItem("idHorario", "{{horario['id']}}");

					$("#vacantes").empty();
					$("#vacantes").append("{{horario['vacantes']}}");

					$("#horaInicio").empty();
					$("#horaInicio").append("{{horario['horaInicio']}}");

					$("#horaFin").empty();
					$("#horaFin").append("{{horario['horaFin']}}");

					$("#edadMinima").empty();
					$("#edadMinima").append("{{horario['edadMinima']}}");

					$("#edadMaxima").empty();
					$("#edadMaxima").append("{{horario['edadMaxima']}}");
					
				}		
			}

		{% endfor %}


	}


	$("container-boton-1").on('click',function(){

		//DATOS APODERADO
		sessionStorage.setItem('dni-apoderado',$("#dniApoderado").val());
		sessionStorage.setItem('apellidoPaterno-apoderado',$("#apellidoPaterno").val()) 	
		sessionStorage.setItem("apellidoMaterno-apoderado" , $("#apellidoMaterno").val());
		sessionStorage.setItem("nombre-apoderado", $("#nombre").val())
		sessionStorage.setItem("fechaNacimiento-apoderado" , $("#fechaNacimiento").val());
		sessionStorage.setItem("sexo-apoderado", $("#sexo").val());


	});


	$("container-boton-2").on('click',function(){

		//DATOS APODERADO
		sessionStorage.setItem("distrito-apoderado", $("#distrito").val());
		sessionStorage.setItem("direccion-apoderado", $("#direccion").val());
		sessionStorage.setItem("telefono-apoderado", $("#telefono").val());
		sessionStorage.setItem("correo-apoderado", $("#correo").val());

	});


	$("#boton-next-final").on('click',function(){
		//DATOS APODERADO
		sessionStorage.setItem('dni-apoderado', $("#dniApoderado").val());
		sessionStorage.setItem('apellidoPaterno-apoderado',$("#apellidoPaterno").val()) 	
		sessionStorage.setItem("apellidoMaterno-apoderado" , $("#apellidoMaterno").val());
		sessionStorage.setItem("nombre-apoderado", $("#nombre").val())
		sessionStorage.setItem("fechaNacimiento-apoderado" , $("#fechaNacimiento").val());
		sessionStorage.setItem("sexo-apoderado", $("#sexo").val());
		//DATOS APODERADO
		sessionStorage.setItem("distrito-apoderado", $("#distrito").val());
		sessionStorage.setItem("direccion-apoderado", $("#direccion").val());
		sessionStorage.setItem("telefono-apoderado", $("#telefono").val());
		sessionStorage.setItem("correo-apoderado", $("#correo").val());

		//DATOS APODERADO
		
		sessionStorage.setItem("dni-participante", $("#dni-hijo").val());
		sessionStorage.setItem("apellidoPaterno-participante", $("#apellidoPaterno-hijo").val());
		sessionStorage.setItem("apellidoMaterno-partcipante", $("#apellidoMaterno-hijo").val());
		sessionStorage.setItem("nombre-partcipante", $("#nombre-hijo").val());
		sessionStorage.setItem("fechaNacimiento-partcipante", $("#fechaNacimiento-hijo").val());
		sessionStorage.setItem("sexo-partcipante", $("#sexo-hijo").val());
		sessionStorage.setItem("parentesco-partcipante", $("#parentesco").val());
		sessionStorage.setItem("tipoSeguro-partcipante", $("#tipoSeguro").val());
		
		registrarApoderado();

	});


	function registrarApoderado(){

		var dataRegisterApoderado={

			//DATOS APODERADO
			"dni" : sessionStorage.getItem('dni-apoderado'),
			"apellidoPaterno" : sessionStorage.getItem('apellidoPaterno-apoderado'),
			"apellidoMaterno" : sessionStorage.getItem('apellidoMaterno-apoderado'),
			"nombre" : sessionStorage.getItem('nombre-apoderado'),
			"fechaNacimiento" : sessionStorage.getItem('fechaNacimiento-apoderado'),
			"sexo" : sessionStorage.getItem('sexo-apoderado'),
			"distrito" : sessionStorage.getItem('distrito-apoderado'),
			"direccion" : sessionStorage.getItem('direccion-apoderado'),
			"telefono" : sessionStorage.getItem('telefono-apoderado'),
			"correo" : sessionStorage.getItem('correo-apoderado'),

			//HORARIO
			'idHorario' : sessionStorage.getItem('idHorario'),


			//DATOS HIJO
			"dniParticipante" : sessionStorage.getItem('dni-participante'),
			"apellidoPaternoParticipante" : sessionStorage.getItem('apellidoPaterno-participante'),
			"apellidoMaternoParticipante" : sessionStorage.getItem('apellidoMaterno-partcipante'),
			"nombreParticipante" : sessionStorage.getItem('nombre-partcipante'),
			"fechaNacimientoParticipante" : sessionStorage.getItem('fechaNacimiento-partcipante'),
			"sexoParticipante" : sessionStorage.getItem('sexoParticipante'),
			"parentesco" : sessionStorage.getItem('parentesco-partcipante'),
			"tipoSeguro" : sessionStorage.getItem('tipoSeguro-partcipante')
		};

		$.ajax({

			type:'POST',
			dataType: 'json',
			url: "{{url('akademia_registrar')}}",
			data: dataRegisterApoderado,
			beforeSend: function(){
				
			},
			success: function(data){

				var valor =JSON.parse(data)[0];


				sessionStorage.removeItem("idInscripcion");
				sessionStorage.setItem("idInscripcion",valor.id);

				$("#ancla-imprimir-fichaInscripcion").attr('href',"/academia/pdf/inscripcion/"+sessionStorage.getItem("idInscripcion"));

				$("#ancla-imprimir-declaracion-jurada").attr('href',"/academia/pdf/declaracion-jurada/"+sessionStorage.getItem("idInscripcion"));

				$("#nombre-ficha").append(valor.nombre);
				$("#apellidoPaterni-ficha").append(valor.apellidoPaterno);
				$("#apellidoMaterno-ficha").append(valor.apellidoMaterno);
				$("#distrito-ficha").append(valor.distrito);
				$("#domicilio-ficha").append(valor.direccion);
				$("#fechaNacimiento-ficha").append(valor.fechaNacimiento);
				$("#telefono-ficha").append(valor.telefono);
				$("#dni-ficha").append(valor.dni);
				$("#edad-ficha").append(sessionStorage.getItem("edad"));
				$("#email-ficha").append(valor.correo);
				$("#deporte-ficha").append(valor.nombreDisciplina);
				$("#complejo-ficha").append(valor.nombreComplejo);
				$("#horario-ficha").append(valor.horaInicio+" a "+valor.horaFin);
				$("nombrePadre-declaracion-jurada").append(valor.nombrePadre);
				$(".bar-inscripcion__2").removeClass('active');
				$(".bar-inscripcion__3").addClass('active');

			},
			error: function(error){
				console.log(error);
			}
				
		});
	}

	$('.cargarDatosApoderado').hide();	

	function buscarDniApoderado(refDni){

		datoDniPersona = {

			'dni' : refDni.value,
			"persona": 'apoderado'
		};

		$.ajax({

			type:'POST',
			dataType: 'json',
			url: "{{url('akademia_homepage')}}",
			data: datoDniPersona,

			beforeSend: function(){

				$('.cargarDatosApoderado').show();
			},

			success: function(data){
				
				console.log(data)
				

			if(data !== ""){
				var dataParticiapnte = JSON.parse(data);

				console.log("Busqueda DNI ==> ",dataParticiapnte);

					
					$(dataParticiapnte).each(function(index,valor){

						if(valor.edad >=18){

							$("#apellidoPaterno").val(valor.apellidoPaterno);
							$("#apellidoMaterno").val(valor.apellidoMaterno);
							$("#nombre").val(valor.nombre);
							$("#fechaNacimiento").val(valor.fechaNacimiento);

							if(valor.sexo == 1){
								$("#sexo").val('masculino');	
							}else{
								$("#sexo").val('femenino');
							}
						}

						else{

							$(".mensajeEdad").empty();
							$(".mensajeEdad").append("Usted Es menor de edad");
						}
					});					
				}
					$('.cargarDatosApoderado').hide();
				
			},

			error: function(error){
				console.log(error);
			}

		});
	}

	$('.cargarDatosParticipante').hide();
	function buscarDniHijo(refDni){

		var datoDniPersona = {

			'dni' : refDni.value,
			"persona": 'hijo'
		};

		$.ajax({

			type:'POST',
			dataType: 'json',
			url: "{{url('akademia_homepage')}}",
			data: datoDniPersona,

			beforeSend: function(){

				$('.cargarDatosParticipante').show();
			},

			success: function(data){
				
				var dataHijo = JSON.parse(data);

				console.log("Busqueda DNI ==> ",dataHijo);

					$(dataHijo).each(function(index,valor){

						if(valor.edad <18){

							$("#apellidoPaterno-hijo").val(valor.apellidoPaterno);
							$("#apellidoMaterno-hijo").val(valor.apellidoMaterno);
							$("#nombre-hijo").val(valor.nombre);
							$("#fechaNacimiento-hijo").val(valor.fechaNacimiento);

							if(valor.sexo == 1){
								$("#sexo-hijo").val('masculino');	
							}else{
								$("#sexo-hijo").val('femenino');
							}

							sessionStorage.removeItem('edad');
							sessionStorage.setItem("edad", valor.edad);

						}

						else{

							$(".mensajeEdadParticpante").empty();
							$(".mensajeEdadParticipante").append("Usted Es mayor de edad");

						}
					});					
				
					$('.cargarDatosParticipante').hide();
				
			},

			error: function(error){
				console.log(error);
			}

		});
	}



</script>


{% endblock %}

