
{% extends '::base.html.twig' %}


{% block title %}Akademia{% endblock %}



{% block body  %}



<header  class="header"  id="inicio" style=" background-image: url( {{ asset('assets/images/atletismo.jpg') }} ); " >

	<nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>                        
	      </button>
	      <a class="navbar-brand" href="#">Instituto Peruano de Deporte</a>
	    </div>

	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav navbar-right">
		      <li class="active"><a href="#inicio">Inicio</a></li>
	  	      <li><a href="#">Nosotros</a></li>
	  	      <li><a href="#inscribete" >Inscribete</a></li>
		      <li><a href="#">Contactanos</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>

</header>

<section  id="inscribete"  class="proceso-inscripcion">
	
	<div class="progreso">
		<div class="container-titulo">		
			<p>PRE - INSCRIPCION 2018 I</p>	
		</div>
		<div class="progreso_container">
			<div class="progreso__barraInscripcion">
				<div class="bar-inscripcion__1 active" >1</div>
				<div class="bar-inscripcion__2 ">2</div>
				<div class="bar-inscripcion__3">3</div>
			</div>		
		</div>
	</div>

	<div class="proceso-inscripcion__inscripcion" id="process1" >
	<div class="container">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

	        <div class="card">	

          		<p class="title-card">Apoderado</p>

				<div class="form-group">
					<label for="dniApoderado">DNI Apoderado</label>
		          	<input id="dniApoderado" class="form-control"  onblur="buscarDniApoderado(this)" type="number"  name="dni"  class="validate">
		          	<span class="cargarDatosApoderado" >Actualizando....</span>
		          	<span class="mensajeEdad" ></span>
				</div>

				<div class="form-group">
					<label for="apellidoPaterno">Apellido Paterno</label>
		          <input id="apellidoPaterno"  class="form-control" id="apellidoPaterno"  name="apellidoPaterno" type="text" class="validate">
				</div>
				
				<div class="form-group">
					<label for="apellidoMaterno">Apellido Materno</label>
		          <input id="apellidoMaterno" class="form-control" type="text" id="apellidoMaterno"  name="apellidoMaterno" class="validate">
				</div>
	      						      						
	    		<div class="form-group">
	    			<label for="nombre">Nombres</label>
	          		<input id="nombre" class="form-control"  type="text"  id="nombre"  name="nombre"  >
				</div>

				<div class="form-group">
					<label for="fechaNacimiento">Fecha de Nacimiento</label>
		          	<input class="form-control"  id="fechaNacimiento" type="text"  id="fechaNacimiento"  name="fechaNacimiento">
		          					
				</div>


				<div class="form-group col s12">
					<label>Sexo</label>
				    <select id="sexo" class="form-control"  name="sexo" >
				    	<option value="">--SELECCIONAR--</option>
				      	<option value="masculino">Masculino</option>
				      	<option value="femenino">Femenino</option>
				    </select>
				</div>

        </div>

    </div>



<!--SECCION DIRECCION-->

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 ">
        	<div class="card">

          		<p class="title-card">Direccion</p>

	            <div class="form-group">
					<label>Departamento</label>
	            	<select id="departamento" class="form-control"  name="departamento"  onchange="cambiarDepartamento(this)" >
	                	<option value="">--Seleccionar--</option>
	                {% for departamento in departamentos %}
	                	<option value="{{departamento.id}}" >{{departamento.nombre}}</option>
	                {% endfor %}
	            	</select>
            	</div>
 
		        <div class="form-group">
		        	<label>Provincia</label>
		            <select  id="provincia" class="form-control"  name="provincia" onchange="cambiarProvincia(this)">
		                <option value="">--Seleccionar--</option>
		            </select>               
		        </div>
 

	            <div class="form-group">
	            	<label>Distrito</label>
	                <select id="distrito" name="distrito"  class="form-control">
	                    <option value="">--Seleccionar--</option>
	                </select> 
	            </div>

				<div class="form-group">
					<label for="direccion">Direccion</label>
		          	<input id="direccion" class="form-control" value="aaaaa"  type="text"  id="direccion"  name="direccion"  >
				</div>

				<div class="form-group">
					<label for="telefono">Telefono</label>
		          	<input id="telefono" class="form-control" value="1234" type="text"  id="telefono"  name="telefono"  >
				</div>

				<div class="form-group">
					<label for="correo">Correo Electronico</label>
		          	<input id="correo" class="form-control" type="text"  value="majerhua123"  id="correo"  name="correo"  >
				</div>

        	</div>
    	</div>

<!-- FIN SECCION DIRECCION--->

<!--SECCION PARTICIPANTE-->
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 ">

			<div class="card">

      			<p class="title-card">Participante</p>

				<div class="form-group">
					<label for="dni-hijo">DNI</label>
	          		<input class="form-control" type="text"  id="dni-hijo" onblur="buscarDniHijo(this)"  name="dni-hijo">
		        	<span class="cargarDatosParticipante">Actualizando....</span>
	          		<span class="mensajeEdadParticipante"></span>
				</div>

				<div class="form-group">
					<label for="apellidoPaternoHijo">Apellido Paterno</label>
	          		<input  class="form-control" type="text"  id="apellidoPaterno-hijo"  name="apellidoPaterno-hijo"  >
				</div>

				<div class="form-group">
					<label for="apellidoMaterno-hijo">Apellido Materno</label>
		      		<input  class="form-control" type="text"  id="apellidoMaterno-hijo"  name="apellidoMaterno-hijo"  >
				</div>

				<div class="form-group">
					<label for="nombre-hijo">Nombre</label>
          			<input  class="form-control" type="text"  id="nombre-hijo"  name="nombre-hijo"  >
				</div>

				<div style="display:flex; flex-wrap:wrap;">

					<div class="form-group" style="width:50%;padding-left:5px;">
						<label for="fechaNacimiento-hijo">Fecha Nacimiento</label>
			          	<input  class="form-control" type="text"  id="fechaNacimiento-hijo"  name="fechaNacimiento-hijo">
					</div>

					<div class="form-group" style="width:50%;padding-left:5px;  ">
						<label for="sexo-hijo">Sexo</label>
			          	<select  class="form-control" type="text"  id="sexo-hijo"  name="sexo-hijo" >
			          		//<option value="">--SELECCIONAR--</option>
			          		<option value="masculino" >MASCULINO</option>
			          		<option value="femenino" >FEMENINO</option>
			          	</select>
					</div>

					<div class="form-group" style="width:50%;padding:5px;" >
						<label for="parentesco">Parentesco</label>
			          	<select id="parentesco" class="form-control" type="text"  name="parentesco">
			          		<!--<option value="">--SELECCIONAR--</option>-->
			          		<option value="hijo" >HIJO</option>
			          		<option value="sobrino">SOBRINO</option>
			          		<option value="nieto">NIETO</option>
			          		<option value="otros">OTROS</option>
			          	</select>
					</div>

					<div class="form-group" style="width:50%;padding:5px;">
						<label for="tipoSeguro">Tipo de Seguro</label>
						<select id="tipoSeguro" class="form-control" type="text"  name="tipoSeguro">
							<!--<option value="">--SELECCIONAR--</option>-->
							<option value="EsSALUD" >EsSALUD</option>
							<option value="SIS" >SIS</option>
							<option value="PRIVADO" >PRIVADO</option>
						</select>
					</div>

				</div>

			</div>
		</div>
<!--FIN SECCION PARTICIPANTE-->
	</div>

			<div class="form-group pull-right container-boton "  >
					<button class="btn btn-danger" id="boton-next">CONTINUAR</button>
			</div>
	</div>


<!--INICIO SECCION HORARIO-->
	<div class="proceso-inscripcion__horarios" id="process2">
	
	<div class="proceso-inscripcion__horarios__complejo-mapa  col-xs-12 col-sm-12  col-md-8 col-lg-8">
		
		<p class="title-card text-center"  >ELIGE UN COMPLEJO DEPORTIVO</p>

		<div class="complejo">
			
			<div class="form-group form-group-tam">
				<label>Departamento</label>
	            <select id="departamentoHorario" class="form-control"  name="departamentoHorario" onchange="cambiarDepartamentoHorario(this)">
	                <option value="">--Seleccionar--</option>

	                {% for departamento in departamentos %}

	                	<option value="{{departamento.id}}" >{{departamento.nombre}}</option>

	                {% endfor %}

	            </select>
        	</div>

            <div class="form-group form-group-tam">
            	<label>Provincia</label>
                <select  id="provinciaHorario" class="form-control"  name="provincia" onchange="cambiarProvinciaHorario(this)">
                    <option value="">--Seleccionar--</option>
                </select>               
            </div>

            <div class="form-group form-group-tam">
            	<label>Distrito</label>
                <select id="distritoHorario" name="distritoHorario" onchange="cambiarDistritoHorario(this)"  class="form-control">
                    <option value="">--Seleccionar--</option>
                </select> 
            </div>

            <div class="form-group form-group-tam">
        		<label>Complejo Deportivo</label>
            	<select id="complejosDeportivo" name="complejosDeportivo" class="form-control" onchange="cambiarComplejoDeportivo(this)">
                <option value="">--Seleccionar--</option>
            	</select>
        	</div>


		</div>

		<div class="mapa">
			
		   <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2965.0824050173574!2d-93.63905729999999!3d41.998507000000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sWebFilings%2C+University+Boulevard%2C+Ames%2C+IA!5e0!3m2!1sen!2sus!4v1390839289319" width="100%" frameborder="0" style="border:0"></iframe>

		</div>

		
	</div>

	<div class="proceso-inscripcion__horarios__horario col-xs-12 col-sm-12  col-md-4 col-lg-4">

		<p class="title-card text-center">DEPORTE Y HORARIO</p>

        <div class="form-group container-select-deporte"  >
        	<label>Deportiva: </label>
            <select id="disciplinaDeportiva" name="disciplinaDeportiva" class="form-control" onchange="cambiarDisciplinaDeportiva(this)" >
                <option value="">--Seleccionar--</option>
            </select> 
        </div>

        <div class="form-group  container-edad-participante" >
        	<p>Edad</p>
        	<p><span  id="edadMinima" ></span> a <a id="edadMaxima"></a> años </p>
        </div>

        <div class="form-group  container-horario-participante">
        	<div><span id="horaInicio" ></span> am a <span id="horaFin"></span> am</div>
        	<div>De martes a viernes</div>
        	<div><span id="vacantes"></span>vacantes</div>
        </div>

        <div class="form-group" >
        	
			<p>Otras Edades</p>
		
			<div class="horario-otrasEdades" >
	
        	</div>

			<div class="form-group pull-right container-boton-final"  >
			<button class="btn btn-danger" id="boton-next-final">CONTINUAR</button>

			</div>		
		</div>	
		
	</div>

</div>


<div class="pdf_inscripcion" id="process3" >
	
	<div class="pdf_inscripcion__1"  >
	<div class="pdf_inscripcion__ficha">
		
		<div class="tituloFicha col-md-12  col-lg-12">
			
			<p>FICHA DE INSCRIPCION</p>
			<P>ACADEMIA IPD VERANO 2018</p>

		</div>

		<div class="campos  col-md-4  col-lg-4"> 
			
			<p>Nombre</p>
			<p>Apellido Paterno</p>
			<p>Apellido Materno</p>
			<p>Distrito</p>
			<p>Domicilio</p>
			<p>Fecha Nacimiento</p>
			<p>Telefono</p>
			<p>Dni</p>
			<p>Edad</p>
			<p>Email</p>
			<p>Deporte</p>
			<p>Complejo</p>
			<p>Horario</p>
		</div>

		<div class="valores col-md-8  col-lg-8">
			
			<p id="nombre-ficha"></p>
			<p id="apellidoPaterni-ficha" ></p>
			<p id="apellidoMaterno-ficha" ></p>
			<p id="distrito-ficha" ></p>
			<p id="domicilio-ficha" ></p>
			<p id="fechaNacimiento-ficha" ></p>
			<p id="telefono-ficha" ></p>
			<p id="dni-ficha" ></p>
			<p id="edad-ficha" ></p>
			<p id="email-ficha" ></p>
			<p id="deporte-ficha" ></p>
			<p id="complejo-ficha" ></p>
			<p id="horario-ficha" ></p>

		</div>

		<div  class="col-md-12 col-lg-12">
			
			<a href="" id="ancla-imprimir-fichaInscripcion"  target="_blank" ><button id="btn-imprimir-fichaInscripcion"  class="btn btn-danger" >Imprimir Ficha</button></a>
			<a href=""  id="ancla-imprimir-declaracion-jurada" target="_blank"><button id="btn-imprimir-declaracion-jurada" class="btn btn-danger" >Imprimir Decla.Jurada</button></a>
		</div>

	</div>

	<div class="pdf_inscripcion__declaracion-jurada">
		
		<table style="font-size: 10px;width: 100%;" align="center" border="0">
		    <tr>
		        <td colspan="2"><b>DECLARACION JURADA DE AUTORIZACION</b></td>
		    </tr>
		    <tr>
		        <td colspan="2" class="table-cuerpo" > 
		            <p>Yo, <span id="nombrePadre-declaracion-jurada"></span> <span id="apellidoPaterno-declaracion-jurada"></span> <span id="apellidoMaterno-declaracion-jurada"></span> identificado(a) con Documento Nacional de Identidad Nº <span id="dniPadre-declaracion-jurada" ></span>, padre/madre o apoderado
		                del menor hijo <span id="nombre-declaracion-jurada" ></span> <span id="apellidoPaterno-declaracion-jurada" ></span>  <span id="apellidoMaterno-declaracion-jurada" ></span>con Domicilio <span id="domicilio-declaracion-jurada" ></span>
		                {#Distrito {{ dataDec[0].distrito_apo }}#} Teléfono .</p>
		            <p>Formulo la presente Declaración Jurada de Autorización, en virtud del Principio de Presunción de Veracidad y el artículo 
		                42º de la Ley Nº 27444, "Ley del Procedimiento Administrativo General". <span class="importante">Para Autorizar, a mi menor hijo(a)/tutelado(a)</span> 
		               , identificado(a) con DNI Nº <span class="dniParticipante-declaracion-jurada"></span>  <span class="importante"> a participar en el Programa "DEPORTE PARA TODOS"</span> 
		                que se realizará  en la infraestructura deportiva del IPD  <span id="complejo-declaracion-jurada" ></span> .</p>
		            <p>Es por ello, que me comprometo libre y voluntariamente, asumir las responsabilidades que se pudieran presentarse sobre la participación 
		                de mi menor hijo/tutelado durante el Programa Deporte para Todos, conforme se precisa a continuación:</p>
		            <ol style="margin-left:10px;" >
		                <li>Declaro que mi hijo(a)/tutelado(a) se encuentra apto física y mentalmente para realizar actividades físicas, deportivas y recreactivas en general, por lo que <span class="importante" >libero de toda responsabilidad</span > al IPD por cualquier eventualidad que pueda surgir por el normal transcurrir de las actividades del Programa Deporte para Todos.</li>
		                <li>Informaré al IPD sobre cualquier cambio en el estado físico o de salud de mi hijo(a)/tutelado(a) que se detecte o se desarrolle en cualquier etapa de su vida, después de la fecha en que se firme el presente documento.</li>
		                <li>Manifiesto que mi hijo(a)/tutelado(a), es responsable en todo momento por su comportamiento en el programa Deporte para Todos, por lo que libero de responsabilidad al Instituto Peruano del Deporte y a sus empleados por cualquier daño o gasto que resulte del comportamiento de mi menor hijo(a)/tutelado(a).</li>
		                <li>Comprendo que la participación de mi menor hijo(a)/tutelado(a) en estos deportes conlleva un riesgo, como es la producción de lesiones, en especial en la práctica de deportes de contacto, <span class="importante">por lo que expresamente demuestro mi conformidad con todos los riesgos que existen en el deporte en el cual mi hijo(a)/tutelado(a) participará.</span></li>
		                <li>Es mi responsabilidad como padre, madre y/o apoderado(a), que mi menor hijo(a)/tutelado(a) cuente con un seguro médico vigente, para atenderse ante cualquier emergencia y urgencia médica que se pueda presentar durante su participación en el Programa Deporte para Todos.</li>
		                <li>Los casos no mencionados en los párrafos anteriores, serán evaluados por los responsables del Programa Deporte para Todos de acuerdo a la gravedad de los hechos suscitados y si resultara infractor mi menor hijo(a)/tutelado(a) o mi persona, asumiré las responsabilidades que esto demanda sin perjucio alguno al IPD.</li>
		            </ol>
		            <p>En ese sentido, el Instituto Peruano del Deporte, tomará en cuenta la información consignada en este documento, reservándose el derecho de llevar a cabo las verificaciones correspondientes; 
		                así como solicitar la acreditación de la misma. En caso de detectarse de omitir, ocultar o consignar información falsa, se procederá con las acciones legales que corresponden.</p>
		            <p>Seguidamente, en caso de resultar falsa la información que proporciono, me sujeto a los alcances de lo establecido en el artículo 411º del Código Penal, 
		                concordante con el artículo 32º de la Ley Nº 27444, Ley del Procedimiento Administrativo General.</p>
		            <p>Por medio de la presente, eximo al IPD y a sus empleados de todo reclamo, demanda o actuación legal que estuviese de cualquier forma relacionada con la 
		                participación del menor de edad que se encuentra bajo mi cargo, durante el desarrollo del programa Deporte para Todos, excepto que tales reclamos se basen en la 
		                negligencia o en la conducta inapropiada intencional de los trabajadores del IPD, siempre y cuando estos mismos ocurran dentro de los horarios en los que se desarrolle las actividades del programa.
		            Por tal motivo y en constancia de lo expuesto, firmo el presente documento.</p>
		        </td>       
		    </tr>
		    <br/>
		    <tr>
		        <td style="width: 50%; text-align: center;">
					<div style="width:90px; margin:0 auto;  height:45px;  border:1px solid black "  >
						
					</div>
		        </td>
		{#        <td style="width: 50%" align="center">&nbsp;</td>#}
		    </tr>    
		    <tr>
		        <td style="width: 50%" align="center">____________________________</td>
		        <td style="width: 50%" align="center">____________________________</td>
		    </tr>
		    <tr>
		        <td style="width: 50%"   align="center"><p style="font-size:12px;">HUELLA DACTILAR</p></td>
		        <td style="width: 50%"   align="center"><p style="font-size:12px;">FIRMA<br/></p></td>
		    </tr>	
		    <tr>
		        <td colspan="2" style="text-align: left">
		           <p style="font-size:12px;" > Lima, {{ "now"|date("d") }} de {{ "now"|date("m")|replace({
		                '01'  : 'Enero',
		                '02'  : 'Febrero',
		                '03'  : 'Marzo',
		                '04'  : 'Abril',
		                '05'  : 'Mayo',
		                '06'  : 'Junio',
		                '07'  : 'Julio',
		                '08'  : 'Agosto',
		                '09'  : 'Setiembre',
		                '10'  : 'Octubre',
		                '11'  : 'Noviembre',
		                '12'  : 'Diciembre'
		            }) }} del {{ "now"|date("Y") }}</p>
		        </td>
		    </tr>
		</table>

	</div>
	
	</div>

	<div class="pdf_inscripcion__confirmacion">
		
	</div>


</div>
	

</section>

{% endblock %}

{% block javascripts %}

<script src="{{asset('assets/vendor/jquery/dist/jquery.js')}}"></script>
<script src="{{asset('assets/vendor/bootstrap/dist/js/bootstrap.js')}}"></script>
<!--<script src="{{asset('assets/vendor/js/scroll.js')}}"></script>-->
<script>
	
	$.ajax({

		type:'GET',
		dataType: 'json',
		url: "{{url('akademia_getPost')}}",

		beforeSend: function(){
			
		},

		success: function(data){
		
			var dataPost = JSON.parse(data);
			//console.log("Post ==> ",dataPost);
		},

		error: function(error){
			console.log(error);
		}

	});


	//$("#btn-imprimir-fichaInscripcion").on('click',function(){

		//location.href ="/academia/pdf/inscripcion/"+sessionStorage.getItem("idInscripcion");
		//window.open("/academia/pdf/declaracion-jurada/"+sessionStorage.getItem("idInscripcion"));


	//});

	//$("#btn-imprimir-declaracion-jurada").on('click',function(){


		//location.href ="/academia/pdf/declaracion-jurada/"+sessionStorage.getItem("idInscripcion");

	//});
	

	$("#process3").hide();

	$("#boton-next-final").on('click',function(){

		

		var datosInscripcion = {
			'idParticipante' : sessionStorage.getItem('idParticipante'),
			'idHorario' : sessionStorage.getItem('idHorario')		
		}

		$.ajax({

			type:'POST',
			dataType: 'json',
			url: "{{url('akademia_registerFinal')}}",
			data: datosInscripcion,

			beforeSend: function(){
				
			},

			success: function(data){
				var dataTotalInscripcion =JSON.parse(data); 
				console.log(dataTotalInscripcion);
				$("#process2").hide();
				$("#process3").show();

				$(dataTotalInscripcion).each(function(index,valor){

					sessionStorage.removeItem("idInscripcion");
					sessionStorage.setItem("idInscripcion",valor.id);

					$("#ancla-imprimir-fichaInscripcion").attr('href',"/academia/pdf/inscripcion/"+sessionStorage.getItem("idInscripcion"));

					$("#ancla-imprimir-declaracion-jurada").attr('href',"/academia/pdf/declaracion-jurada"+sessionStorage.getItem("idInscripcion"));

					$("#nombre-ficha").append(valor.participante.nombre);
					$("#apellidoPaterni-ficha").append(valor.participante.apellidoPaterno);
					$("#apellidoMaterno-ficha").append(valor.participante.apellidoMaterno);
					$("#distrito-ficha").append(valor.participante.apoderado.distrito.nombre);
					$("#domicilio-ficha").append(valor.participante.apoderado.direccion);
					$("#fechaNacimiento-ficha").append(valor.participante.fechaNacimiento);
					$("#telefono-ficha").append(valor.participante.apoderado.telefono);
					$("#dni-ficha").append(valor.participante.dni);
					$("#edad-ficha").append(sessionStorage.getItem("edad"));
					$("#email-ficha").append(valor.participante.apoderado.correo);
					$("#deporte-ficha").append(valor.horario.complejoDisciplina.complejoDeportivo.nombre);
					$("#complejo-ficha").append(valor.horario.complejoDisciplina.disciplinaDeportiva.nombre);
					$("#horario-ficha").append(valor.horario.horaInicio+" a "+valor.horario.horaFin);


					$("nombrePadre-declaracion-jurada").append(valor.apoderado.nombre);

					$(".bar-inscripcion__2").removeClass('active');
					$(".bar-inscripcion__3").addClass('active');

				});

			},

			error: function(error){
				console.log(error);
			}
				
		});
	});


/*EVENTO BOTON NEXT PROCESSO 2*/

	$("#process2").hide();

	$("#boton-next").on('click',function(){
		registrarApoderado();	
	})
/*EVENTO FIN BOTON NEXT PROCESSO 2*/	

	function cambiarDepartamento(departamento){

		idDepartamento = departamento.value;
		console.log(idDepartamento);

		$("#provincia").empty();
		$("#distrito").empty();
		$("#provincia").append("<option value='' >--Seleccionar--</option>");
		$("#distrito").append("<option value='' >--Seleccionar--</option>");
		{% for provincia in provincias  %}

			if("{{provincia.departamento.id}}" == idDepartamento){

				console.log("{{provincia.nombre}}");
				console.log("{{provincia.id}}");
				
				$("#provincia").append("<option value={{provincia.id}} >{{provincia.nombre}}</option>");
				
			}
		{% endfor %}

	}

	function cambiarProvincia(provincia){

		idProvincia = provincia.value;
		console.log(idProvincia);

		$("#distrito").empty();
		$("#distrito").append("<option value='' >--Seleccionar--</option>");
		{% for distrito in distritos  %}

			if("{{distrito.provincia.id}}" == idProvincia){

				console.log("{{distrito.nombre}}");
				console.log("{{distrito.id}}");
				
				$("#distrito").append("<option value={{distrito.id}} >{{distrito.nombre}}</option>");
				
			}

		{% endfor %}

	}

// HORARIO

	function cambiarDepartamentoHorario(departamentoHorario){

		var idDepartamentoHorario = departamentoHorario.value;
		console.log(idDepartamentoHorario);

		$("#provinciaHorario").empty();
		$("#distritoHorario").empty();
		$("#provinciaHorario").append("<option value='' >--Seleccionar--</option>");
		$("#distritoHorario").append("<option value='' >--Seleccionar--</option>");
		$("#complejosDeportivo").empty();
		$("#complejosDeportivo").append("<option value='' >--Seleccionar--</option>");
		$("#disciplinaDeportiva").empty();
		$("#disciplinaDeportiva").append("<option value='' >--Seleccionar--</option>");
		{% for provincia in provincias  %}

			if("{{provincia.departamento.id}}" == idDepartamentoHorario){

				console.log("{{provincia.nombre}}");
				console.log("{{provincia.id}}");
				
				$("#provinciaHorario").append("<option value={{provincia.id}} >{{provincia.nombre}}</option>");
				
			}
		{% endfor %}

	}

	function cambiarProvinciaHorario(provinciaHorario){

		var idProvinciaHorario = provinciaHorario.value;
		console.log(idProvinciaHorario);

		$("#distritoHorario").empty();
		$("#distritoHorario").append("<option value='' >--Seleccionar--</option>");
		$("#complejosDeportivo").empty();
		$("#complejosDeportivo").append("<option value='' >--Seleccionar--</option>");
		$("#disciplinaDeportiva").empty();
		$("#disciplinaDeportiva").append("<option value='' >--Seleccionar--</option>");
		{% for distrito in distritos  %}

			if("{{distrito.provincia.id}}" == idProvinciaHorario){

				console.log("{{distrito.nombre}}");
				console.log("{{distrito.id}}");
				
				$("#distritoHorario").append("<option value={{distrito.id}} >{{distrito.nombre}}</option>");	
			}

		{% endfor %}
	}

	function cambiarDistritoHorario(distritoHorario){

		var idDistritoHorario = distritoHorario.value;
		console.log(idDistritoHorario);

		$("#complejosDeportivo").empty();
		$("#complejosDeportivo").append("<option value='' >--Seleccionar--</option>");
		$("#disciplinaDeportiva").empty();
		$("#disciplinaDeportiva").append("<option value='' >--Seleccionar--</option>");
		{% for complejoDeportivo in complejosDeportivo  %}

			if("{{complejoDeportivo.distrito.id}}" == idDistritoHorario){

				console.log("{{complejoDeportivo.nombre}}");
				console.log("{{complejoDeportivo.id}}");
				
				$("#complejosDeportivo").append("<option value={{complejoDeportivo.id}} >{{complejoDeportivo.nombre}}</option>");
				
			}

		{% endfor %}

	}


	function cambiarComplejoDeportivo(complejoDeportivo){

		var idComplejoDeportivo = complejoDeportivo.value;
		console.log(idComplejoDeportivo);

		
		$("#disciplinaDeportiva").empty();
		$("#disciplinaDeportiva").append("<option value='' >--Seleccionar--</option>");
		{% for complejoDisciplina in complejosDisciplinas  %}

			if("{{complejoDisciplina.complejoDeportivo.id}}" == idComplejoDeportivo){

				console.log("{{complejoDisciplina.disciplinaDeportiva.nombre}}");
				console.log("{{complejoDisciplina.disciplinaDeportiva.id}}");
				
				$("#disciplinaDeportiva").append("<option value={{complejoDisciplina.id}} >{{complejoDisciplina.disciplinaDeportiva.nombre}}</option>");
				
			}

		{% endfor %}
	
	}


	function cambiarDisciplinaDeportiva(complejoDisciplina){

		var idComplejoDisciplina = complejoDisciplina.value;
		console.log(idComplejoDisciplina);

		$(".horario-otrasEdades").empty();
		{% for horario in horarios  %}

			if("{{horario.complejoDisciplina.id}}" == idComplejoDisciplina){

				if(sessionStorage.getItem("edad") >= {{horario.edadMinima}} && sessionStorage.getItem("edad") <= {{horario.edadMaxima}}){

					console.log("Horario  ==> {{horario.id}}");

					localStorage.removeItem('idHorario');
					sessionStorage.setItem("idHorario", "{{horario.id}}");

					$("#vacantes").empty();
					$("#vacantes").append("{{horario.vacantes}}");

					$("#horaInicio").empty();
					$("#horaInicio").append("{{horario.horaInicio}}");

					$("#horaFin").empty();
					$("#horaFin").append("{{horario.horaFin}}");

					$("#edadMinima").empty();
					$("#edadMinima").append("{{horario.edadMinima}}");

					$("#edadMaxima").empty();
					$("#edadMaxima").append("{{horario.edadMaxima}}");

					console.log("{{horario.vacantes}}");
					console.log("{{horario.horaInicio}}");
					console.log("{{horario.horaFin}}");
					console.log("{{horario.edadMinima}}");
					console.log("{{horario.edadMaxima}}");
					
				}else{
				
				$(".horario-otrasEdades").append("<div><p>{{horario.edadMinima}} a {{horario.edadMaxima}}</p><p>{{horario.horaInicio}} a {{horario.horaFin}} am</p></div>");
				}
		
			}

		{% endfor %}
	
	}

	function registrarApoderado(){

		var dataRegisterApoderado={

			//DATOS APODERADO
			"dni" : $("#dniApoderado").val(),
			"apellidoPaterno" : $("#apellidoPaterno").val(),
			"apellidoMaterno" : $("#apellidoMaterno").val(),
			"nombre" : $("#nombre").val(),
			"fechaNacimiento" : $("#fechaNacimiento").val(),
			"sexo" : $("#sexo").val(),
			"distrito" : $("#distrito").val(),
			"direccion" : $("#direccion").val(),
			"telefono" : $("#telefono").val(),
			"correo" : $("#correo").val(),

			//DATOS HIJO

			"dniParticipante" : $("#dni-hijo").val(),
			"apellidoPaternoParticipante" : $("#apellidoPaterno-hijo").val(),
			"apellidoMaternoParticipante" : $("#apellidoMaterno-hijo").val(),
			"nombreParticipante" : $("#nombre-hijo").val(),
			"fechaNacimientoParticipante" : $("#fechaNacimiento-hijo").val(),
			"sexoParticipante" : $("#sexo-hijo").val(),
			"parentesco" : $("#parentesco").val(),
			"tipoSeguro" : $("#tipoSeguro").val()
		};

		$.ajax({

			type:'POST',
			dataType: 'json',
			url: "{{url('akademia_registrar')}}",
			data: dataRegisterApoderado,

			beforeSend: function(){
				
			},

			success: function(data){
								
				//var dataApoderado = JSON.parse(data);
				console.log(data);

				if( typeof(parseInt(data[0].edad)) == 'number'){

					$(".bar-inscripcion__1").removeClass('active');
					$(".bar-inscripcion__2").addClass('active');

					$("#process1").hide();
					$("#process2").show();

					sessionStorage.removeItem('edad');
					sessionStorage.setItem("edad", data[0].edad);
					console.log(data[0].edad);

					localStorage.removeItem('idParticipante');
					sessionStorage.setItem("idParticipante", data[0].id);
					console.log(data[0].id);

				}else{
					console.log("No se ha registrado");
				}

			},

			error: function(error){
				console.log(error);
			}
				
		});
	}

	$('.cargarDatosApoderado').hide();	

	function buscarDniApoderado(refDni){

		datoDniPersona = {

			'dni' : refDni.value,
			"persona": 'apoderado'
		};

		$.ajax({

			type:'POST',
			dataType: 'json',
			url: "{{url('akademia_homepage')}}",
			data: datoDniPersona,

			beforeSend: function(){

				$('.cargarDatosApoderado').show();
			},

			success: function(data){
				
				var dataParticiapnte = JSON.parse(data);

				console.log("Busqueda DNI ==> ",dataParticiapnte);

			
					$(dataParticiapnte).each(function(index,valor){

						if(valor.edad >=18){

							$("#apellidoPaterno").val(valor.apellidoPaterno);
							$("#apellidoMaterno").val(valor.apellidoMaterno);
							$("#nombre").val(valor.nombre);
							$("#fechaNacimiento").val(valor.fechaNacimiento);
							$("#sexo").val(valor.sexo);

						}

						else{

							$(".mensajeEdad").empty();
							$(".mensajeEdad").append("Usted Es menor de edad");
						}
					});					
				
					$('.cargarDatosApoderado').hide();
				
			},

			error: function(error){
				console.log(error);
			}

		});
	}

	$('.cargarDatosParticipante').hide();
	function buscarDniHijo(refDni){

		var datoDniPersona = {

			'dni' : refDni.value,
			"persona": 'hijo'
		};

		$.ajax({

			type:'POST',
			dataType: 'json',
			url: "{{url('akademia_homepage')}}",
			data: datoDniPersona,

			beforeSend: function(){

				$('.cargarDatosParticipante').show();
			},

			success: function(data){
				
				var dataHijo = JSON.parse(data);

				console.log("Busqueda DNI ==> ",dataHijo);

					$(dataHijo).each(function(index,valor){

						if(valor.edad <18){

							$("#apellidoPaterno-hijo").val(valor.apellidoPaterno);
							$("#apellidoMaterno-hijo").val(valor.apellidoMaterno);
							$("#nombre-hijo").val(valor.nombre);
							$("#fechaNacimiento-hijo").val(valor.fechaNacimiento);
							$("#sexo-hijo").val(valor.sexo);

						}

						else{

							$(".mensajeEdadParticpante").empty();
							$(".mensajeEdadParticipante").append("Usted Es mayor de edad");

						}
					});					
				
					$('.cargarDatosParticipante').hide();
				
			},

			error: function(error){
				console.log(error);
			}

		});
	}



</script>


{% endblock %}

