
{% extends '::base.html.twig' %}
{% block title %}La Academia{% endblock %}
{% block body  %}


<header>
	<nav class="navbar navbar-inverse" role="navigation">
	<div class="container">
	    <div class="navbar-header">
	        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	        </button>                       
	        <img src="{{ asset('assets/images/logo_academia.png') }}" class="img-responsive" alt="" />                                      
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	        <br>
	        <ul class="nav navbar-nav navbar-right">
	            <li><a href="{{url('akademia_homepage')}}">Inscripciones</a></li>
	            <li><a href="{{url('akademia_consulta')}}">Consultas</a></li>

	            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER')   %}	
	            	<li><a href="{{url('akademia_inscritos')}}">Promotores</a></li>

	            {% else %}
					{#<li><a href="{{url('akademia_login')}}">Promotores</a></li>#}	            

	            {% endif %}
	        </ul>
	    </div>
	</div>
	</nav>
<div id="carousel-1" class="carousel slide" data-ride="carousel">
		<!-- Indicadores -->
		<ol class="carousel-indicators">
			<li data-target="#carousel-1" data-slide-to="0"	class="active" ></li>
			<li data-target="#carousel-1" data-slide-to="1"	></li>
			<li data-target="#carousel-1" data-slide-to="2"	></li>
			<li data-target="#carousel-1" data-slide-to="3"	></li>
			<li data-target="#carousel-1" data-slide-to="4"	></li>
			<li data-target="#carousel-1" data-slide-to="5"	></li>
			<li data-target="#carousel-1" data-slide-to="6"	></li>
			<li data-target="#carousel-1" data-slide-to="7"	></li>
			<li data-target="#carousel-1" data-slide-to="8"	></li>
		</ol>
		<!-- contenedor de los slide -->

		<div class="carousel-inner" role="listbox">
			<!-- #1 -->
			<div class="item active">
				<img src="{{ asset('assets/images/slider1.png') }}" class="img-responsive" alt="" style="width:100%;" />
			</div>
			<!-- #2 -->
			<div class="item">
				<img src="{{ asset('assets/images/slider2.png') }}" class="img-responsive" alt="" style="width:100%;" />
			</div>
			<!-- #3 -->
			<div class="item">
				<img src="{{ asset('assets/images/slider3.png') }}" class="img-responsive" alt="" style="width:100%;" />
			</div>
			<!-- #4 -->
			<div class="item">
				<img src="{{ asset('assets/images/slider4.png') }}" class="img-responsive" alt="" style="width:100%;" />
			</div>
			<!-- #5 -->
			<div class="item">
				<img src="{{ asset('assets/images/slider5.png') }}" class="img-responsive" alt="" style="width:100%;" />
			</div>
			<!-- #6 -->
			<div class="item">
				<img src="{{ asset('assets/images/slider6.png') }}" class="img-responsive" alt="" style="width:100%;" />
			</div>
			<!-- #7 -->
			<div class="item">
				<img src="{{ asset('assets/images/slider7.png') }}" class="img-responsive" alt="" style="width:100%;" />
			</div>
			<!-- #8 -->
			<div class="item">
				<img src="{{ asset('assets/images/slider8.png') }}" class="img-responsive" alt="" style="width:100%;" />
			</div>
		</div>
		<!-- Controles -->
		<a href="#carousel-1" class="left carousel-control" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Anterior</span>
		</a>
		<a href="#carousel-1" class="right carousel-control" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Siguiente</span>
		</a>
	</div>
	<div class="bar-info alert alert-info text-center">
		<strong>Inscripciones abiertas sólo para menores de edad desde los 6 años</strong>
	</div>
</header>

<section  id="inscribete"  class="proceso-inscripcion">
	<div class="progreso">
		<div class="container-titulo">		
			<p>PRE - INSCRIPCIÓN 2018 I</p>
		</div>
		<div class="progreso_container">
			<div class="progreso__barraInscripcion">
				<div class="bar-inscripcion__1 active" >1</div>
				<div class="bar-inscripcion__2 ">2</div>
				<div class="bar-inscripcion__3">3</div>
				<div class="bar-inscripcion__4">4</div>
				<div class="bar-inscripcion__5">5</div>
			</div>		
		</div>
	</div>
		
	<div id="proceso1"  class="proceso">
        <div class="container-card col-xs-12 col-sm-8 col-md-6 col-ld-6">
	        <div class="card">	
          		<p class="title-card">DATOS DEL PADRE Y/O APODERADO(A) </p>
				<hr>
				<div class="row">
					<div class="form-group col-xs-12 col-sm- col-md-12 col-ld-12">
						<label for="">Tipo de Documento</label>
					</div>
				</div>

				<div class="row">
					<div class="form-group col-xs-6 col-sm-5 col-md-5 col-ld-5">
                        <select  class="form-control" type="text"  id="tipo_documento"  name="tipo_documento" onchange="modificarTexbox()">
                            <option value="">--SELECCIONAR--</option>
                            <option value="dni" >DNI</option>
                            <option value="carnet" >CARNET DE EXTRANJERÍA</option>
                        </select>
                    </div>

					<div class="form-group col-xs-6 col-sm-7 col-md-7 col-ld-7">
                        <input id="dniApoderado" class="form-control" onblur="buscarDniApoderado(this)" name="dniApoderado"  class="validate">
                        <span class="cargarDatosApoderado" >Actualizando....</span>
                        <span class="mensajeEdad" ></span>
                    </div>
				</div>
				<br>      
				<div class="form-group col s12">
				  <label for="apellidoPaterno">Apellido Paterno</label>
		          <input id="apellidoPaterno" maxlength="50" class="form-control" onkeyup="mayus(this)" id="apellidoPaterno"  name="apellidoPaterno" type="text" class="validate">

				</div>
				
				<div class="form-group col s12">
				    <label for="apellidoMaterno" >Apellido Materno</label>
		            <input id="apellidoMaterno" maxlength="50" class="form-control" onkeyup="mayus(this)" type="text" id="apellidoMaterno"  name="apellidoMaterno" class="validate">
				</div>
	      						      						
	    		<div class="form-group col s12">
	    			<label for="nombre">Nombres</label>
	          		<input id="nombre" maxlength="50" class="form-control"  onkeyup="mayus(this)" type="text"  id="nombre"  name="nombre"  >
				</div>
				<br>
				<div class="row">
					<div class="form-group col-xs-12 col-sm-12 col-md-6 col-ld-6 ">
						<label for="fechaNacimiento">Fecha de Nacimiento</label>
			          	<input class="form-control"  id="fechaNacimiento" type="date"  id="fechaNacimiento"  name="fechaNacimiento">
			          					
					</div>
					<div class="form-group col-xs-12 col-sm-12 col-md-6 col-ld-6 ">
						<label>Sexo</label>
					    <select id="sexo" class="form-control"  name="sexo" >
					    	<option value="2"selected>--SELECCIONAR--</option>
					      	<option value="1">Masculino</option>
					      	<option value="0">Femenino</option>
					    </select>
					</div>
				</div>
				<hr>
				<div class="container-boton-1 text-center">
					<button class="btn btn-danger" id="boton1" > Continuar <i class="icon-sign-in" style="font-size:1.3em; margin-top:3px" ></i></button>
				</div>
	        </div>		   
		</div>
	</div>

	<div  id="proceso2" class="proceso">
	  	<div class="container-card col-xs-12 col-sm-8 col-md-6 col-ld-6">
		    <div class="card">
		  		<p class="title-card">DIRECCIÓN </p><hr>
		        <div class="form-group col s12">
					<label>Departamento</label>
		        	<select id="departamento" class="form-control"  name="departamento"  onchange="cambiarDepartamento(this)" >
		            	<option value="0">--Seleccionar--</option>
		            
			            {% for departamento in departamentos %}
			            	<option value="{{departamento['id']}}" >{{departamento['nombre']}}</option>
			            {% endfor %}

		        	</select> 
		    	</div>
		    	<br>
		    	<div class="row">
			    	<div class="form-group col-xs-12 col-sm-12 col-md-6 col-ld-6">
			        	<label>Provincia</label>
			            <select  id="provincia" class="form-control"  name="provincia" onchange="cambiarProvincia(this)">
			                <option value="0">--Seleccionar--</option>
			            </select>               
			        </div>


			        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-ld-6">
			        	<label>Distrito</label>
			            <select id="distrito" name="distrito"  class="form-control">
			                <option value="0">--Seleccionar--</option>
			            </select> 
			        </div>
		    	</div>
		        <br>
				<div class="form-group col s12">
                    <label for="direccion">Dirección</label>
                    <input id="direccion" class="form-control"  type="text" name="direccion" onkeyup="mayus(this)" placeholder="Ingresar la dirección" >
                </div>
                <br>
                <div class="row">
	                <div class="form-group col-xs-12 col-sm-12 col-md-4 col-ld-4">
						<label for="telefono">Teléfono</label>
			          	<input id="telefono" class="form-control" maxlength="9" type="text" onkeyup="mayus(this)" id="telefono"  name="telefono" placeholder="Ingresar Telefono" >
					</div>

					<div class="form-group col-xs-12 col-sm-12 col-md-8 col-ld-8">
	                    <label for="correo">Correo Electrónico</label>
	                    <input id="correo" class="form-control" type="email" name="correo" placeholder="Ingresar Correo Electrónico">
	                </div>
                 </div>
				<hr>
	    	</div>
	    	
		    <div class="container-boton-2 text-center">
				<button class="btn btn-danger" id="boton2" >Continuar <i class="icon-sign-in" style="font-size:1.3em; margin-top:3px" ></i></button>
			</div>
		</div>
	</div>


	<div class="proceso" id="proceso3" >
	  	<div class="container-card col-xs-12 col-sm-8 col-md-6 col-ld-6">
			<div class="card">
	  			<p class="title-card">DATOS DEL PARTICIPANTE</p>
	  			<hr>
	  			<div class="row">
					<div class="form-group col-xs-12 col-sm- col-md-12 col-ld-12">
						<label for="">Tipo de Documento</label>
					</div>
				</div>
	  			<div class="row">
					<div class="form-group col-xs-6 col-sm-5 col-md-5 col-ld-5">
                        <select  class="form-control" type="text"  id="tipo_documentoHijo"  name="tipo_documentoHijo" onchange="modificarTexboxHijo()">
                            <option value="">--SELECCIONAR--</option>
                            <option value="dni" >DNI</option>
                            <option value="carnet" >CARNET DE EXTRANJERÍA</option>
                        </select>
                    </div>

					<div class="form-group col-xs-6 col-sm-7 col-md-7 col-ld-7">
                       <input class="form-control" type="text"  id="dni-hijo" onblur="buscarDniHijo(this)"  name="dni-hijo" placeholder="Ingresar DNI">
		        	<span class="cargarDatosParticipante">Actualizando....</span>
	          		<span class="mensajeEdadParticipante"></span>
                    </div>
				</div>
				<br>
				<div class="form-group">
					<label for="apellidoPaternoHijo">Apellido Paterno</label>
	          		 <input  class="form-control" type="text"  id="apellidoPaterno-hijo" onkeyup="mayus(this)"  name="apellidoPaterno-hijo"  placeholder="Ingresar Apellido Paterno" >
				</div>
				
			 	<div class="form-group">
                    <label for="apellidoMaterno-hijo">Apellido Materno</label>
                    <input  class="form-control" type="text"  id="apellidoMaterno-hijo" onkeyup="mayus(this)" name="apellidoMaterno-hijo" placeholder="Ingresar Apellido Materno"   >
                </div>
                
                <div class="form-group">
                    <label for="nombre-hijo">Nombre</label>
                    <input  class="form-control" type="text"  id="nombre-hijo" onkeyup="mayus(this)" name="nombre-hijo"  placeholder="Ingresar Nombres"  >
                </div>
                <br>
				<div class="row">
				 	<div class="form-group col-xs-12 col-sm-12 col-md-6 col-ld-6">
                        <label for="fechaNacimiento-hijo">Fecha Nacimiento</label>
                        <input  class="form-control" type="date"  id="fechaNacimiento-hijo"  name="fechaNacimiento-hijo">
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-ld-6 ">
                        <label for="sexo-hijo">Sexo</label>
                        <select  class="form-control" type="text"  id="sexo-hijo"  name="sexo-hijo" >
                           	<option value="2" selected>--SELECCIONAR--</option>
					      	<option value="1">Masculino</option>
					      	<option value="0">Femenino</option>
                        </select>
                    </div>
				    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-ld-6" >
                        <label for="parentesco">Parentesco</label>
                        <select id="parentesco" class="form-control" type="text"  name="parentesco">
                            <option value="">--SELECCIONAR--</option>
                            <option value="hijo" >HIJA(O)</option>
                            <option value="sobrino">SOBRINA(O)</option>
                            <option value="nieto">NIETA(O)</option>
                            <option value="otros">OTROS</option>
                        </select>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-ld-6">
                        <label for="tipoSeguro">Tipo de Seguro</label>
                        <select id="tipoSeguro" class="form-control" type="text"  name="tipoSeguro">
                        	<option value="">--SELECCIONAR--</option>
                            <option value="EsSALUD" >EsSALUD</option>
                            <option value="SIS" >SIS</option>
                            <option value="PRIVADO" >PRIVADO</option>
                            <option value="OTROS" >OTROS</option>
                        </select>
                    </div>
				</div>
				<br>
            	<div class="form-group col-xs-12 col-sm-12 col-md-12 col-ld-12">
					<div class="row">
						<div class="form-group col-xs-9 col-sm-9 col-md-9 col-ld-9">
							<label>¿El participante presenta alguna condición especial?</label>
						</div>
						<div class="form-group col-xs-3 col-sm-3 col-md-3 col-ld-3">  
							<div class="input-group">
  								<span class="input-group-addon">
    								<input type="checkbox" name="cbx-discapacidad" id="cbx-discapacidad" value="1">
  								</span>
  								<p type="text" class="form-control">Si</p>
							</div>
						</div>
					</div>
				</div>
				<br>
				<div class="container-boton-3 text-center">
					<button class="btn btn-danger" id="boton3">Continuar <i class="icon-sign-in" style="font-size:1.3em; margin-top:3px" ></i>
					</button>
				</div>
			</div>
		</div>		
	</div>
	
<div class="proceso">

	<div class="proceso-inscripcion__horarios" id="process4">
		<div class="container-card col-xs-12 col-sm-12 col-md-8 col-lg-7">
			<div class="card">
				<p class="title-card text-center">ELIGE UN COMPLEJO DEPORTIVO</p>
				<hr>
				<div class="complejo row">
					<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
						<label class="text-left">Departamento</label>
			            <select id="departamentoHorario" class="form-control"  name="departamentoHorario" onchange="cambiarDepartamentoHorario(this,0)">
			                <option value="">--Seleccionar--</option>

				            {% for departamentoCD in departamentosCD %}
				            	<option value="{{departamentoCD['id']}}" >{{departamentoCD['nombre']}}</option>
				            {% endfor %}
							
			            </select>
		        	</div>

		            <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
		            	<label class="text-left">Provincia</label>
		                <select  id="provinciaHorario" class="form-control"  name="provinciaHorario" onchange="cambiarProvinciaHorario(this,0)">
		                    <option value="">--Seleccionar--</option>
		                </select>               
		            </div>

		            <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
		            	<label class="text-left">Distrito</label>
		                <select id="distritoHorario" name="distritoHorario" onchange="cambiarDistritoHorario(this)"  class="form-control">
		                    <option value="">--Seleccionar--</option>
		                </select> 
		            </div>

		            <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
		        		<label class="text-left">Complejo Deportivo</label>
		            	<select id="complejosDeportivo" name="complejosDeportivo" class="form-control" onchange="cambiarComplejoDeportivo(this)">
		                <option value="">--Seleccionar--</option>
		            	</select>
		        	</div>
				</div>

				<div class="mapa row">
					<iframe  id="iframe_lugar" class= "well well-sm col-xs-12 col-sm-12" width="800" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q='Peru%20lima'&key=AIzaSyDv9gTXqhO_IlpmDDEpVyE2DHpYcsVKp80" allowfullscreen></iframe>
				</div>
		   </div>
		</div>


		<div class="container-card col-xs-12 col-sm-12 col-md-4 col-lg-5">
			<div class="card">
				<p class="title-card text-center">DEPORTES Y HORARIOS</p>
				<hr>
		        <div class="form-group container-select-deporte"  >
		        	<label>Deporte: </label>
		            <select id="disciplinaDeportiva" name="disciplinaDeportiva" class="form-control" onchange="cambiarDisciplinaDeportiva(this)" >
		                <option value="">--Seleccionar--</option>
		            </select> 
		        </div>
		        <div class="form-group container-select-deporte"  >
		        	<label>Horario: </label>
		            <select id="horario" name="horario" class="form-control" onchange="cambiarHorario(this)" >
		                <option value="">--Seleccionar--</option>
		            </select> 
		        </div>
		        <br>
		        <div class="form-group  container-horario-participante">
		        	<div id="rango-edad-horario" ></div>
		        	<div>
		        		<div id="turno"></div>
		        		<div id="rango-hora-horario"></div>
		        	</div>
		        	<div id="vacantes"></div>
		        </div>
		        <br>
		        <hr>
		        <div class="form-group row" >
		        	<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
		        		<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Otras Edades</button>
		        	</div>
					<div class="form-group container-boton-final col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
						<button class="btn btn-danger" id="boton-next-final">Finalizar Inscripción</button>
					</div>	
				</div>	
			</div>
		</div>
	</div>
</div>

<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">OTRAS EDADES</h4>
			</div>
			<div class="modal-body">
				<div class="horario-otrasEdades" >
				</div>
			</div>
			<div class="modal-footer">
				<br>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>

<div class="proceso">
	<div class="proceso-inscripcion__horarios row" id="process5">
		<div class="container-card col-xs-12 col-sm-12 col-md-8 col-lg-7">
			<div class="card">
				<p class="title-card text-center">PRE-INSCRIPCIÓN CONFIRMADA <i class="icon-checklist" style="font-size:1.4em;"></i></p>
				<hr>
				<p class="text-center">
					Acércate al complejo que eligiste para finalizar tu inscripción.
				</p><br>
				<p class="text-center" style="color: #BB2626">
					<strong>NO SE RESERVAN VACANTES.</strong>
				</p>
				<div class="lista-requisitos"> 
					<p><strong>OBLIGATORIO</strong></p>
					<ol>
						<li>Presentar ficha de inscripción y declaración jurada firmada y con la huella dactilar del apoderado.</li>
						<li>DNI del menor de edad y del apoderado (original y copia).</li>
						<li>Presentar ficha de seguro activo (SIS, EsSalud, o privado).</li>
						<li>Foto tamaño carnet del menor de edad (actual). </li>
					</ol>
				</div>
				<hr>
				<div class="row">
					<a class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center" href="" id="ancla-imprimir-fichaInscripcion"  target="_blank" ><button id="btn-imprimir-fichaInscripcion"  class="btn btn-danger" style="margin: 5px;"><i class="icon-print" style="font-size:1.3em;" ></i> Imprimir Ficha</button></a>

					<a class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center" href=""  id="ancla-imprimir-declaracion-jurada" target="_blank"><button id="btn-imprimir-declaracion-jurada" class="btn btn-danger" style="margin: 5px;"><i class="icon-print" style="font-size:1.3em;"></i> Imprimir Declaración Jurada</button></a>
				</div>
			</div>
		</div>

		<div class="container-card col-xs-12 col-sm-12 col-md-4 col-lg-5">
			<div class="card">
				<p class="title-card text-center">FICHA DE INSCRIPCIÓN</p>
				<p class="title-card text-center">ACADEMIA IPD VERANO 2018</p>
				<hr>
				<div class="pdf_inscripcion__ficha row">
					<div class="campos col-xs-4 col-sm-4 col-md-4 col-lg-4"> 	

						<p>Nombre</p>
						<p>Apellido Paterno</p>
						<p>Apellido Materno</p>
						<p>Distrito</p>
						<p>Domicilio</p>
						<p>Fecha Nacimiento</p>
						<p>Teléfono</p>
						<p>DNI</p>
						<p>Edad</p>
						<p>Email</p>
						<p>Deporte</p>
						<p>Complejo</p>
						<p>Horario</p>
					</div>

					<div class="valores col-xs-8 col-sm-8 col-md-8 col-lg-8"> 
						<p id="nombre-ficha"></p>
						<p id="apellidoPaterni-ficha"></p>
						<p id="apellidoMaterno-ficha"></p>
						<p id="distrito-ficha"></p>
						<p id="domicilio-ficha"></p>
						<p id="fechaNacimiento-ficha"></p>
						<p id="telefono-ficha"></p>
						<p id="dni-ficha"></p>
						<p id="edad-ficha"></p>
						<p id="email-ficha"></p>
						<p id="deporte-ficha"></p>
						<p id="complejo-ficha"></p>
						<p id="horario-ficha"></p>
					</div>
				</div>
				<hr>
			</div>
		</div>
	</div>
</div>

</section>
<br><br>

<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
				<br>
				<br>
				<br>
				<img class="align-self-center foot" src="{{ asset('assets/images/ipdfooter.jpg')}}">
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<br><br>
				<h4>La Academia</h4>
				<p class="footerTex">
					Dirección:Calle Madre de Dios N° 463
				</p>
				<p class="footerTex">
					Teléfono: 204-8420 /anexo 1302
				</p>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<br><br>
				<h4>Enlaces de Interés</h4>
				<p><a class="footerTex" href="http://www.ipd.gob.pe/">Instituto Peruano del Deporte</a></p>
				<p><a class="footerTex" href="https://www.facebook.com/recreacion.ipd/">Facebook Recreación</a></p>
				<p><a class="footerTex" href="http://www.ipd.gob.pe/formacion-deportiva">Formación Deportiva</a></p>
			</div>
		</div>
		<br>
    	<p class="col-xs-12 col-sm-12 col-md-12 col-lg-12 copyright">&copy; 2018 Todos los derechos reservados</p>
	</div>
</footer>



{% endblock %}

{% block javascripts %}

<script src="{{asset('assets/vendor/jquery/dist/jquery.js')}}"></script>
<script src="{{asset('assets/vendor/bootstrap/dist/js/bootstrap.js')}}"></script>
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/alertify.min.js"></script>


<script>
	
	$( "#tipo_documento" ).focus();

	function modificarTexbox(){
	    document.getElementById("dniApoderado").value="";

	    switch(document.getElementById("tipo_documento").value) {
	        case "dni":         
	            document.getElementById("dniApoderado").setAttribute("maxlength", "8");
	             $( "#dniApoderado" ).focus();
	        break;
	        case "carnet":
	            document.getElementById("dniApoderado").setAttribute("maxlength", "12");
	            $( "#dniApoderado" ).focus();
	        break;
	        default:
	        	alertify.error('<p style="color:white">Seleccione el tipo de documento</p>'); 
    
	    }
	}	

	function modificarTexboxHijo(){
	    document.getElementById("dni-hijo").value="";

	    switch(document.getElementById("tipo_documentoHijo").value) {
	        case "dni":         
	            document.getElementById("dni-hijo").setAttribute("maxlength", "8");
	             $( "#dni-hijo" ).focus();
	        break;
	        case "carnet":
	            document.getElementById("dni-hijo").setAttribute("maxlength", "12");
	            $( "#dni-hijo" ).focus();
	        break;
	        default:
	        	alertify.error('<p style="color:white">Seleccione el tipo de documento</p>'); 
    
	    }
	}	
	

	$('#cbx-discapacidad').on( 'click', function() {
	    if($(this).is(':checked'))
	    {
	        sessionStorage.removeItem('flagDiscapacitado');
	        sessionStorage.setItem('flagDiscapacitado',$(this).val());
	    }
	});

	function mayus(e) {
	    e.value = e.value.toUpperCase();
	}
	
	var complejo = document.getElementById('complejosDeportivo');
	complejo.addEventListener('change',
		function(){
			var selectedOption = this.options[complejo.selectedIndex];
			var departamento = document.getElementById('departamentoHorario');	
			var provincia = document.getElementById('provinciaHorario');
			var distrito = document.getElementById('distritoHorario');

			var depa = departamento.options[departamento.selectedIndex].text;
			var prov = provincia.options[provincia.selectedIndex].text;
			var dist = distrito.options[distrito.selectedIndex].text;
			
			var direccion = depa+' '+prov+' '+dist+'IPD COMPLEJO DEPORTIVO '+ selectedOption.text;
			var search = "https://www.google.com/maps/embed/v1/search?q='peru%20"+direccion+"'&key=AIzaSyDv9gTXqhO_IlpmDDEpVyE2DHpYcsVKp80";
			
			$("#iframe_lugar").attr('src',search);
	});


	function cambiarDepartamento(departamento){

		idDepartamento = departamento.value;

		$("#provincia").empty();
		$("#distrito").empty();
		$("#provincia").append("<option value='' >--Seleccionar--</option>");
		$("#distrito").append("<option value='' >--Seleccionar--</option>");
		{% for provincia in provincias  %}

			if("{{provincia['idDepartamento']}}" == idDepartamento){
				
				$("#provincia").append("<option value={{provincia['idProvincia']}}  data-departamento={{provincia['idDepartamento']}} >{{provincia['nombreProvincia']}}</option>");
				
			}
		{% endfor %}

	}

	function cambiarProvincia(provincia){

		idProvincia = provincia.value;
		idDepartamento = $(provincia[1]).attr('data-departamento');

		$("#distrito").empty();
		$("#distrito").append("<option value='' >--Seleccionar--</option>");
		{% for distrito in distritos  %}

			if("{{distrito['idProvincia']}}" == idProvincia  && {{distrito['idDepartamento']}} == idDepartamento ){
				
				$("#distrito").append("<option value={{distrito['idDistrito']}} >{{distrito['nombreDistrito']}}</option>");
				
			}

		{% endfor %}

	}

// HORARIO

	function cambiarDepartamentoHorario(departamentoHorario,cod){
        if (cod==0){
            var idDepartamentoHorario = departamentoHorario.value;
        }else{
            var idDepartamentoHorario = departamentoHorario;
        }
                
		$("#provinciaHorario").empty();
		$("#distritoHorario").empty();
		$("#provinciaHorario").append("<option value='' >--Seleccionar--</option>");
		$("#distritoHorario").append("<option value='' >--Seleccionar--</option>");
		$("#complejosDeportivo").empty();
		$("#complejosDeportivo").append("<option value='' >--Seleccionar--</option>");
		$("#disciplinaDeportiva").empty();
		$("#disciplinaDeportiva").append("<option value='' >--Seleccionar--</option>");
		{% for provinciaCD in provinciasCD  %}

			if("{{provinciaCD['idDepartamento']}}" == idDepartamentoHorario){

				console.log("{{provinciaCD['nombreProvincia']}}");
				console.log("{{provinciaCD['idProvincia']}}");
				
				$("#provinciaHorario").append("<option value={{provinciaCD['idProvincia']}}  data-departamento={{provinciaCD['idDepartamento']}} >{{provinciaCD['nombreProvincia']}}</option>");
				
			}
		{% endfor %}
	}

	function cambiarProvinciaHorario(provinciaHorario,cod){
       
        if (cod==0){
            var idProvinciaHorario = provinciaHorario.value;
            idDepartamentoHorario = $(provinciaHorario[1]).attr('data-departamento');
        }else{
            var idProvinciaHorario = provinciaHorario;
            idDepartamentoHorario = cod;
        }
		
		$("#distritoHorario").empty();
		$("#distritoHorario").append("<option value='' >--Seleccionar--</option>");
		$("#complejosDeportivo").empty();
		$("#complejosDeportivo").append("<option value='' >--Seleccionar--</option>");
		$("#disciplinaDeportiva").empty();
		$("#disciplinaDeportiva").append("<option value='' >--Seleccionar--</option>");
	
			{% for ditritoCD in ditritosCD  %}
	                     
				if("{{ditritoCD['idProvincia']}}" == idProvinciaHorario  && {{ditritoCD['idDepartamento']}} == idDepartamentoHorario){
					$("#distritoHorario").append("<option value={{ditritoCD['idDistrito']}} >{{ditritoCD['nombreDistrito']}}</option>");	
	                         
				}
			{% endfor %}			
		
	}

	function cambiarDistritoHorario(distritoHorario){

		var idDistritoHorario = distritoHorario.value;
		$("#complejosDeportivo").empty();
		$("#complejosDeportivo").append("<option value='' >--Seleccionar--</option>");
		$("#disciplinaDeportiva").empty();
		$("#disciplinaDeportiva").append("<option value='' >--Seleccionar--</option>");

		if(sessionStorage.getItem('flagDiscapacitado') == '1' ){

			{% for complejoDeportivo in complejosDeportivo  %}

				if("{{complejoDeportivo['ubicodigo']}}" == idDistritoHorario  && "{{complejoDeportivo['estado']}}" == 1 && "{{complejoDeportivo['discapacitado']}}" == sessionStorage.getItem('flagDiscapacitado')){
					
						$("#complejosDeportivo").append("<option value={{complejoDeportivo['id']}} >{{complejoDeportivo['nombre']}}</option>");

				}else {
					$("#disciplinaDeportiva").empty();
					$("#horario").empty();
					$("#vacantes").empty();
					$("#turno").empty();
					$("#rango-edad-horario").empty();
					$("#rango-hora-horario").empty();
				}
			{% endfor %}

		}

		if(sessionStorage.getItem('flagDiscapacitado') != '1' ){

			{% for complejoDeportivo in complejosDeportivo  %}
			
				if("{{complejoDeportivo['ubicodigo']}}" == idDistritoHorario  && "{{complejoDeportivo['estado']}}" == 1){
			
						$("#complejosDeportivo").append("<option value={{complejoDeportivo['id']}} >{{complejoDeportivo['nombre']}}</option>");
				}else {
					$("#disciplinaDeportiva").empty();
					$("#horario").empty();
					$("#vacantes").empty();
					$("#turno").empty();
					$("#rango-edad-horario").empty();
					$("#rango-hora-horario").empty();
				}
			{% endfor %}
						
		}
	}


	function cambiarComplejoDeportivo(complejoDeportivo){

		var idComplejoDeportivo = complejoDeportivo.value;

		$("#disciplinaDeportiva").empty();
		$("#horario").empty();
		$("#vacantes").empty();
		$("#turno").empty();
		$("#rango-edad-horario").empty();
		$("#rango-hora-horario").empty();
		$("#disciplinaDeportiva").empty();
		$("#disciplinaDeportiva").append("<option value='' >--Seleccionar--</option>");

		
		if(sessionStorage.getItem('flagDiscapacitado') == '1'){
			{% for complejoDisciplina in complejosDisciplinas  %}

				if("{{complejoDisciplina['idComplejoDeportivo']}}" == idComplejoDeportivo && "{{complejoDisciplina['discapacidad']}}" == 1){
					
					var nombreDis = "{{ complejoDisciplina['nombreDisciplina'] }} ";

					$("#disciplinaDeportiva").append("<option value = {{complejoDisciplina['id']}}>"+nombreDis.trim()+"</option>");
				}
			{% endfor %}

		}
			if(sessionStorage.getItem('flagDiscapacitado') != '1' ){
			{% for complejoDisciplina in complejosDisciplinas  %}

				if("{{complejoDisciplina['idComplejoDeportivo']}}" == idComplejoDeportivo ){
					
					var nombreDis = "{{ complejoDisciplina['nombreDisciplina'] }} ";

					$("#disciplinaDeportiva").append("<option value = {{complejoDisciplina['id']}}>"+nombreDis.trim()+"</option>");
				}
			{% endfor %}

		}

		
		
	}


	function cambiarDisciplinaDeportiva(complejoDisciplina){
	
		var idComplejoDisciplina = complejoDisciplina.value;
		$("#horario").empty();
		$(".horario-otrasEdades").empty();
		$("#horario").append("<option value='' >--Seleccionar--</option>");
		$("#rango-hora-horario").empty();
		$("#rango-edad-horario").empty();
		$("#turno").empty();
		$("#vacantes").empty();
				
		var cantHorarios = 0;

		if(sessionStorage.getItem('flagDiscapacitado') == '1' ){
			{% for horario in horarios  %}

				var horaInicio ="{{horario['horaInicio']}}".substr(0,5);
				var horaFin = "{{horario['horaFin']}}".substr(0,5);

				if("{{horario['edi_codigo']}}" == idComplejoDisciplina && "{{horario['discapacitados']}}" == 1 ){
					if(sessionStorage.getItem("edad") >= {{horario.edadMinima}} && sessionStorage.getItem("edad") <= {{horario.edadMaxima}}){

						localStorage.removeItem('idHorario');
						sessionStorage.setItem("idHorario", "{{horario['id']}}");
						
						$("#horario").append("<option value={{horario['id']}} > {{horario['turno']}} de   "+horaInicio+" a "+horaFin+"</option>");
						cantHorarios = cantHorarios + $('#horario').length;

					}else{

						$(".horario-otrasEdades").append("{{horario['edadMinima']}} a {{horario['edadMaxima']}} años  "+horaInicio+"  a  "+horaFin+" am. {{horario['turno']}}<br>");
						
					}
				}

			{% endfor %}
		}

		if(sessionStorage.getItem('flagDiscapacitado') != 1){

			{% for horario in horarios  %}

				var horaInicio ="{{horario['horaInicio']}}".substr(0,5);
				var horaFin = "{{horario['horaFin']}}".substr(0,5);

				if("{{horario['edi_codigo']}}" == idComplejoDisciplina  && "{{horario['discapacitados']}}" == 0 ){
					if(sessionStorage.getItem("edad") >= {{horario.edadMinima}} && sessionStorage.getItem("edad") <= {{horario.edadMaxima}}){

						localStorage.removeItem('idHorario');
						sessionStorage.setItem("idHorario", "{{horario['id']}}");
						
						$("#horario").append("<option value={{horario['id']}} > {{horario['turno']}} de   "+horaInicio+" a "+horaFin+"</option>");
						cantHorarios = cantHorarios + $('#horario').length;

					}else{

						$(".horario-otrasEdades").append("{{horario['edadMinima']}} a {{horario['edadMaxima']}} años  "+horaInicio+"  a  "+horaFin+" am. {{horario['turno']}}<br>");
						
					}
				}

			{% endfor %}

		}
		

		if(cantHorarios == 0){
				$("#rango-hora-horario").empty();
				$("#rango-edad-horario").empty();
				$("#turno").empty();
				$("#vacantes").append("<strong> No hay vacantes disponibles. </strong>");
		}
			
	}

	function cambiarHorario(horario){

		$("#horaInicio").empty();
		$("#horaFin").empty();
		$("#edadMinima").empty();
		$("#edadMaxima").empty();
		$("#vacantes").empty();
		var idHorario = horario.value;

		{% for horario in horarios  %}

			var horaInicio ="{{horario['horaInicio']}}".substr(0,5);
			var horaFin = "{{horario['horaFin']}}".substr(0,5);

			if("{{horario['id']}}" == idHorario){

				if(sessionStorage.getItem("edad") >= {{horario.edadMinima}} && sessionStorage.getItem("edad") <= {{horario.edadMaxima}}){

					localStorage.removeItem('idHorario');
					sessionStorage.setItem("idHorario", "{{horario['id']}}");

					$("#vacantes").empty();
					$("#turno").empty();
					$("#turno").append(" {{horario['turno']}} ");

					$("#rango-hora-horario").empty();
					$("#rango-hora-horario").append("  de  "+horaInicio+" a "+horaFin);
					
					$("#rango-edad-horario").empty();
					$("#rango-edad-horario").append(" <strong> De {{horario['edadMinima']}} a {{horario['edadMaxima']}} años. </strong> ");
				}		
			}

		{% endfor %}
	}
	
	$("#proceso1").show();
	$("#proceso2").hide();
	$("#proceso3").hide();
	$("#process4").hide();
	$("#process5").hide();


	function isValidDate(day,month,year){
					
		var dteDate;
		month=month-1;
		dteDate=new Date(year,month,day);
					 		    
		return ((day==dteDate.getDate()) && (month==dteDate.getMonth()) && (year==dteDate.getFullYear()));
	}
			 

	function validate_fecha(fecha){
		
		var patron=new RegExp("^(19|20)+([0-9]{2})([-])([0-9]{1,2})([-])([0-9]{1,2})$");
			 
		if(fecha.search(patron)==0){
			    
			var values=fecha.split("-");
			if(isValidDate(values[2],values[1],values[0])){
			        
			    return true;
			}
		}
		return false;
	}

	function calcularEdad(fecha){
	
		if(validate_fecha(fecha)==true){
			    
			   
			var values=fecha.split("-");
			var dia = values[2];
			var mes = values[1];
			        var ano = values[0];
			 
		        // cogemos los valores actuales
		        var fecha_hoy = new Date();
		        var ahora_ano = fecha_hoy.getYear();
		        var ahora_mes = fecha_hoy.getMonth()+1;
		        var ahora_dia = fecha_hoy.getDate();
			 
			        // realizamos el calculo
			        var edad = (ahora_ano + 1900) - ano;
			        if ( ahora_mes < mes )
			        {
			            edad--;
			        }
			        if ((mes == ahora_mes) && (ahora_dia < dia))
			        {
			            edad--;
			        }
			        if (edad > 1900)
			        {
			            edad -= 1900;
			        }
			 
			        // calculamos los meses
			        var meses=0;
			        if(ahora_mes>mes)
			            meses=ahora_mes-mes;
			        if(ahora_mes<mes)
			            meses=12-(mes-ahora_mes);
			        if(ahora_mes==mes && dia>ahora_dia)
			            meses=11;
			 
			        // calculamos los dias
			        var dias=0;
			        if(ahora_dia>dia)
			            dias=ahora_dia-dia;
			        if(ahora_dia<dia)
			        {
			            ultimoDiaMes=new Date(ahora_ano, ahora_mes, 0);
			            dias=ultimoDiaMes.getDate()-(dia-ahora_dia);
			        }
			    }

			    return edad;
			}	

		$("#boton1").on('click',function(){

             	var expreg = new RegExp("^[0-9]{8}$");
               	var dniApoderadoPaso1 = $("#dniApoderado").val();	 
               	var fechaApoderadoPaso1 = $("#fechaNacimiento").val();	

           		var edadApoderado = calcularEdad(fechaApoderadoPaso1);

               	console.log(expreg.test(dniApoderadoPaso1));

                if($("#dniApoderado").val()=="" || !expreg.test(dniApoderadoPaso1)){
                   alertify.error('<p style="color:white">Campo DNI incorrecto</p>'); 

              	}else if($("#apellidoPaterno").val()==""){
                   alertify.error('<p style="color:white">Se requiere el campo apellido paterno</p>'); 
                }else if($("#apellidoMaterno").val()==""){
                   alertify.error('<p style="color:white">Se requiere el campo apellido materno</p>'); 
                }else if($("#nombre").val()==""){
                  alertify.error('<p style="color:white">Se requiere el campo nombres</p>'); 
                }else if(fechaApoderadoPaso1=="" || edadApoderado == undefined || edadApoderado < 18 || edadApoderado > 100 ){
                	console.log(edadApoderado);
                  alertify.error('<p style="color:white">Su fecha de Nacimiento no es la indicada</p>'); 
                }else if($("#sexo").val()==2){
                   alertify.error('<p style="color:white">Debe seleccionar el campo sexo</p>');              
                }else{
                    sessionStorage.clear()
                    //DATOS APODERADO
                    sessionStorage.removeItem("dni-apoderado");
                    sessionStorage.setItem('dni-apoderado',$("#dniApoderado").val());

                    sessionStorage.removeItem("apellidoPaterno-apoderado");
                    sessionStorage.setItem('apellidoPaterno-apoderado',$("#apellidoPaterno").val());

                    sessionStorage.removeItem("apellidoMaterno-apoderado");
                    sessionStorage.setItem("apellidoMaterno-apoderado" , $("#apellidoMaterno").val());

                    sessionStorage.removeItem("nombre-apoderado");
                    sessionStorage.setItem("nombre-apoderado", $("#nombre").val());

                    sessionStorage.removeItem("fechaNacimiento-apoderado");
                    sessionStorage.setItem("fechaNacimiento-apoderado", $("#fechaNacimiento").val());

                    sessionStorage.removeItem("sexo-apoderado");
                    sessionStorage.setItem("sexo-apoderado", $("#sexo").val());
                    console.log("Edad apoderado => "+edadApoderado);
                    $("#proceso1").hide();
                    $("#proceso2").show();

                    $(".bar-inscripcion__1").removeClass('active');
                    $(".bar-inscripcion__2").addClass('active');	
            }
	});

	$("#boton2").on('click',function(){
		
				var expregTelefono = new RegExp("^([0-9]{9}|[0-9]{7})$");
				var expregEmail = new RegExp("^[a-zA-Z0-9\._-]+@[a-zA-Z0-9-]{2,}[.][a-zA-Z]{2,4}$");
                
                var telefonoApoderadoPaso2 = $("#telefono").val();
                var correoApoderadoPaso2 = $("#correo").val();

                if($("#distrito").val()==0){
                   alertify.error('<p style="color:white">Debe seleccionar el campo distrito</p>'); 
                }else if($("#direccion").val()==0){
                   alertify.error('<p style="color:white">Debe seleccionar el campo dirección</p>'); 
                }else if( telefonoApoderadoPaso2 =="" || !expregTelefono.test(telefonoApoderadoPaso2)){
                   alertify.error('<p style="color:white">Campo Telefono incorrecto</p>'); 
                }else if(correoApoderadoPaso2 =="" || !expregEmail.test(correoApoderadoPaso2) ){
                  alertify.error('<p style="color:white">Campo Correo incorrecto</p>'); 
                }else{
                    sessionStorage.removeItem("distrito-apoderado");
                    sessionStorage.setItem("distrito-apoderado", $("#distrito").val());

                    sessionStorage.removeItem("direccion-apoderado");
                    sessionStorage.setItem("direccion-apoderado", $("#direccion").val());

                    sessionStorage.removeItem("telefono-apoderado");
                    sessionStorage.setItem("telefono-apoderado", $("#telefono").val());

                    sessionStorage.removeItem("correo-apoderado");
                    sessionStorage.setItem("correo-apoderado", $("#correo").val());

                    $("#departamentoHorario").val($("#departamento").val());
                    cambiarDepartamentoHorario($("#departamento").val(),1);
                    $("#provinciaHorario").val($("#provincia").val());
                    cambiarProvinciaHorario($("#provincia").val(),$("#departamento").val());
                    {#$("#distritoHorario").val($("#distrito").val());#}
                    
                    $("#proceso2").hide();
                    $("#proceso3").show();

                    $(".bar-inscripcion__2").removeClass('active');
                    $(".bar-inscripcion__3").addClass('active');

                }
                
	});



$("#boton3").on('click',function(){

	var expregDni = new RegExp("^[0-9]{8}$");
	var dniHijoPaso3 = $("#dni-hijo").val();

     if(dniHijoPaso3 =="" || !expregDni.test(dniHijoPaso3)){
       alertify.error('<p style="color:white">Campo DNI incorrecto</p>'); 
    }else if($("#apellidoPaterno-hijo").val()==""){
       alertify.error('<p style="color:white">Se requiere el campo apellido paterno</p>'); 
    }else if($("#apellidoMaterno-hijo").val()==""){
       alertify.error('<p style="color:white">Se requiere el campo apellido materno</p>'); 
    }else if($("#nombre-hijo").val()==""){
      alertify.error('<p style="color:white">Se requiere el campo nombres</p>'); 
    }else if($("#fechaNacimiento-hijo").val()==""){
      alertify.error('<p style="color:white">Se requiere el campo fecha de nacimiento</p>'); 
    }else if($("#sexo-hijo").val()==2){
       alertify.error('<p style="color:white">Debe seleccionar el campo sexo</p>');              
    }else{
        //DATOS APODERADO
	        sessionStorage.removeItem("dni-participante");
	        sessionStorage.setItem("dni-participante", $("#dni-hijo").val());

	        sessionStorage.removeItem("apellidoPaterno-participante");
	        sessionStorage.setItem("apellidoPaterno-participante", $("#apellidoPaterno-hijo").val());

	        sessionStorage.removeItem("apellidoMaterno-partcipante");
	        sessionStorage.setItem("apellidoMaterno-partcipante", $("#apellidoMaterno-hijo").val());

	        sessionStorage.removeItem("nombre-partcipante");
	        sessionStorage.setItem("nombre-partcipante", $("#nombre-hijo").val());

	        sessionStorage.removeItem("fechaNacimiento-partcipante");
	        sessionStorage.setItem("fechaNacimiento-partcipante", $("#fechaNacimiento-hijo").val());

	        sessionStorage.removeItem("sexo-partcipante");
	        sessionStorage.setItem("sexo-partcipante", $("#sexo-hijo").val());

	        sessionStorage.removeItem("parentesco-partcipante");
	        sessionStorage.setItem("parentesco-partcipante", $("#parentesco").val());

	        sessionStorage.removeItem("tipoSeguro-partcipante");
	        sessionStorage.setItem("tipoSeguro-partcipante", $("#tipoSeguro").val());

			sessionStorage.removeItem('edad');
			sessionStorage.setItem("edad", calcularEdad($("#fechaNacimiento-hijo").val()));
	        console.log("EDAD SESION"+sessionStorage.getItem("edad"));

	            console.log("Edad SESION ==> "+sessionStorage.getItem("edad"));

		if(sessionStorage.getItem("edad")  == null || sessionStorage.getItem('edad')  == undefined){
			var edadParticipante = calcularEdad($("#fechaNacimiento-hijo").val());

			console.log("EDAD CALCULAR FRONTED ==> "+sessionStorage.getItem("edad"));
		}

		if( sessionStorage.getItem("edad") != null || sessionStorage.getItem("edad")!=undefined ){

			if(sessionStorage.getItem('flagDiscapacitado') == '1' ){
				if(sessionStorage.getItem("edad") <= 40 && sessionStorage.getItem("edad")> 5){
					$("#proceso3").hide();
					$("#process4").show();	
					$(".bar-inscripcion__3").removeClass('active');
					$(".bar-inscripcion__4").addClass('active');	
			    }else{
			    	alertify.error('<p style="color:white">Sólo de 5 a 40 años. </p>'); 
			    }
			}

			else if(sessionStorage.getItem('flagDiscapacitado') == null ){

				if(sessionStorage.getItem("edad") < 18 && sessionStorage.getItem("edad")> 5){
					$("#proceso3").hide();
					$("#process4").show();	
					$(".bar-inscripcion__3").removeClass('active');
					$(".bar-inscripcion__4").addClass('active');		
				}else{
					alertify.error('<p style="color:white">Sólo de 6 a 17 años. </p>'); 
			    }
			}
			
		}

    }


});



$("#boton-next-final").on('click',function(){

	var disciplinaDeportiva = document.getElementById('disciplinaDeportiva').value;
	var horario =document.getElementById('horario').value;
	
	if( disciplinaDeportiva=="" || horario==""){
			alertify.error('<p style="color:white">Debe seleccionar Disciplina y/o Horario </p>'); 
	}else{
		
		$(".bar-inscripcion__4").removeClass('active');
		$(".bar-inscripcion__5").addClass('active');
		$("#process4").hide();
		$("#process5").show();
		
		registrar();
	}

});

function registrar(){

	var dataRegisterApoderado={

		//DATOS APODERADO
		"dni" : sessionStorage.getItem('dni-apoderado'),
		"apellidoPaterno" : sessionStorage.getItem('apellidoPaterno-apoderado'),
		"apellidoMaterno" : sessionStorage.getItem('apellidoMaterno-apoderado'),
		"nombre" : sessionStorage.getItem('nombre-apoderado'),
		"fechaNacimiento" : sessionStorage.getItem('fechaNacimiento-apoderado'),
		"sexo" : sessionStorage.getItem('sexo-apoderado'),
		"distrito" : sessionStorage.getItem('distrito-apoderado'),
		"direccion" : sessionStorage.getItem('direccion-apoderado'),
		"telefono" : sessionStorage.getItem('telefono-apoderado'),
		"correo" : sessionStorage.getItem('correo-apoderado'),

		//HORARIO
		'idHorario' : sessionStorage.getItem('idHorario'),

		//DATOS HIJO
		"dniParticipante" : sessionStorage.getItem('dni-participante'),
		"apellidoPaternoParticipante" : sessionStorage.getItem('apellidoPaterno-participante'),
		"apellidoMaternoParticipante" : sessionStorage.getItem('apellidoMaterno-partcipante'),
		"nombreParticipante" : sessionStorage.getItem('nombre-partcipante'),
		"fechaNacimientoParticipante" : sessionStorage.getItem('fechaNacimiento-partcipante'),
		"sexoParticipante" : sessionStorage.getItem('sexo-partcipante'),
		"parentesco" : sessionStorage.getItem('parentesco-partcipante'),
		"tipoSeguro" : sessionStorage.getItem('tipoSeguro-partcipante'),
		"discapacidad" :sessionStorage.getItem('flagDiscapacitado')
	};

	console.log("DATOS A REGISTRAR => ",dataRegisterApoderado);

	$.ajax({

		type:'POST',
		dataType: "json",
		url: "{{url('akademia_registrar')}}",
		data: dataRegisterApoderado,
		beforeSend: function(){				
		},

		success: function(data){

			/*sessionStorage.removeItem("idInscripcion");
			sessionStorage.setItem("idInscripcion",data[0]['id']);

			$("#ancla-imprimir-fichaInscripcion").attr('href',"/academia/web/pdf/inscripcion/"+sessionStorage.getItem("idInscripcion"));

			$("#ancla-imprimir-declaracion-jurada").attr('href',"/academia/web/pdf/declaracion-jurada/"+sessionStorage.getItem("idInscripcion"));

			$("#nombre-ficha").append(data[0]['nombre']);
			$("#apellidoPaterni-ficha").append(data[0]['apellidoPaterno']);
			$("#apellidoMaterno-ficha").append(data[0]['apellidoMaterno']);
			$("#distrito-ficha").append(data[0]['distrito']);
			$("#domicilio-ficha").append(data[0]['direccion']);
			$("#fechaNacimiento-ficha").append(data[0]['fechaNacimiento']);
			$("#telefono-ficha").append(data[0]['telefono']);
			$("#dni-ficha").append(data[0]['dni']);
			$("#edad-ficha").append(sessionStorage.getItem("edad"));
			$("#email-ficha").append(data[0]['correo']);
			$("#deporte-ficha").append(data[0]['nombreDisciplina']);
			$("#complejo-ficha").append(data[0]['nombreComplejo']);
			$("#horario-ficha").append(data[0]['horaInicio']+" a "+data[0]['horaFin'] +" - "+data[0]['turno']);

			enviarEmailApoderado(data[0]['correo'],data[0]['nombre'],data[0]['id']);*/
			
			//$("nombrePadre-declaracion-jurada").append(valor.nombrePadre);

			//console.log("sucess: " + data[0]['nombre']);

			//console.log(response[0].nombre);

			var valor =JSON.parse(data)[0];
			sessionStorage.removeItem("idInscripcion");
			sessionStorage.setItem("idInscripcion",valor.id);

			$("#ancla-imprimir-fichaInscripcion").attr('href',"/academia/web/pdf/inscripcion/"+sessionStorage.getItem("idInscripcion"));

			$("#ancla-imprimir-declaracion-jurada").attr('href',"/academia/web/pdf/declaracion-jurada/"+sessionStorage.getItem("idInscripcion"));

			$("#nombre-ficha").append(valor.nombre);
			$("#apellidoPaterni-ficha").append(valor.apellidoPaterno);
			$("#apellidoMaterno-ficha").append(valor.apellidoMaterno);
			$("#distrito-ficha").append(valor.distrito);
			$("#domicilio-ficha").append(valor.direccion);
			$("#fechaNacimiento-ficha").append(valor.fechaNacimiento);
			$("#telefono-ficha").append(valor.telefono);
			$("#dni-ficha").append(valor.dni);
			$("#edad-ficha").append(sessionStorage.getItem("edad"));
			$("#email-ficha").append(valor.correo);
			$("#deporte-ficha").append(valor.nombreDisciplina);
			$("#complejo-ficha").append(valor.nombreComplejo);
			$("#horario-ficha").append(valor.horaInicio+" a "+valor.horaFin);
			$("nombrePadre-declaracion-jurada").append(valor.nombrePadre);

		    enviarEmailApoderado(valor.correo,valor.nombre,valor.id);
		
		},

		error: function(error){

			console.log(error.responseText);			
			console.log("Error - oh no!");
		}
			
	});
}

function enviarEmailApoderado($correoApod,$nombre,$id){

	var correoApoderado = {
		"correo" : $correoApod,
		"nombre" : $nombre,
		"id" : $id,
	};

	$.ajax({
		type:'POST',
		dataType: 'json',
		url: "{{url('akademia_sendemailapoderado')}}",
		data: correoApoderado,

		beforeSend: function(){
			 alertify.warning('<p style="color:black">Enviando información al correo eléctrónico.</p>');
		},
		success: function(data){
			 alertify.success('<p style="color:black">Correo enviando exitosamente.</p>');
		},
		error: function(error){
			 alertify.error('<p style="color:white">Se produjo un problema al enviar la información a su correo electrónico.</p> ');
		}	
	});

}

$('.cargarDatosApoderado').hide();	
$(".mensajeEdad").empty();

	function buscarDniApoderado(refDni){

		if(refDni.value !=''){
			datoDniPersona = {
			'dni' : refDni.value,
			"persona": 'apoderado'
		};

		$.ajax({
			type:'POST',
			dataType: 'json',
			url: "{{url('akademia_homepage')}}",
			data: datoDniPersona,

			beforeSend: function(){
				$(".mensajeEdad").empty();
				$('.cargarDatosApoderado').show();
			},

			success: function(data){

	 		$("#apellidoPaterno").val('');
            $("#apellidoMaterno").val('');
            $("#nombre").val('');
            $("#fechaNacimiento").val('');
            $("#sexo").val(2);
            $("#apellidoPaterno").attr('readonly', false);
            $("#apellidoMaterno").attr('readonly', false);
            $("#nombre").attr('readonly', false);
            $("#fechaNacimiento").attr('readonly', false);
            $("#sexo").attr('readonly', false);
				
			if(data != "" ){
				var dataParticiapnte = JSON.parse(data);
				console.log("Busqueda DNI ==> ",dataParticiapnte);
					$(dataParticiapnte).each(function(index,valor){

						if(valor.edad >=18){
			                $("#apellidoPaterno").attr('readonly', true);
			                $("#apellidoMaterno").attr('readonly', true);
			                $("#nombre").attr('readonly', true);
			                $("#fechaNacimiento").attr('readonly', true);
			                $("#sexo").attr('readonly', true);

			                $("#apellidoPaterno").val(valor.apellidoPaterno);
			                $("#apellidoMaterno").val(valor.apellidoMaterno);
			                $("#nombre").val(valor.nombre);
			                $("#fechaNacimiento").val(valor.fechaNacimiento);
			                if(valor.sexo == 1){
			                    $("#sexo").val('1');	
			                }else{
			                    $("#sexo").val('0');
			                }

			            }

						else{

						 $(".mensajeEdad").empty();
			             $(".mensajeEdad").append("(*Usted es menor de edad)");

		             	$("#apellidoPaterno").attr('readonly', true);
		                $("#apellidoMaterno").attr('readonly', true);
		                $("#nombre").attr('readonly', true);
		                $("#fechaNacimiento").attr('readonly', true);
		                $("#sexo").attr('readonly', true);

			             {#SE AUMENTO: LIMPIAR LAS CAJAS DE TEXTO EN EL MOMENTO  SEA MENOR DE EDAD#}
			             $("#apellidoPaterno").val('');
			             $("#apellidoMaterno").val('');
			             $("#nombre").val('');
			             $("#fechaNacimiento").val('');
			             $("#sexo").val(0);
			            
						
						}
					});	

				}else{

		            $("#apellidoPaterno").val('');
		            $("#apellidoMaterno").val('');
		            $("#nombre").val('');
		            $("#fechaNacimiento").val('');
		            $("#sexo").val(0);
		            $("#apellidoPaterno").attr('readonly', false);
		            $("#apellidoMaterno").attr('readonly', false);
		            $("#nombre").attr('readonly', false);
		            $("#fechaNacimiento").attr('readonly', false);
		            $("#sexo").attr('readonly', false);
		        }

				$('.cargarDatosApoderado').hide();
				
			},

			error: function(error){
				console.log(error);
			}

		});
		}
     		
	}

	$('.cargarDatosParticipante').hide();
	function buscarDniHijo(refDni){
		if(refDni.value != ''){
			$(".mensajeEdadParticipante").empty();
			var datoDniPersona = {

				'dni' : refDni.value,
				"persona": 'hijo'
			};

		$.ajax({

			type:'POST',
			dataType: 'json',
			url: "{{url('akademia_homepage')}}",
			data: datoDniPersona,

			beforeSend: function(){
                $(".mensajeEdad").empty();
				$('.cargarDatosParticipante').show();
			},

			success: function(data){
				$("#apellidoPaterno-hijo").attr('readonly', false);
                $("#apellidoMaterno-hijo").attr('readonly', false);
                $("#nombre-hijo").attr('readonly', false);
                $("#fechaNacimiento-hijo").attr('readonly', false);
                $("#sexo-hijo").attr('readonly', false);
                $("#apellidoPaterno-hijo").val("");
                $("#apellidoMaterno-hijo").val("");
                $("#nombre-hijo").val("");
                $("#fechaNacimiento-hijo").val("");
                $("#sexo-hijo").val(2);
				if(data != ""){
					var dataHijo = JSON.parse(data);

					console.log("Busqueda DNI ==> ",dataHijo);

						$(dataHijo).each(function(index,valor){
							//if(valor.edad <= 17 ){
                                $("#apellidoPaterno-hijo").attr('readonly', true);
                                $("#apellidoMaterno-hijo").attr('readonly', true);
                                $("#nombre-hijo").attr('readonly', true);
                                $("#fechaNacimiento-hijo").attr('readonly', true);
                                $("#sexo-hijo").attr('readonly', true);
                                                                
								$("#apellidoPaterno-hijo").val(valor.apellidoPaterno);
								$("#apellidoMaterno-hijo").val(valor.apellidoMaterno);
								$("#nombre-hijo").val(valor.nombre);
								$("#fechaNacimiento-hijo").val(valor.fechaNacimiento);
								$("#sexo-hijo").val(valor.sexo);
								sessionStorage.removeItem("edad");	
								sessionStorage.setItem("edad",valor.edad);
						});					
					
						$('.cargarDatosParticipante').hide();
				}else{

						sessionStorage.removeItem("edad");
						$(".mensajeEdadParticpante").empty();
						$('.cargarDatosParticipante').hide();
						$(".mensajeEdadParticipante").append("(*Usted está registrado)");
                                                
				}
				
			},

			error: function(error){
				console.log(error);
			}

		});
		}

	}

</script>


{% endblock %}

