{% extends '::base.html.twig' %}
{% block title %}La Academia{% endblock %}
{% block body  %}

<header>
     <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    
                </button>                       
                <img src="{{ asset('assets/images/logo_academia.png') }}" class="img-responsive" alt="" />                              
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <br>
                <ul class="nav navbar-nav navbar-right">
                    
                    <li title="Horarios"><a href="{{url('akademia_mostrarTalentos')}}"><i class="icon-arrow-left" style="font-size:1.5em; color:white"></i></a></li>
                    <li title="Inicio"><a href="{{url('akademia_panel')}}"><i class="icon-home" style="font-size:1.5em; color:white"></i></a></li>
                    <li title="Cerrar sesión"><a href="{{url('akademia_logout')}}"><i class="icon-logout" style="font-size:1.5em; color:white" ></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<section >
    <br>
    <div style="width:93%">
        <p class="text-right" style="color:grey" >Usuario: {{ app.user.username}} </p>
    </div>

    <div class="proceso">
    
        <div class="proceso container-card col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="card row">

                <h3 class="text-center" style="color:black">{{talento[0]['nombre']}} </h3>
                <p  class="text-center" style="color:grey; font-size:12px">CODIGO DEL ALUMNO {{talento[0]['idParticipante']}}</p>
                <input type="hidden" id="idPartTalento" value="{{talento[0]['idParticipante']}}">
                <hr>

                {% if talento[0]['foto'] != NULL %}
                    <div class="text-center col-xs-12 col-sm-3 col-md-3 col-lg-3">              
                        <img src="{{ asset('assets/images/imagesFoto')}}/{{talento[0]['foto']}}" width="140" height="170" style="margin-top: 30px; margin-bottom: 10px;">               

                    </div>
                
                {% else %}

                    <div class="text-center col-xs-12 col-sm-3 col-md-3 col-lg-3">              
                        <img src="{{ asset('assets/images/man.png')}}" width="150" height="160" style="margin-top: 30px; margin-bottom: 10px;">
                    </div>

                {% endif %}
                

                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">              
                    <br>
                    <div class="row">
                        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">              
                            <div class="row">
                                <div class="form-group col-xs-5 col-sm-5 col-md-3 col-lg-4">                
                                    <strong><p>DNI: </p></strong>
                                </div>                      

                                <div class="form-group col-xs-7 col-sm-7 col-md-9 col-lg-8">                
                                    <p id="deportista_dni">{{talento[0]['dni']}}</p>
                                </div>                      
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">              
                            <div class="row">
                                <div class="form-group col-xs-5 col-sm-5 col-md-3 col-lg-4">                
                                    <strong><p>Edad: </p></strong>
                                </div>                      

                                <div class="form-group col-xs-7 col-sm-7 col-md-9 col-lg-8">                
                                    <p id="deportista_edad"> {{talento[0]['edad']}} años</p>
                                </div>                      
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">              
                            <div class="row">
                                <div class="form-group col-xs-5 col-sm-5 col-md-3 col-lg-4">                
                                    <strong><p>Disciplina: </p></strong>
                                </div>                      
                                <div class="form-group col-xs-7 col-sm-7 col-md-9 col-lg-8">                
                                    <p id="deportista_disciplina">{{talento[0]['nombreDisciplina']}}</p>
                                </div>                      
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">              

                            <div class="row">

                                <div class="form-group col-xs-5 col-sm-5 col-md-3 col-lg-4">                
                                    <strong><p>Complejo: </p></strong>
                                </div>                      

                                <div class="form-group col-xs-7 col-sm-7 col-md-9 col-lg-8">                
                                    <p id="deportista_complejo_deportivo"> {{talento[0]['nombreComplejo']}}</p>
                                </div>                      
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">              
                            <div class="row">
                                <div class=" col-xs-5 col-sm-5 col-md-3 col-lg-4">              
                                    <strong><p>Ficha técnica: </p></strong>
                                </div>                      
                                <div class="form-group col-xs-7 col-sm-7 col-md-9 col-lg-8">
                                    <a href="{{ asset('assets/images/imagesFicha')}}/{{talento[0]['ficha']}}" target="_blank"> Link Ficha</a>           
                                </div>  
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">              
                            <div class="row">

                                <div class="form-group col-xs-5 col-sm-5 col-md-3 col-lg-4">                
                                    <strong><p>Video Youtube:</p></strong>
                                </div>                      
                                <div class="form-group col-xs-7 col-sm-7 col-md-9 col-lg-8">
                                    <a href="{{talento[0]['link']}}" target="_blank"> Link Video </a>
                                </div>                          
                            </div>
                        </div>                 
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                            <div class="row">
                                <div class="col-xs-5 col-sm-5 col-md-3 col-lg-4">
                                    <strong><p>Comentarios: </p></strong>
                                </div>
                                <div class="form-group col-xs-7 col-sm-7 col-md-9 col-lg-8">
                                    <p id="comentarios_talentos">{{talento[0]['comentarios']}}</p>
                                </div>
                            </div> 
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="row">
                                <div class="col-xs-5 col-sm-5 col-md-4 col-lg-4">
                                    <strong><p>App : </p></strong>
                                </div>
                                <div class="form-group col-xs-7 col-sm-7 col-md-8 col-lg-8">
                                    {% if talento[0]['visible'] == 0 %}
                                        <p>No es visible.</p>
                                    {% else %}
                                        <p>Sí es visible.</p>
                                    {% endif %}
                                </div>
                            </div> 
                        </div>

                    </div>

                    <hr>


                    <div class="row">
                        <div class="form-group col-xs-11 col-sm-11 col-md-11 col-ld-11 ">
                            <div class="row">
                                <div class="form-group col-xs-8 col-sm-8 col-md-8 col-ld-8">
                                    <p style="color:grey">¿Deseas que este participante sea visto desde el App Mobile ? </p>
                                </div>
                                <div class="form-group col-xs-2 col-sm-2 col-md-2 col-ld-2">  
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <input type="checkbox" name="cbx-visualizacion" id="cbx-visualizacion" value="1">
                                        </span>
                                        <p type="text" class="form-control">Si</p>
                                    </div>
                                </div>

                                <div class="form-group col-xs-2 col-sm-2 col-md-2 col-ld-2">  
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <input type="checkbox" name="cbx-novisualizacion" id="cbx-novisualizacion" value="0">
                                        </span>
                                        <p type="text" class="form-control">No</p>
                                    </div>
                                </div>

                            </div>
                            <br>
                            <div id="advertencia" class="alert alert-success collapse text-center">
                                <div class="row">
                                    <div class="form-group col-xs-10 col-sm-10 col-md-10 col-ld-10">
                                        <p style="font-size:14px"> Este nuevo talento será visto a nivel nacional desde la aplicación AcademiaApp. <br>¿ Deseas continuar ?</p>
                                    </div>
                                    <div class="form-group col-xs-2 col-sm-2 col-md-2 col-ld-2">
                                         <button title="Guardar" id="btnCatTalento" class="btn btn-danger" data-toggle="modal"><i class="icon-save"></i> Guardar</button>
                                    </div>
                                </div>
                            </div>
                             <div id="advertencia1" class="alert alert-danger collapse text-center">
                                <div class="row">
                                    <div class="form-group col-xs-10 col-sm-10 col-md-10 col-ld-10">
                                        <p style="font-size:14px"> No se mostrará información de este talento en la aplicación AcademiaApp <br>¿ Deseas continuar ?</p>
                                    </div>
                                    <div class="form-group col-xs-2 col-sm-2 col-md-2 col-ld-2">
                                         <button title="Guardar" id="btnCatTalento1" class="btn btn-danger" data-toggle="modal"><i class="icon-save"> </i> Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>

        <hr>
        <div class="proceso container-card col-xs-12 col-sm-12 col-md-12 col-lg-12">
            
            <h4 style="color:grey">HISTORIAL DE MEDICIONES FISICAS DEL DEPORTISTA</h4>

            <div class="card">      
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-ld-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="panel panel-default" style="overflow-x:auto;">
                                    <table class="table"> 
                                        <thead style="background:#A27218; color:#F2F2F2;"> 
                                            <tr class="text-center"> 
                                                
                                                <th>Fecha</th> 
                                                <th>Peso</th> 
                                                <th>Talla</th>
                                                <th>50m</th> 
                                                <th>Flexib.<br>Tronco</th> 
                                                <th>Equilib.</th> 
                                                <th>Flex. Brazo</th> 
                                                <th>Salto Horiz.</th> 
                                                <th>Salto Verti.</th> 
                                                <th>Lanz. Pelota</th>
                                                <th>Abdom.</th>
                                                
                                                <th>1000m</th>
                                                <th></th>
                                            </tr>
                                            <tr class="text-center">
                                                <td></td>
                                                <td>kg</td>
                                                <td>cm</td>
                                                <td>seg</td>
                                                <td>cm</td>
                                                <td>Rpt./1 min</td>
                                                <td>Rpt./30 seg</td>
                                                <td>s/c cm</td>
                                                <td>s/i cm</td>
                                                <td>m</td>
                                                <td>Rpt./30 seg</td>
                                                <td>(seg)</td>
                                                <td></td>
                                            </tr>

                                        </thead> 

                                        <tbody class="text-center"> 

                                            {% for numero in numeros %}
                                                <tr>
                                                    <td>{{numero['fecha']|date('d/m/Y')}}</td>
                                                    {% for control in controles %}
                                                        
                                                        {% if control['control_id'] == numero['id'] %}

                                                            <td>{{control['valor']}}</td> 

                                                        {% endif %}

                                                    {% endfor %}
                                                   
                                                </tr>
                                            {% endfor %}                                            
                                        </tbody> 
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>

</section>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
                <br>
                <br>
                <br>
                <img class="align-self-center foot" src="{{ asset('assets/images/ipdfooter.jpg')}}">
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <br><br>
                <h4>La Academia</h4>
                <p class="footerTex">
                    Dirección:Calle Madre de Dios N° 463
                </p>
                <p class="footerTex">
                    Teléfono: 204-8420 /anexo 1302
                </p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <br><br>
                <h4>Enlaces de Interés</h4>
                <p><a class="footerTex" href="http://www.ipd.gob.pe/">Instituto Peruano del Deporte</a></p>
                <p><a class="footerTex" href="https://www.facebook.com/recreacion.ipd/">Facebook Recreación</a></p>
                <p><a class="footerTex" href="http://www.ipd.gob.pe/formacion-deportiva">Formación Deportiva</a></p>
            </div>
        </div>
        <br>
        <p class="col-xs-12 col-sm-12 col-md-12 col-lg-12 copyright">&copy; 2018 Todos los derechos reservados</p>
    </div>
</footer>


{% endblock %}


{% block javascripts %}

<script src="{{asset('assets/vendor/jquery/dist/jquery.js')}}"></script>
<script src="{{asset('assets/vendor/bootstrap/dist/js/bootstrap.js')}}"></script>
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/alertify.min.js"></script>


<script type="text/javascript">
    
    /*MOSTRAR TALENTO EN LA APLICACION MOVIL*/

    $('#cbx-visualizacion').on( 'click', function() {
        
        if($(this).is(':checked'))
        {
            $("#advertencia").show();
            $("#advertencia1").hide();
            $("#cbx-novisualizacion").prop('checked', false);
            sessionStorage.setItem('flagCatTalento',$(this).val());
        
        }else{

            $("#advertencia").hide();
            sessionStorage.removeItem('flagCatTalento');
        }
    });   

    $('#cbx-novisualizacion').on( 'click', function() {
        
        if($(this).is(':checked'))
        {
            $("#advertencia1").show();
            $("#advertencia").hide();
            $("#cbx-visualizacion").prop('checked', false);
            sessionStorage.setItem('flagCatTalento',$(this).val());
        
        }else{

            $("#advertencia1").hide();
            sessionStorage.removeItem('flagCatTalento');
        }

    });     
  
    $("#btnCatTalento1").on('click', function(){

        let visibilidad = sessionStorage.getItem('flagCatTalento');
        let idParticipante = $('#idPartTalento').val();

        var dataEnvio = {
            "idParticipante" : idParticipante,
            "visibilidad" : visibilidad
        };

        $.ajax({

            type:'POST',
            url: "{{url('akademia_visibilidadApp')}}",
            data: dataEnvio,
            
            success: function(data){
                if(data == 1){
                
                    alertify.success('<p style="color:white">El cambio se actualizó correctamente. </p>');
                    location.reload(true);
                
                }else{

                    alertify.error('<p>Se produjo un error al actualizar. </p>')
                }
                
            },
            error: function(error){

                console.log(error);
            }
                    
        });
        
    });

    $('#btnCatTalento').on('click', function(){

        let visibilidad = sessionStorage.getItem('flagCatTalento');
        let idParticipante = $('#idPartTalento').val();

        var dataEnvio = {
            "idParticipante" : idParticipante,
            "visibilidad" : visibilidad
        };

        $.ajax({

            type:'POST',
            url: "{{url('akademia_visibilidadApp')}}",
            data: dataEnvio,
            
            success: function(data){
                if(data == 1){
                    alertify.success('<p style="color:white">El cambio se actualizó correctamente. </p>');
                    location.reload(true);
                
                }else{

                    alertify.error('<p>Se produjo un error al actualizar. </p>')
                }
                
            },
            error: function(error){

                console.log(error);
            }
                    
        });

    });




    /* MOSTRAR MENSAJE DE ALERTA */
    function showAlertMessage(alert, mensaje){
        $(alert).text(mensaje).show('fade');
        setTimeout(function(){
            hideAlertMessage(alert);    
        }, 2000);
    }

    /* COULTAR ALERTA*/
    function hideAlertMessage(alert){
        $(alert).hide('fade');
    }


</script>

{% endblock %}