{% extends '::base.html.twig' %}
{% block title %}La Academia{% endblock %}
{% block body  %}

<div class="proceso">

	<div class="proceso-inscripcion__horarios" id="process4">
		<div class="container-card col-xs-12 col-sm-12 col-md-8 col-lg-7">
			<div class="card">
				<p class="title-card text-center">ELIGE UN COMPLEJO DEPORTIVO</p>
				<hr>
				<div class="complejo row">
					<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
						<label class="text-left">Departamento</label>
						<div>
			            	<select id="departamentoHorario" class="effect-3"  name="departamentoHorario" onchange="cambiarDepartamentoHorario(this)">
			                	<option value="">--Seleccionar--</option>
			                	{% for  dep in  departamentos  %}
									{% for depFlag in departamentosFlag %}

										{%  if dep['id'] == depFlag['idDepartamento'] %}
											<option value="{{dep['id']}}">{{dep['nombre']}}</option>
										{% endif %}

									{% endfor %}
			                	{% endfor %}	
			            	</select>
			            	<span class="focus-border"></span>
			        	</div>
		        	</div>

		            <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
		            	<label class="text-left">Provincia</label>
		            	<div>
		                	<select  id="provinciaHorario" class="effect-3"  name="provinciaHorario" onchange="cambiarProvinciaHorario(this)">
		                    	<option value=""> -- Seleccionar --</option>
		                	</select>
		                	<span class="focus-border"></span>
		                </div>               
		            </div>

		            <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
		            	<label class="text-left">Distrito</label>
		            	<div>
		                	<select id="distritoHorario" name="distritoHorario" onchange="cambiarDistritoHorario(this)"  class="effect-3">
		                    	<option value=""> -- Seleccionar --</option>
		                	</select> 
		                	<span class="focus-border"></span>
		            	</div>
		            </div>

		            <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
		        		<label class="text-left">Complejo Deportivo</label>
		        		<div>
		            		<select id="complejosDeportivo" name="complejosDeportivo" class="effect-3" onchange="cambiarComplejoDeportivo(this)">
		                		<option value=""> -- Seleccionar --</option>
		            		</select>
		            		<span class="focus-border"></span>
		            	</div>
		        	</div>
				</div>

				<div class="mapa row">
					<iframe  id="iframe_lugar" class= "well well-sm col-xs-12 col-sm-12" width="800" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q='Peru%20lima'&key=AIzaSyDv9gTXqhO_IlpmDDEpVyE2DHpYcsVKp80" allowfullscreen></iframe>
				</div>
		   </div>
		</div>


		<div class="container-card col-xs-12 col-sm-12 col-md-4 col-lg-5">
			<div class="card">
				<p class="title-card text-center">DEPORTES Y HORARIOS</p>
				<hr>
		        <div class="form-group container-select-deporte">
		        	<div>
		        		<label>Deporte </label>
		            	<select id="disciplinaDeportiva" name="disciplinaDeportiva" class="effect-3 text" onchange="cambiarDisciplinaDeportiva(this)" >
		                	<option value=""> -- Seleccionar --</option>
		            	</select>
		            	<span class="focus-border"></span> 
		        	</div>
		        </div>
		        <br>
		        <div class="form-group container-select-deporte">
		        	<div>
		        		<label>Horario </label>
		            	<select id="horario" name="horario" class="effect-3 " onchange="cambiarHorario(this)" >
		                	<option value=""> -- Seleccionar --</option>
		            	</select>
		            	<span class="focus-border"></span> 
		        	</div>
		        </div>
		        <br>
		        <div id="alerta-error" class="alert alert-danger collapse"></div>
		        <br>
		        <div class="form-group  container-horario-participante">
		        	<div id="rango-edad-horario" ></div>
		        	<div>
		        		<div id="turno"></div>
		        		<div id="rango-hora-horario"></div>
		        	</div>
		        	
		        	<div id="vacantes"  style="color:grey; font-size:14px;"></div>
		        	<br>
		        	<div id="mensaje" style="color:grey; font-size:16px;"></div>
		        </div>
		        <br>
		        <hr>
		        <div class="form-group row" >
		        	<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
		        		<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Otras Edades</button>
		        	</div>
					<div class="form-group container-boton-final col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
						<button class="btn btn-danger" id="boton-next-final">Finalizar Pre-inscripción</button>
					</div>	
				</div>	
			</div>
		</div>
	</div>

	<div class="proceso" id="process5">

		{% if is_granted('ROLE_ADMIN') %}

		<div class="row proceso">
		
			<div class="container-card col-xs-12 col-sm12 col-md-5 col-ld-5">
				<div class="card">
						<p class="title-card text-center">FICHA DE INSCRIPCIÓN</p>
						<p class="title-card text-center">ACADEMIA IPD INVIERNO 2018</p>
						<hr>
						
						<div id="alerta-confirmacionFicha" class="alert alert-success collapse"></div>
						<div id="alerta-errorFicha" class="alert alert-danger collapse"></div>


						<div class="row">

							<a class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right" id="inscribirPreinscrito"><button id="btn-inscripcion" class="btn btn-danger"><i class="icon-pencil-square-o" style="font-size:1.3em;"></i> Confirmar Inscripción</button></a>

						</div>
						
						<hr>
						<div class="pdf_inscripcion__ficha row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="campos col-xs-4 col-sm-4 col-md-4 col-lg-4"> 	
									<p>Código de ficha</p>
									<p>Nombre</p>
									<p>Ape. Paterno</p>
									<p>Ape. Materno</p>
									<p>Distrito</p>
									<p>Domicilio</p>
									<p>Fecha Nacimiento</p>
									<p>Teléfono</p>
									<p>DNI</p>
									<p>Edad</p>
									<p>Email</p>
									<p>Deporte</p>
									<p>Complejo</p>
									<p>Horario</p>
								</div>

								<div class="valores col-xs-8 col-sm-8 col-md-8 col-lg-8"> 
									<p id="codigo-inscripcionRef"></p>
									<p id="nombre-ficha"></p>
									<p id="apellidoPaterni-ficha"></p>
									<p id="apellidoMaterno-ficha"></p>
									<p id="distrito-ficha"></p>
									<p id="domicilio-ficha"></p>
									<p id="fechaNacimiento-ficha"></p>
									<p id="telefono-ficha"></p>
									<p id="dni-ficha"></p>
									<p id="edad-ficha"></p>
									<p id="email-ficha"></p>
									<p id="deporte-ficha"></p>
									<p id="complejo-ficha"></p>
									<p id="horario-ficha"></p>
									<input type="hidden" name="codigo-inscripcion" id="codigo-inscripcion">
								</div>
							</div>
							
						</div>
						<hr>
						<div class="row">
							
							<a class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center" href="" id="ancla-imprimir-fichaInscripcion"  target="_blank" ><button id="btn-imprimir-fichaInscripcion"  class="btn btn-default" style="margin: 5px;"><i class="icon-print" style="font-size:1.3em;" ></i> Imprimir Ficha</button></a>

							<a class="col-xs-12 col-sm-5 col-md-5 col-lg-5 text-center" href=""  id="ancla-imprimir-declaracion-jurada" target="_blank"><button id="btn-imprimir-declaracion-jurada" class="btn btn-default" style="margin: 5px;"><i class="icon-print" style="font-size:1.3em;"></i> Imprimir Declaración Jurada</button></a>
					
						</div>

					</div>
			</div>

		</div>

		{% else %}

		<div class="row">

			<div class="container-card col-xs-12 col-sm-12 col-md-8 col-lg-7">
				<div class="card">
					<p class="title-card text-center">PRE-INSCRIPCIÓN CONFIRMADA <i class="icon-checklist" style="font-size:1.4em;"></i></p>
					<hr>
					<p class="text-center">
						Valida tu inscripción en el complejo deportivo <br> que seleccionaste de 3 p.m. a 6 p.m.
	
					</p><br>
					<p class="text-center" style="color: #BB2626">
						<strong>NO SE RESERVAN VACANTES.</strong>
					</p>
					<div class="lista-requisitos"> 
						<p><strong>OBLIGATORIO</strong></p>
						<ol>
							<li>Presentar ficha de inscripción y declaración jurada firmada y con la huella dactilar del apoderado.</li>
							<li>DNI del menor de edad y del apoderado (original y copia).</li>
							<li>Presentar ficha de seguro activo (SIS, EsSalud, o privado).</li>
							<li>Foto tamaño carnet del menor de edad (actual). </li>
						</ol>
					</div>
					<hr>
					<div class="row">
						<a class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center" href="" id="ancla-imprimir-fichaInscripcion"  target="_blank" ><button id="btn-imprimir-fichaInscripcion"  class="btn btn-danger" style="margin: 5px;"><i class="icon-print" style="font-size:1.3em;" ></i> Imprimir Ficha</button></a>

						<a class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center" href=""  id="ancla-imprimir-declaracion-jurada" target="_blank"><button id="btn-imprimir-declaracion-jurada" class="btn btn-danger" style="margin: 5px;"><i class="icon-print" style="font-size:1.3em;"></i> Imprimir Declaración Jurada</button></a>
					</div>
				</div>
			</div>

			<div class="container-card col-xs-12 col-sm-12 col-md-4 col-lg-5">
				<div class="card">
					<p class="title-card text-center">FICHA DE INSCRIPCIÓN</p>
					<p class="title-card text-center">ACADEMIA IPD INVIERNO 2018</p>
					<hr>
					
					<div id="alerta-confirmacion" class="alert alert-success collapse"></div>
					<div id="alerta-error" class="alert alert-danger collapse"></div>
					
					<div class="pdf_inscripcion__ficha row">
						<div class="campos col-xs-4 col-sm-4 col-md-4 col-lg-4"> 	

							<p>Nombre</p>
							<p>Ape. Paterno</p>
							<p>Ape. Materno</p>
							<p>Distrito</p>
							<p>Domicilio</p>
							<p>F.Nacimiento</p>
							<p>Teléfono</p>
							<p>DNI</p>
							<p>Edad</p>
							<p>Email</p>
							<p>Deporte</p>
							<p>Complejo</p>
							<p>Horario</p>
						</div>

						<div class="valores col-xs-8 col-sm-8 col-md-8 col-lg-8"> 
							<p id="nombre-ficha"></p>
							<p id="apellidoPaterni-ficha"></p>
							<p id="apellidoMaterno-ficha"></p>
							<p id="distrito-ficha"></p>
							<p id="domicilio-ficha"></p>
							<p id="fechaNacimiento-ficha"></p>
							<p id="telefono-ficha"></p>
							<p id="dni-ficha"></p>
							<p id="edad-ficha"></p>
							<p id="email-ficha"></p>
							<p id="deporte-ficha"></p>
							<p id="complejo-ficha"></p>
							<p id="horario-ficha"></p>
							<input type="hidden" name="codigo-inscripcion" id="codigo-inscripcion">
						</div>
					</div>
					<hr>
				</div>
			</div>

		</div>

		{% endif %}		
	</div>

</div>

{% endblock %}

{% block javascripts %}

	<script>

		$("#process5").hide();

		var departamentoHorario = document.querySelector("#departamentoHorario");
		var cambiarDepartamentoHorario = (depHor)=>{

			var valDepHor = depHor.value;

			$("#provinciaHorario").empty();
			$("#distritoHorario").empty();
			$("#provinciaHorario").append("<option value='' >--Seleccionar--</option>");
			$("#distritoHorario").append("<option value='' >--Seleccionar--</option>");
			$("#complejosDeportivo").empty();
			$("#complejosDeportivo").append("<option value='' >--Seleccionar--</option>");
			$("#disciplinaDeportiva").empty();
			$("#disciplinaDeportiva").append("<option value='' >--Seleccionar--</option>");
			$("#horario").empty();
			$("#horario").append("<option value='' >--Seleccionar--</option>");

		    {% for  pro in  provincias  %}

				{% for proFlag in provinciasFlag %}
						
					if ( "{{pro['idDepartamento']}}" == "{{proFlag['idDepartamento']}}" && "{{pro['idProvincia']}}" == "{{proFlag['idProvincia']}}" &&  "{{proFlag['idDepartamento']}}" == valDepHor ){

						$("#provinciaHorario").append("<option value={{proFlag['idProvincia']}}  data-departamento={{pro['idDepartamento']}} >{{pro['nombreProvincia']}}</option>");
					}

				{% endfor %}
		  	{% endfor %}

		}

		var cambiarProvinciaHorario = (proHor)=>{
			
			idDepartamentoHorario = $(proHor[1]).attr('data-departamento');
			var valProHor = proHor.value;

			$("#distritoHorario").empty();
			$("#distritoHorario").append("<option value='' >--Seleccionar--</option>");
			$("#complejosDeportivo").empty();
			$("#complejosDeportivo").append("<option value='' >--Seleccionar--</option>");
			$("#disciplinaDeportiva").empty();
			$("#disciplinaDeportiva").append("<option value='' >--Seleccionar--</option>");
			$("#horario").empty();
			$("#horario").append("<option value='' >--Seleccionar--</option>");

		  	{% for  dis in  distritos  %}	
				{% for disFlag in distritosFlag %}
							
					if("{{dis['idDepartamento']}}" == "{{disFlag['idDepartamento']}}" && "{{dis['idProvincia']}}" == "{{disFlag['idProvincia']}}" &&  "{{dis['idDistrito']}}" == "{{disFlag['idDistrito']}}" &&  "{{disFlag['idDepartamento']}}" == idDepartamentoHorario &&  "{{disFlag['idProvincia']}}" == valProHor){
								
						$("#distritoHorario").append("<option value={{disFlag['identDistrito']}}>{{disFlag['nombreDistrito']}}</option>");
						}
				{% endfor %}
			  {% endfor %}
		}

		for (let i = 0; i < departamentoHorario.length; i++) {
			if(parseInt(departamentoHorario[i].value) == parseInt(sessionStorage.getItem('horIdDepartamento')) ){

				departamentoHorario[i].setAttribute('selected','selected');
				cambiarDepartamentoHorario(departamentoHorario);
				var provinciaHorario = document.querySelector("#provinciaHorario");
				
				for (let j = 0; j < provinciaHorario.length; j++) {
					if(parseInt(provinciaHorario[j].value) == parseInt(sessionStorage.getItem('horIdProvincia')) ){
						provinciaHorario[j].setAttribute('selected','selected');
						console.log("Provincia Horario ==>",provinciaHorario[j]);
						cambiarProvinciaHorario(provinciaHorario);
					}					
				}
			}
		}



		var cambiarDistritoHorario =  (disHor)=>{

			var idDistritoHorario = disHor.value;
			$("#complejosDeportivo").empty();
			$("#complejosDeportivo").append("<option value='' >--Seleccionar--</option>");
			$("#disciplinaDeportiva").empty();
			$("#disciplinaDeportiva").append("<option value='' >--Seleccionar--</option>");
			$("#horario").empty();
			$("#horario").append("<option value='' >--Seleccionar--</option>");

			{% for comDep in complejosDeportivos  %}

					if("{{comDep['ubicodigo']}}" == idDistritoHorario){
							$("#complejosDeportivo").append("<option value={{comDep['id']}} >{{comDep['nombre']}}</option>");
					}
			{% endfor %}
		}

		var cambiarComplejoDeportivo = (comDep)=>{

			var idComplejoDeportivo = comDep.value;
			
			$("#vacantes").empty();
			$("#turno").empty();
			$("#rango-edad-horario").empty();
			$("#rango-hora-horario").empty();
			$("#mensaje").empty();	

			$("#disciplinaDeportiva").empty();
			$("#disciplinaDeportiva").append("<option value='' >--Seleccionar--</option>");
			$("#horario").empty();
			$("#horario").append("<option value='' >--Seleccionar--</option>");

			{% for disDep in disciplinasDeportivas  %}

				if("{{disDep['idComplejoDeportivo']}}" == idComplejoDeportivo){
					
					var nombreDis = "{{ disDep['nombreDisciplina'] }} ";
					$("#disciplinaDeportiva").append("<option value = {{disDep['id']}}>"+nombreDis.trim()+"</option>");

				}
			{% endfor %}		
		}


		var cambiarDisciplinaDeportiva = (comDis)=>{
			
			$("#horario").empty();
			$("#horario").append("<option value='' >--Seleccionar--</option>");

			var idComplejoDisciplina = comDis.value;
				$("#boton-next-final").attr("disabled", false);
				$("#rango-hora-horario").empty();
				$("#rango-edad-horario").empty();
				$(".horario-otrasEdades").empty();
				$("#turno").empty();
				$("#vacantes").empty();
				$("#mensaje").empty();
						
				var cantHorarios = 0;

				{% for horario in horarios  %}

					var horaInicio ="{{horario['horaInicio']}}".substr(0,5);
					var horaFin = "{{horario['horaFin']}}".substr(0,5);

					if("{{horario['edi_codigo']}}" == idComplejoDisciplina){
							
    					if(parseInt(sessionStorage.getItem("edad")) >= parseInt("{{horario['edadMinima']}}") && parseInt(sessionStorage.getItem("edad")) <= parseInt("{{horario['edadMaxima']}}")){

								localStorage.removeItem('idHorario');
								sessionStorage.setItem("idHorario", "{{horario['id']}}");
								
								$("#horario").append("<option value={{horario['id']}} > {{horario['turno']}} " + " de "+horaInicio+" a "+horaFin+"</option>");
								cantHorarios = cantHorarios + $('#horario').length;


						}else{

							$(".horario-otrasEdades").append("{{horario['edadMinima']}} a {{horario['edadMaxima']}} años  "+horaInicio+"  a  "+horaFin+" am. {{horario['turno']}}<br>");
						}
					}
				{% endfor %}

				if(cantHorarios == 0){
					$("#rango-hora-horario").empty();
					$("#rango-edad-horario").empty();
					$("#turno").empty();
					$("#mensaje").empty();
					$("#vacantes").append("<strong> No hay vacantes disponibles. </strong>");
				}

		}

		var cambiarHorario=  (horario)=>{

			console.log("Edad niño ==>",sessionStorage.getItem("edad"));

			$("#horaInicio").empty();
			$("#horaFin").empty();
			$("#edadMinima").empty();
			$("#edadMaxima").empty();
			$("#vacantes").empty();
			$("#mensaje").empty();
			var idHorario = horario.value;

			{% for horario in horarios  %}

				var horaInicio ="{{horario['horaInicio']}}".substr(0,5);
				var horaFin = "{{horario['horaFin']}}".substr(0,5);
				var mensaje = "{{mensaje}}"

				if("{{horario['id']}}" == idHorario){

					if(parseInt(sessionStorage.getItem("edad")) >= parseInt("{{horario['edadMinima']}}") && parseInt(sessionStorage.getItem("edad")) <= parseInt("{{horario['edadMaxima']}}")){

						localStorage.removeItem('idHorario');
						sessionStorage.setItem("idHorario", "{{horario['id']}}");

						$("#vacantes").empty();
						$("#turno").empty();
						$("#turno").append(" {{horario['turno']}} ");

						$("#rango-hora-horario").empty();
						$("#rango-hora-horario").append(" : De  "+horaInicio+" a "+horaFin);

						$("#mensaje").empty();
						$("#mensaje").append(mensaje);
						
						$("#rango-edad-horario").empty();
						$("#rango-edad-horario").append(" <strong> De {{horario['edadMinima']}} a {{horario['edadMaxima']}} años. </strong> ");
					}		
				}

			{% endfor %}
		}
	

$("#boton-next-final").on('click',function(){

	var disciplinaDeportiva = document.getElementById('disciplinaDeportiva').value;
	var horario =document.getElementById('horario').value;
	
	if( disciplinaDeportiva=="" || horario==""){
			alertify.error('<p style="color:white">Debe seleccionar Disciplina y/o Horario </p>'); 
	}else{
		
		$("#process4").hide();
		$("#process5").show('slow');	
		registrar();
	}
});

function registrar(){
	var dataRegisterApoderado={
		//DATOS APODERADO
		"dni" : sessionStorage.getItem('dni-apoderado'),
		"apellidoPaterno" : sessionStorage.getItem('apellidoPaterno-apoderado'),
		"apellidoMaterno" : sessionStorage.getItem('apellidoMaterno-apoderado'),
		"nombre" : sessionStorage.getItem('nombre-apoderado'),
		"fechaNacimiento" : sessionStorage.getItem('fechaNacimiento-apoderado'),
		"sexo" : sessionStorage.getItem('sexo-apoderado'),
		"distrito" : sessionStorage.getItem('distrito-apoderado'),
		"direccion" : sessionStorage.getItem('direccion-apoderado'),
		"telefono" : sessionStorage.getItem('telefono-apoderado'),
		"correo" : sessionStorage.getItem('correo-apoderado'),
		//HORARIO
		'idHorario' : sessionStorage.getItem('idHorario'),
		//DATOS HIJO
		"dniParticipante" : sessionStorage.getItem('dni-participante'),
		"apellidoPaternoParticipante" : sessionStorage.getItem('apellidoPaterno-participante'),
		"apellidoMaternoParticipante" : sessionStorage.getItem('apellidoMaterno-partcipante'),
		"nombreParticipante" : sessionStorage.getItem('nombre-partcipante'),
		"fechaNacimientoParticipante" : sessionStorage.getItem('fechaNacimiento-partcipante'),
		"sexoParticipante" : sessionStorage.getItem('sexo-partcipante'),
		"parentesco" : sessionStorage.getItem('parentesco-partcipante'),
		"tipoSeguro" : sessionStorage.getItem('tipoSeguro-partcipante'),
		"discapacidad" :sessionStorage.getItem('flagDiscapacitado')
	};
	console.log("DATOS A REGISTRAR => ",dataRegisterApoderado);
	$.ajax({
		type:'POST',
		dataType: "json",
		url: "{{url('akademia_registrar')}}",
		data: dataRegisterApoderado,
		beforeSend: function(){	
			$("#boton-next-final").attr("disabled", true);		
		},
		success: function(data){
			$("#boton-next-final").attr("disabled", false);
			if(data != 1){
				$(".bar-inscripcion__4").removeClass('active');
				$(".bar-inscripcion__5").addClass('active');
				$("#process4").hide();
				$("#process5").show();
				var valor =JSON.parse(data)[0];
				sessionStorage.removeItem("idInscripcion");
				sessionStorage.setItem("idInscripcion",valor.id);
				$("#ancla-imprimir-fichaInscripcion").attr('href',"/academia/web/ajax/pdf/inscripcion/"+sessionStorage.getItem("idInscripcion"));
				$("#ancla-imprimir-declaracion-jurada").attr('href',"/academia/web/ajax/pdf/declaracion-jurada/"+sessionStorage.getItem("idInscripcion"));
				$("#codigo-inscripcionRef").append(valor.id);
				$("#nombre-ficha").append(valor.pernombres);
				$("#apellidoPaterni-ficha").append(valor.perapepaterno);
				$("#apellidoMaterno-ficha").append(valor.perapematerno);
				$("#distrito-ficha").append(valor.distrito);
				$("#domicilio-ficha").append(valor.perdomdireccion);
				$("#fechaNacimiento-ficha").append(valor.perfecnacimiento);
				$("#telefono-ficha").append(valor.pertelefono);
				$("#dni-ficha").append(valor.dni);
				$("#edad-ficha").append(sessionStorage.getItem("edad"));
				$("#email-ficha").append(valor.percorreo);
				$("#deporte-ficha").append(valor.nombreDisciplina);
				$("#complejo-ficha").append(valor.nombreComplejo);
				$("#horario-ficha").append(valor.horaInicio+" a "+valor.horaFin);
				$("#nombrePadre-declaracion-jurada").append(valor.nombrePadre);
				$("#codigo-inscripcion").val(valor.id);
			    enviarEmailApoderado(valor.percorreo,valor.nombrePadre,valor.id);
			}else{
				showAlertMessage('#alerta-error', "Lo sentimos, se agotaron las vacantes para este horario. ");
				$("#boton-next-final").attr("disabled", true);
				$("#process5").hide();
			}			
		},
		error: function(error){
			console.log("Error - oh no!");
		}
	});
}

function enviarEmailApoderado($correoApod,$nombre,$id){

	var correoApoderado = {
		"correo" : $correoApod,
		"nombre" : $nombre,
		"id" : $id,
	};

	$.ajax({
		type:'POST',
		dataType: 'json',
		url: "{{url('akademia_sendemailapoderado')}}",
		data: correoApoderado,
		beforeSend: function(){
			
		},
		success: function(data){
			 alertify.success('<p style="color:black">Correo enviando exitosamente.</p>');
		},
		error: function(error){
			 alertify.error('<p style="color:white">Se produjo un problema al enviar la información a su correo electrónico.</p> ');
		}	
	});
}


$("#inscribirPreinscrito").on('click',function(){
	var id = $('#codigo-inscripcion').val();
	console.log(id);
	var dataFicha = {
		"id" : id,
	}
	$.ajax({
		type:'POST',
		dataType: 'json',
		url: "{{url('akademia_cambiarestado')}}",
		data: dataFicha,
		beforeSend: function(){	
			$("#btn-inscripcion").attr("disabled", true);	
		},
		success: function(data){
			if (data == 1){
				$("#btn-confirmar-inscripcion").attr("disabled", true);
				$('#input-codigo-inscripcion').focus();
				showAlertMessage('#alerta-confirmacionFicha', "Ficha inscrita exitosamente !");
			
			}else if( data == 2){
				$("#btn-confirmar-inscripcion").attr("disabled", true);
				$('#input-codigo-inscripcion').focus();
				showAlertMessage('#alerta-errorFicha', "No existen vacantes disponibles para este Horario. ");
			
			}else if( data == 3){
				$("#btn-confirmar-inscripcion").attr("disabled", true);
				$('#input-codigo-inscripcion').focus();
				showAlertMessage('#alerta-errorFicha', "Este alumno ya se encuentra inscrito en esta disciplina. ");
			
			}else if( data == 4){
				$("#btn-confirmar-inscripcion").attr("disabled", true);
				$('#input-codigo-inscripcion').focus();
				showAlertMessage('#alerta-errorFicha', "El alumno excedió la cantidad de Inscripciones posibles.");
			}
		},
		error: function(error){
			console.log("Error en la captura de datos");
		}
    });
});

	</script>

	<script src="{{asset('assets/vendor/js/googleMapsComplejo.js')}}"></script>

{% endblock %}

