
{% extends '::base.html.twig' %}
{% block title %}La Academia{% endblock %}
{% block body  %}

<div class="proceso">
	<div class="proceso-inscripcion__horarios" id="process4">
		<div class="container-card col-xs-12 col-sm-12 col-md-8 col-lg-7">
			<div class="card">
				<p class="title-card text-center">ELIGE UN COMPLEJO DEPORTIVO</p>
				<hr>
				<div class="complejo row">
					<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
						<label class="text-left">Departamento</label>
			            <select id="departamentoHorario" class="form-control"  name="departamentoHorario" onchange="cambiarDepartamentoHorario(this)">
			                <option value="">--Seleccionar--</option>
			                {% for  dep in  departamentos  %}
												{% for depFlag in departamentosFlag %}
													
													{%  if dep['id'] == depFlag['idDepartamento'] %}

														<option value="{{dep['id']}}">{{dep['nombre']}}</option>

													{% endif %}

												{% endfor %}
			                {% endfor %}	
			            </select>
		        	</div>

		            <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
		            	<label class="text-left">Provincia</label>
		                <select  id="provinciaHorario" class="form-control"  name="provinciaHorario" onchange="cambiarProvinciaHorario(this)">
		                    <option value="">--Seleccionar--</option>
		                </select>               
		            </div>

		            <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
		            	<label class="text-left">Distrito</label>
		                <select id="distritoHorario" name="distritoHorario" onchange="cambiarDistritoHorario(this)"  class="form-control">
		                    <option value="">--Seleccionar--</option>
		                </select> 
		            </div>

		            <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
		        		<label class="text-left">Complejo Deportivo</label>
		            	<select id="complejosDeportivo" name="complejosDeportivo" class="form-control" onchange="cambiarComplejoDeportivo(this)">
		                <option value="">--Seleccionar--</option>
		            	</select>
		        	</div>
				</div>

				<div class="mapa row">
					<iframe  id="iframe_lugar" class= "well well-sm col-xs-12 col-sm-12" width="800" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q='Peru%20lima'&key=AIzaSyDv9gTXqhO_IlpmDDEpVyE2DHpYcsVKp80" allowfullscreen></iframe>
				</div>
		   </div>
		</div>


		<div class="container-card col-xs-12 col-sm-12 col-md-4 col-lg-5">
			<div class="card">
				<p class="title-card text-center">DEPORTES Y HORARIOS</p>
				<hr>
		        <div class="form-group container-select-deporte"  >
		        	<label>Deporte: </label>
		            <select id="disciplinaDeportiva" name="disciplinaDeportiva" class="form-control" onchange="cambiarDisciplinaDeportiva(this)" >
		                <option value="">--Seleccionar--</option>
		            </select> 
		        </div>
		        <div class="form-group container-select-deporte"  >
		        	<label>Horario: </label>
		            <select id="horario" name="horario" class="form-control" onchange="cambiarHorario(this)" >
		                <option value="">--Seleccionar--</option>
		            </select> 
		        </div>
		        <br>
		        <div id="alerta-error" class="alert alert-danger collapse"></div>
		        <br>
		        <div class="form-group  container-horario-participante">
		        	<div id="rango-edad-horario" ></div>
		        	<div>
		        		<div id="turno"></div>
		        		<div id="rango-hora-horario"></div>
		        	</div>
		        	<div id="vacantes"></div>
		        </div>
		        <br>
		        <hr>
		        <div class="form-group row" >
		        	<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
		        		<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Otras Edades</button>
		        	</div>
					<div class="form-group container-boton-final col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
						<button class="btn btn-danger" id="boton-next-final">Finalizar Inscripción</button>
					</div>	
				</div>	
			</div>
		</div>
	</div>
</div>

{#
<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">OTRAS EDADES</h4>
			</div>
			<div class="modal-body">
				<div class="horario-otrasEdades" >
				</div>
			</div>
			<div class="modal-footer">
				<br>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>#}

{% endblock %}

{% block javascripts %}

	<script>

		var cambiarDepartamentoHorario = (depHor)=>{

				var valDepHor = depHor.value;

				$("#provinciaHorario").empty();
				$("#distritoHorario").empty();
				$("#provinciaHorario").append("<option value='' >--Seleccionar--</option>");
				$("#distritoHorario").append("<option value='' >--Seleccionar--</option>");
				$("#complejosDeportivo").empty();
				$("#complejosDeportivo").append("<option value='' >--Seleccionar--</option>");
				$("#disciplinaDeportiva").empty();
				$("#disciplinaDeportiva").append("<option value='' >--Seleccionar--</option>");
				$("#horario").empty();
				$("#horario").append("<option value='' >--Seleccionar--</option>");

		    {% for  pro in  provincias  %}

					{% for proFlag in provinciasFlag %}
						
						if ( "{{pro['idDepartamento']}}" == "{{proFlag['idDepartamento']}}" && "{{pro['idProvincia']}}" == "{{proFlag['idProvincia']}}" &&  "{{proFlag['idDepartamento']}}" == valDepHor ){

							$("#provinciaHorario").append("<option value={{proFlag['idProvincia']}}  data-departamento={{pro['idDepartamento']}} >{{pro['nombreProvincia']}}</option>");

						}

					{% endfor %}
			  {% endfor %}

			}

			var cambiarProvinciaHorario = (proHor)=>{
				
				idDepartamentoHorario = $(proHor[1]).attr('data-departamento');
				var valProHor = proHor.value;

				$("#distritoHorario").empty();
				$("#distritoHorario").append("<option value='' >--Seleccionar--</option>");
				$("#complejosDeportivo").empty();
				$("#complejosDeportivo").append("<option value='' >--Seleccionar--</option>");
				$("#disciplinaDeportiva").empty();
				$("#disciplinaDeportiva").append("<option value='' >--Seleccionar--</option>");
				$("#horario").empty();
				$("#horario").append("<option value='' >--Seleccionar--</option>");

		  	{% for  dis in  distritos  %}	
					{% for disFlag in distritosFlag %}
							
						if("{{dis['idDepartamento']}}" == "{{disFlag['idDepartamento']}}" && "{{dis['idProvincia']}}" == "{{disFlag['idProvincia']}}" &&  "{{dis['idDistrito']}}" == "{{disFlag['idDistrito']}}" &&  "{{disFlag['idDepartamento']}}" == idDepartamentoHorario &&  "{{disFlag['idProvincia']}}" == valProHor){
								
								$("#distritoHorario").append("<option value={{disFlag['identDistrito']}}>{{disFlag['nombreDistrito']}}</option>");
						}
					{% endfor %}
			  {% endfor %}
			}

			var cambiarDistritoHorario =  (disHor)=>{

				var idDistritoHorario = disHor.value;
				$("#complejosDeportivo").empty();
				$("#complejosDeportivo").append("<option value='' >--Seleccionar--</option>");
				$("#disciplinaDeportiva").empty();
				$("#disciplinaDeportiva").append("<option value='' >--Seleccionar--</option>");
				$("#horario").empty();
				$("#horario").append("<option value='' >--Seleccionar--</option>");

				{% for comDep in complejosDeportivos  %}

						if("{{comDep['ubicodigo']}}" == idDistritoHorario){
								$("#complejosDeportivo").append("<option value={{comDep['id']}} >{{comDep['nombre']}}</option>");
						}
				{% endfor %}
			}

			var cambiarComplejoDeportivo = (comDep)=>{

				var idComplejoDeportivo = comDep.value;
				
				$("#vacantes").empty();
				$("#turno").empty();
				$("#rango-edad-horario").empty();
				$("#rango-hora-horario").empty();

				$("#disciplinaDeportiva").empty();
				$("#disciplinaDeportiva").append("<option value='' >--Seleccionar--</option>");
				$("#horario").empty();
				$("#horario").append("<option value='' >--Seleccionar--</option>");

				{% for disDep in disciplinasDeportivas  %}

					if("{{disDep['idComplejoDeportivo']}}" == idComplejoDeportivo){
						
						var nombreDis = "{{ disDep['nombreDisciplina'] }} ";
						$("#disciplinaDeportiva").append("<option value = {{disDep['id']}}>"+nombreDis.trim()+"</option>");

					}
				{% endfor %}		
			}


			var cambiarDisciplinaDeportiva = (comDis)=>{
				
				$("#horario").empty();
				$("#horario").append("<option value='' >--Seleccionar--</option>");

				var idComplejoDisciplina = comDis.value;
					$("#boton-next-final").attr("disabled", false);
					$("#rango-hora-horario").empty();
					$("#rango-edad-horario").empty();
					$(".horario-otrasEdades").empty();
					$("#turno").empty();
					$("#vacantes").empty();
							
					var cantHorarios = 0;


					{% for horario in horarios  %}

						var horaInicio ="{{horario['horaInicio']}}".substr(0,5);
						var horaFin = "{{horario['horaFin']}}".substr(0,5);

						if("{{horario['edi_codigo']}}" == idComplejoDisciplina){
								
							$("#horario").append("<option value={{horario['id']}} > {{horario['turno']}} de   "+horaInicio+" a "+horaFin+"</option>");

	    					if(sessionStorage.getItem("edad") >= {{horario.edadMinima}} && sessionStorage.getItem("edad") <= {{horario.edadMaxima}}){

									localStorage.removeItem('idHorario');
									sessionStorage.setItem("idHorario", "{{horario['id']}}");
									
									$("#horario").append("<option value={{horario['id']}} > {{horario['turno']}} de   "+horaInicio+" a "+horaFin+"</option>");
									cantHorarios = cantHorarios + $('#horario').length;

								}else{

									$(".horario-otrasEdades").append("{{horario['edadMinima']}} a {{horario['edadMaxima']}} años  "+horaInicio+"  a  "+horaFin+" am. {{horario['turno']}}<br>");
								}
						}
					{% endfor %}

					if(cantHorarios == 0){
						$("#rango-hora-horario").empty();
						$("#rango-edad-horario").empty();
						$("#turno").empty();
						$("#vacantes").append("<strong> No hay vacantes disponibles. </strong>");
					}

				}


		var cambiarHorario=  (horario)=>{

			$("#horaInicio").empty();
			$("#horaFin").empty();
			$("#edadMinima").empty();
			$("#edadMaxima").empty();
			$("#vacantes").empty();
			var idHorario = horario.value;

			{% for horario in horarios  %}

				var horaInicio ="{{horario['horaInicio']}}".substr(0,5);
				var horaFin = "{{horario['horaFin']}}".substr(0,5);

				if("{{horario['id']}}" == idHorario){

					if(sessionStorage.getItem("edad") >= {{horario.edadMinima}} && sessionStorage.getItem("edad") <= {{horario.edadMaxima}}){

						localStorage.removeItem('idHorario');
						sessionStorage.setItem("idHorario", "{{horario['id']}}");

						$("#vacantes").empty();
						$("#turno").empty();
						$("#turno").append(" {{horario['turno']}} ");

						$("#rango-hora-horario").empty();
						$("#rango-hora-horario").append("  de  "+horaInicio+" a "+horaFin);
						
						$("#rango-edad-horario").empty();
						$("#rango-edad-horario").append(" <strong> De {{horario['edadMinima']}} a {{horario['edadMaxima']}} años. </strong> ");
					}		
				}

			{% endfor %}
		}
	</script>

	<script src="{{asset('assets/vendor/js/googleMapsComplejo.js')}}"></script>

{% endblock %}

